<div [@routerTransition]>
    <app-page-header [heading]="'Edit'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                	 <h2 class="text-center">{{empformlabel}}</h2>  
           				<alert></alert>
                </div>

                <div class="col-md-10">  
      <form [formGroup]="addForm" novalidate class="form">    
      	
      	 <input  name="_id" type="hidden" formControlName="_id" >  
        <div class="form-group">  
          <label for="USERNAME">User Name:</label>  
          <input formControlName="username" placeholder="User Name" name="USERNAME" class="form-control" id="USERNAME">  
          <div class="alert  alert-danger" *ngIf="addForm.get('username').touched && addForm.get('username').hasError('required')">  
            User Name is required  
          </div>  
        </div>  
      
        <div class="form-group">  
          <label for="EMAIL">Email:</label>  
          <input formControlName="email" placeholder="Email" name="EMAIL" class="form-control" id="EMAIL">  
          <div class="alert  alert-danger" *ngIf="addForm.get('email').hasError('email') && addForm.get('email').touched">
            Email is required and must be a valid email address.  
          </div>  
        </div>  

        <div class="form-group">  
          <label for="TELEPHONE">Phone:</label>  
          <input formControlName="phone" placeholder="Telephone Number" name="TELEPHONE" class="form-control" id="TELEPHONE">  
          <div class="alert  alert-danger" *ngIf="addForm.get('phone').hasError('maxlength') && addForm.get('phone').touched">
            Phone is required and should be equal to 9 digits.  
          </div>  
        </div>  
      
        <div class="form-group">  
          <label for="PAYS">Country:</label>  
	        <select class="form-control" formControlName="country" name="PAYS" id="PAYS" >
		        <option [value]=""></option>
		        <option *ngFor="let pays of countries" [value]="pays.id">{{pays.name}}</option>
	        </select>  
          <div class="alert  alert-danger" *ngIf="addForm.get('country').hasError('required') && addForm.get('country').touched || addForm.get('country').hasError('required') ">  
            Country is required 
          </div> 
        </div> 

        <div class="row">
    <div class="form-group">
         <div class="radio">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input"  name="gender" formControlName="gender" value="male"><span class="custom-control-label">Male</span>
            </label>
         </div>
         <div class="radio">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gender" formControlName="gender" value="female"><span class="custom-control-label">Female</span>
            </label>
        </div>
    </div>
</div>        

<div class="row">
    <div class="form-group">
        <button class="btn btn-success mr-4" [disabled]='addForm.invalid' *ngIf="btnvisibility" (click)="onSubmit()">Save</button>   
        <button class="btn btn-success mr-4" [disabled]='addForm.invalid' *ngIf="!btnvisibility" (click)="onUpdate()">Update</button> 
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button> 
    </div>
</div>

         
      
        <!-- <p>Form value: {{ addForm.value | json }}</p>   -->
      </form>  
    </div>  
   
            </div> 
        </div>

    </div>
</div>
    
