<div [@routerTransition]>
    <app-page-header [heading]="'Role Edit'" [icon]="'fa-users'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                	 <h2 class="text-center">{{empformlabel}}</h2>  
           				<alert></alert>
                </div>

                <div class="col-md-10">  
      <form [formGroup]="addForm" novalidate class="form">    
      	
      	<input  name="_id" type="hidden" formControlName="_id" >  

        <div class="form-group">  
          <label for="USERNAME">Current User Role: <span *ngIf="userData.data" style="font-size: blue;font-weight: bold">{{ userData.data.username }}</span></label>  
          <p *ngIf="userData.data" style="font-size: green;font-weight: bold">{{ userData.data.title_role }} ({{ userData.data.slug_role }})</p>
        </div>  
      
      
        <div class="form-group">  
          <label for="role_id">Role :</label>  
	        <select class="form-control" formControlName="role_id" name="role_id" id="role_id" [ngClass]="{ 'is-invalid': submitted && f.role_id.errors }" >
		        <option [value]=""></option>
		        <option *ngFor="let valueRole of role_data.data" [value]="valueRole._id">{{valueRole.title}}  ({{valueRole.slug}})</option>
	        </select> 
          <div *ngIf="submitted && f.role_id.errors" class="invalid-feedback">
            <div *ngIf="f.role_id.errors.required">Role is required</div>
          </div> 
        </div> 
     

<div class="row">
    <div class="form-group"> 
        <button class="btn btn-success mr-4" [disabled]='addForm.invalid' *ngIf="!btnvisibility" (click)="onUpdate()">Update</button> 
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button> 
    </div>
</div>

         
      
        <!-- <p>Form value: {{ addForm.value | json }}</p>   -->
      </form>  
    </div>  
   
            </div> 
        </div>

    </div>
</div>
    
