<div [@routerTransition]>
    <app-page-header [heading]="'Roles Management'" [icon]="'fa-settings'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                	 <h2 class="text-center">{{empformlabel}}</h2>  
           				<alert></alert>
                </div>

                <div class="col-md-10">  
      <form [formGroup]="addForm" novalidate class="form">

    <input  name="id" type="hidden" formControlName="_id" >  

<div class="row">
	
     <div class="form-group col-md-6">  
        <label for="title-data">Title</label>  
        <input formControlName="title" placeholder="Role Title" class="form-control" id="title-data" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">  
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Role Title is required</div>
        </div>
     </div> 

     <div class="form-group col-md-6">  
	      <label for="slug-data">Slug</label>  
	      <input formControlName="slug" placeholder="Role Slug" class="form-control" id="slug-data" [ngClass]="{ 'is-invalid': submitted && f.slug.errors }">  
	      <div *ngIf="submitted && f.slug.errors" class="invalid-feedback">
	        <div *ngIf="f.slug.errors.required">Role Slug is required</div>
	      </div>
     </div> 

</div>
     

<div class="row">
    <div class="form-group col-md-12 text-center">
        <button class="btn btn-success mr-4"  *ngIf="btnvisibility" (click)="onSubmit()">Save</button>   
        <button class="btn btn-success mr-4"  *ngIf="!btnvisibility" (click)="onUpdate()">Update</button> 
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button> 
    </div>
</div>
      
        <!-- <p>Form value: {{ addForm.value | json }}</p>   -->

      </form>  
    </div>  
   
            </div> 
        </div>

    </div>
</div>
    
