<div [@routerTransition]>
    <router-outlet></router-outlet>
 <div *ngIf="route.children.length === 0">
    <app-page-header [heading]="'Roles'" [icon]="'fa-settings'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <alert></alert>
                    Roles : <b>Total "{{role_data?.length}}"</b>
                    <button style="text-align: right" (click)="add()" class="btn btn-success"> Add</button>                 
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead> 
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Slug</th>
                            <th>Created On </th>
                            <th>Modified On </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let val of role_data;let rank = index">
                            <td scope="row">{{rank+1}}</td>
                            <td style="color: green;font-weight: bold">{{val.title}}</td>
                            <td style="color: green;font-weight: bold">{{val.slug}}</td>
                            <td style="color: green;font-weight: bold">{{val.create_date | date}}</td>
                            <td style="color: green;font-weight: bold">{{val.update_date | date}}</td>
                            <td> <button (click)="edit(val._id)" style="margin-right: 20px;" class="btn btn-info"> Edit</button>  <button type="button" class="btn btn-danger" (click)="delete(val._id)"  >Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>

    </div>
    </div>
</div>