<div class="container">
  <h1 mat-dialog-title style="color: blue;"><b>Log out</b></h1>
    <mat-dialog-content>
      <p>
        <b>Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out? Dou you really want to log out?</b>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button style=" background: rgb(255, 0, 0); border: 2px rgb(255, 0, 0) solid; width: 70px; height: 30px;" (click)="logoutApp()">Yes</button>
      <button mat-button style="margin-left: 200px; background: rgb(52, 240, 52); border: 2px rgb(0, 255, 42) solid; width: 70px; height: 30px;" (click)="clo()">Cancel</button>
    </mat-dialog-actions>
</div>
