<div class="container">
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='AboutUs'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>About us</b></h2>
            <p><b>Let talk a bit about our company</b></p>
        </div>
        <div class="col-lg-12">
            <p>
                Help 123 is a one-stop platform for all of your handyman needs near you anywhere in South Africa. Based in Johannesburg, we are here to connect you immediately with the help you need to make your life easier.
            </p>
            <p>
                We’ve spent many years figuring out what works and what doesn’t, so that you don’t have to.
            </p>
            <p>
                The wisdom and invaluable experience we’ve gained allows us to get you the best of the best when you need them.
            </p>
            <p>
                Our drop-down list provides a wide range of services from electricians, plumbers, mechanics, roof repair specialists etc... visit Website www.help123.co.za
            </p>
        </div>
    </div>
<!-- HowItWorks -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='HowItWorks'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>How it works</b></h2>
            <p><b>Let talk a bit about aour company</b></p>
        </div>
        <div class="col-lg-12">
            <p>
                Help 123 is where the people and the help you need come together. Follow these simple steps: go to our Website www.help123.co.za and click on any service you need help with. The Website is fast to ensure you the best possible experience.
            </p>
        </div>
    </div>
<!-- Security -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Security'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>About us</b></h2>
            <p><b>Let talk a bit about aour company</b></p>
        </div>
        <div class="col-lg-12">
            <p>
                Security rules here
            </p>
        </div>
    </div>
    <!-- Sitemap -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Sitemap'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Sitemap</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                Our team dedicated team of highly motivated professionals is on stand-by 24/7 to handle the stressful aspect of your life when something goes wrong in your home, your car or when your pet swallows a nasty bone. 
            </p>
        </div>
    </div>
    <!-- OurTeam -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='OurTeam'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Our Team</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                Our team here
            </p>
        </div>
    </div>
    <!-- Services -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Services'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Services</b></h2>
            <p><b>Let talk a bit about our Services</b></p>
        </div>
        <div class="col-lg-12">
            <p>
                Our team here
            </p>
        </div>
    </div>
</div>
