  <!-- OUR PLANS  -->
            <div class="section-full text-left content-dash bg-gray">
                <div class="container">
                    
                     <div class="row" style="margin:0">
                       
                        <div class="col-md-12 col-lg-8 p-a20 m-tb30 ask-col">
                            
                          <form [formGroup]="askForm2" (ngSubmit)="onSubmit()">
                            <div class="section-content">
                                <h1>Ask For Help</h1> 
                                <span class="pull-right ask-step-text">2/2</span>
                                <hr style="border: 0; border-top: 3px solid #6d9ff3; margin: 20px 0px 20px;">

                            </div> 

                            <div class="row">

                                    <div class="col-sm-12 m-b25">
                                        <p style="margin-bottom: 0px !important">How much are you willing to pay ?</p>
                                         <span class="ask-subtext">Indicate a min and max amount you think it should be a good price for the help ask.</span>
                                    </div> 

                                    <div class="col-sm-12">
                                      <input type="hidden" readonly="readonly" formControlName="IdUser" class="form-control ask-form-adress">
                                   </div>
                                   
                                   <div class="col-sm-4">    

                                      <p style="margin-bottom: 0px !important">Min Price</p>

                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text searchgrouptext"><i class="fa fa-money"></i></span>
                                          </div>
                                          <input type="text" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers formControlName="min_price" [ngClass]="{ 'ask-is-invalid': submitted && f.min_price.errors || priceBorder }" class="form-control ask-date-select" placeholder="No Min" aria-label="Search">
                                        </div>
                                        <p *ngIf="submitted && f.min_price.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a minimum price</p>
                                    </div> 

                                    <div class="col-sm-4">  

                                      <p style="margin-bottom: 0px !important">Max Price</p>                               
                                        <div class="input-group">
                                          <div class="input-group-prepend">
                                            <span class="input-group-text searchgrouptext"><i class="fa fa-money"></i></span>
                                          </div>
                                          <input type="text" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers formControlName="max_price" [ngClass]="{ 'ask-is-invalid': submitted && f.max_price.errors || priceBorder }" class="form-control ask-date-select" placeholder="No Max" aria-label="Search">
                                        </div>
                                        <p *ngIf="submitted && f.max_price.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a maximum price</p>
                                    </div> 

                                    <p *ngIf="priceBorder"  class="m-tb10" style="color: red;font-weight: 800">The minimum Price cannot be greater than or equal to maximum Price</p>  

                                </div>
                            <div class="row dash-col-title m-t80" style="margin-top: 20px; margin-bottom: 20px;">
                              <div class="col-sm-12 m-b10">
                                <p style="margin-bottom: 0px !important">Location</p>
                                <span class="ask-subtext">locate where you want the help to be deliver and where you would like to be bill.</span>
                                <vo-ui-osm-view 
                                  [showDebugInfo]="true"
                                  [showControlsZoom]="true"
                                  [showControlsCurrentLocation]="true"
                                  (addressChanged)="onAddressChange($event)"
                                >
                                </vo-ui-osm-view>
                              </div>                              
                            </div>
                            <div class="row dash-col-title m-t80">
                                <div class="col-sm-12 m-b10">
                                  <p style="margin-bottom: 0px !important">Address</p>
                                  <span class="ask-subtext">Indicate where you want the help to be deliver and where you would like to be bill.</span>
                                </div> 
                            </div>

                            <div class="row dash-col-title m-t20">
                                <div class="col-sm-12 m-b10">
                                        <p style="margin-bottom: 0px !important">
                                          <alert></alert>
                                        </p>
                                </div> 
                            </div>

                          <!--
                          * Show this view if "show_delete_content" is true.

                          * Pass "address_id" property value of AppComponent
                            to [product_id] property of UpdateProductComponent.

                          * If (show_address_list_event) was emitted in DeleteAdressComponent,
                            trigger showListAddress() method in AskHelpStep2Component.
                          -->
                          <app-delete-adress
                              *ngIf="show_delete_content"
                              [addressTitle]="adress_title_value" [address]="adress_value"           
                              [ZipCode]="zip_code_value" [adress_id]="IdAddress"
                              (show_address_list_event)="showListAddress($event)">
                          </app-delete-adress>

                          <div class="special" *ngIf="show_address_list">

                            <p *ngIf="checkField" style="color: red;font-weight: 800"> You must select a Deliver and Bill Adresses to continue </p>

                            <div class="row dash-col-title m-t20"  *ngFor="let p of AdressData?.data;let rank=index">
                             
                             <div style="display: contents;" *ngIf="ShowContentAddress[rank]">

                                <div class="col-sm-12">
                                  <span>{{p.address_title}}</span>
                                </div>

                                <div class="col-sm-12">
                                  <span class="ask-adress-text">{{p.city}}</span>
                                </div>

                                <div class="col-sm-6">
                                  <span class="ask-adress-text">{{p.address}} - {{p.zip_code_postal}}</span>
                                </div>

                                <div class="col-sm-6">
                                  <span class="ask-adress-text float-sm-left float-md-right">
                                    Deliver help to this address
                                   <input id="D{{rank}}" [disabled]="checkIfDeliversAreSelected[rank]" (change)="checkSelected($event,rank,AdressData?.data.length,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email)" value="{{ p._id }}" name="{{p.address_title}}" class="checkbox-custom" type="checkbox">
                                   <label for="D{{rank}}" class="checkbox-custom-label label-hover" style="display: inline;font-weight: 400"></label>
                                  </span>
                                </div>

                                <div class="col-sm-6">
                                  <span class="ask-adress-text">Tel: + {{p.telephone}}</span>
                                </div>

                                <div class="col-sm-6">
                                  <span class=" ask-adress-text float-sm-left float-md-right">
                                    Bill to this address
                                  <input id="B{{rank}}" class="checkbox-custom"  [disabled]="checkIfBillsAreSelected[rank]" (change)="checkBillSelected($event,rank,AdressData?.data.length,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email)"  value="{{ p._id }}" name="{{p.address_title}}" type="checkbox">
                                  <label for="B{{rank}}" class="checkbox-custom-label label-hover" style="display: inline;font-weight: 400"></label>
                                  </span>
                                </div>

                                 <div class="col-sm-12">
                                  <span class="ask-adress-text">E: {{p.email}}</span>
                                </div>

                                <div class="col-sm-12 m-t20">
                                  <a href="javascript:void(0)" (click)="editAddress(p._id,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email,rank)" >Edit</a> |
                                  <a href="javascript:void(0)" (click)="deleteAddress(p._id,p.address,p.address_title,p.zip_code_postal)">Delete</a>
                                </div>

                                <div class="col-sm-12">
                                  <hr style="margin-top: 5px">
                                </div>

                              </div> <!-- end of content row-->

                              <form [formGroup]="saveAdressSecForm" #myForm2="ngForm">  
                              <div class="row dash-col-title m-t20" *ngIf="ShowUpdateForm[rank]">
                           

                                <div class="col-sm-12">
                                  <input type="hidden" readonly="readonly" formControlName="user_id" class="form-control ask-form-adress">
                                </div>

                                <div class="col-sm-12">
                                  <input type="hidden" readonly="readonly"  formControlName="_id" class="form-control ask-form-adress">
                                </div>

                                 <div class="col-sm-12">
                                  <input type="text" formControlName="address_title" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.address_title.errors }" class="form-control ask-form-adress" placeholder="Address Title">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="address" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.address.errors }" class="form-control ask-form-adress" placeholder="Address">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="city" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.city.errors }" class="form-control ask-form-adress" placeholder="City">
                                </div>

                                <div class="col-sm-12">
                                  <input type="text" formControlName="zip_code_postal" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.zip_code_postal.errors }" class="form-control ask-form-adress" placeholder="Zip/Postal Code">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="telephone" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.telephone.errors }" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers  class="form-control ask-form-adress" placeholder="Tel">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.email.errors }" class="form-control ask-form-adress" placeholder="Email">
                                </div>

                                <div class="col-sm-12 m-t20">
                                  <a  href="javascript:void(0)"  (click)="SubmitUpdate(rank)">Update new address</a>
                                   | 
                                  <a  href="javascript:void(0)"  (click)="cancelUpdate(rank)">Cancel</a>
                                </div>

                                <div class="col-sm-12">
                                  <hr style="margin-top: 5px;">
                                </div>

                            
                            </div>
                          </form> 

                            </div>  <!-- end of row -->

                          </div> <!-- end of div class special -->



                            <form [formGroup]="saveAdressFirstForm" #myForm="ngForm"> 
                              <div class="row dash-col-title m-t20">           

                                <div class="col-sm-12">
                                  <input type="hidden" readonly="readonly" formControlName="user_id" class="form-control ask-form-adress" >
                                </div>

                                 <div class="col-sm-12">
                                  <input type="text" formControlName="address_title" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.address_title.errors }" class="form-control ask-form-adress" placeholder="Address Title">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="address" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.address.errors }" class="form-control ask-form-adress" placeholder="Address">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="city" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.city.errors }" class="form-control ask-form-adress" placeholder="City">
                                </div>

                                <div class="col-sm-12">
                                  <input type="text" formControlName="zip_code_postal" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.zip_code_postal.errors }" class="form-control ask-form-adress" placeholder="Zip/Postal Code">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="telephone" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.telephone.errors }"  class="form-control ask-form-adress" placeholder="Tel">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.email.errors }" class="form-control ask-form-adress" placeholder="Email">
                                </div>

                                <div class="col-sm-12 m-t20">
                                  <a  href="javascript:void(0)"  (click)="SubmitForm()">Save new address</a>
                                </div>

                                <div class="col-sm-12">
                                  <hr style="margin-top: 5px;">
                                </div>

                          </div> 
                        </form>  

                           
                            <div class="row m-t10">
                                <div class="col-md-12 text-center">
                                     <input type="submit"  class="ask-button-blue-layout m-t10 m-r10"  value="Finish"> 
                                     <input type="button"  class="ask-button-gray-layout m-t10 m-r10"  value="Previous" (click)="onPrevious()"> 
                                </div>
                            </div> 
                          </form>
                          

                        </div>

                        <div class="col-md-12 col-lg-3 offset-lg-1 p-a20 m-tb30 dash-col" style="height: 40%">
                            <div class="section-content">
                               
                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Welcome Back</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6">
                                       <span *ngIf="MyInfo"> {{MyInfo.data[0].username}} </span>                                       
                                    </div>   
                                    <div class="col-6 text-right">
                                        <a href="javascript:void(0);" class="dash-footer-link">STARTER</a>
                                    </div>   
                                </div>
                                                              
                                <hr style="border: 0; border-top: 3px solid #6d9ff3;">
                            </div> 

                              <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Open Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_open_helps}}</span>
                                        
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Bidding Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_bidding_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Completed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_completed_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Closed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_closed_helps}}</span>
                                    </div>  
                             </div>




                            <div class="section-content">
                               
                               <hr style="border: 0; border-top: 3px solid #6d9ff3;">

                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Account Balance</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6" *ngIf="MyFund">
                                        
                                        <a href="javascript:void(0);" *ngIf="MyFund.data[0]" class="dash-side-link">{{MyFund.data[0].amount}} ZAR</a>

                                        <a href="javascript:void(0);" *ngIf="!MyFund.data[0]" class="dash-side-link">0 ZAR</a>

                                    </div>  
                                    <div class="col-6 text-right">
                                        <a [routerLink]="['/access/profile']" [fragment]="'deposit'" class="dash-side-link">Deposit Funds</a>
                                    </div>   
                                </div>
                                                              
                                
                            </div>                    
                        </div>

                  </div> 

                
                </div>
            </div> 