<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ title }}</h6>
                <p class="card-text">{{ content }}</p>
              </div>
          </div>
      </div>
  </div>
</div>