<div class="section-full text-left content-dash bg-gray">
    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-12">
            <a href="javascript:void(0);" class="bid-title" *ngIf="ServiceBidInfos" >{{ServiceBidInfos.data.nom_service}}</a>
        </div>
    </div>
    <div class="row" style="margin:0;">            
        <div class="col-md-12 col-lg-8 p-a20 m-tb30" style=" margin-bottom: 20px;">                
            <div class="row m-b30 bid-header-col p-tb5" *ngIf="ServiceBidInfos">
                <div class="col-sm-2 text-md-center text-sm-left" style="border-right: 1px solid #5b5b5b;">
                    <p>Bids</p>
                    <span>{{ServiceBidInfos.data.nombre_bids}}</span>
                </div>
                <div class="col-sm-3 text-md-center text-sm-left" style="border-right: 1px solid #5b5b5b;">
                    <p>Avg Bids (ZAR)</p>
                    <span>{{ServiceBidInfos.data.Avg_bids}} {{ServiceBidInfos.data.device_name}}</span>
                </div>
                <div class="col-sm-4 text-md-center text-sm-left">
                    <p>Help Budget (ZAR)</p>
                    <span>{{ServiceBidInfos.data.min_price}} {{ServiceBidInfos.data.device_name}} - {{ServiceBidInfos.data.max_price}} {{ServiceBidInfos.data.device_name}}</span>
                </div>
                <div class="col-sm-3">
                    <p class="float-sm-left float-md-right bid-status p-tb10">{{ (ServiceBidInfos.data.status == "in_progress") ? ("OPEN") :(ServiceBidInfos.data.status)}} </p>
                </div>
            </div>

            <div class="row m-b20 bid-header-col p-tb5" style="margin-top: 0px;" *ngIf="ServiceBidInfos">
                <div class="col-sm-9">
                    <p style="font-size: 11px">{{ServiceBidInfos.data.description}}</p> 
                </div>
                <div class="col-sm-3 p-tb30" *ngIf="MyInfo && MyInfo.data[0]._id!=ServiceBidInfos.data.user_id && param.parametre=='Offer Helps'">
                    <input type="button" class="button-bid ml-auto" (click)="placeBid(ServiceBidInfos.data.user_id)"   value="Bid on This">
                    <!-- <input type="button" *ngIf="!bidOnIt"   class="button-bid ml-auto" value="You cannot bid on this offer because you don't have the skills"> -->
                </div>
                <div class="col-sm-4 offset-sm-8" style="margin-top: 20px">
                    <p class="text-center" style="font-weight: 600 !important">About the user in need </p>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-md-12" *ngIf="ServicePicInfos">

                        <img [src]="valImg.picture | safe: 'resourceUrl'" *ngFor="let valImg of ServicePicInfos.data" class="rounded mb-3" style="max-width: 120px;height: 120px;width: 120px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1" *ngIf="ServiceTimeInfos">
                            <i class="fa fa-calendar  fa-2x fa-color" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-4" *ngIf="ServiceTimeInfos">                               
                            <p style="font-size: 12px" *ngFor="let valTime of ServiceTimeInfos.data;let x = index"> {{valTime.date | date }} {{valTime.time}}</p>
                        </div>
                        <div class="col-sm-6 offset-sm-1" *ngIf="services_categ">
                            <p style="font-size: 13px;"><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-bookmark  fa-2x fa-color" aria-hidden="true"> </i>  {{ getCategoryName(ServiceBidInfos.data.categoryService_id,services_categ.data) }}</a></p>
                            <p style="font-size: 13px;"><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-map-marker  fa-2x fa-color" aria-hidden="true"> </i> {{ServiceBidInfos.data.city_deliver_help}}</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-md-12" *ngIf="ServiceBidUser">
                        <img [src]="ServiceBidUser.data[0].picture | safe: 'resourceUrl'"  class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px">
                            <p style="font-size: 13px;margin-bottom: 0px"class="text-center">{{ ServiceBidUser.data[0].username}}</p>
                            <p style="font-size: 13px;margin-bottom: 0px"class="text-center">{{ ServiceBidUser.data[0].number_helps_asked}} Helps asked</p>
                            <p style="font-size: 13px;" class="text-center"><span style="font-size: 11px;background: #fbbc05;padding: 4px 4px;color: #4d4d4c;margin-right: 5px;">{{ServiceBidInfos.data.nbre_etoiles}}</span><!-- <img src="images/bid/star-solid.png" class="rounded" style="max-width: 15px;height: 15px;width: 15px"><img src="images/bid/star-half-solid.png" class="rounded" style="max-width: 10px;height: 15px;width: 8px;"> --></p>
                        </div>
                    </div>
                </div>
            </div> 

            <div class="row bid-header-col" style="background: #b2aeb0;color: #fff" *ngIf="bidCol">
                <div class="col-sm-12 p-tb5" >
                    <p>Place your BID</p>
                </div>                                
            </div> 

            <div class="row bid-header-col m-b20" *ngIf="bidCol">
                        
                <form [formGroup]="saveBidForm" (ngSubmit)="SaveBid(ServiceBidInfos.data.min_price,ServiceBidInfos.data.max_price)">  

                    <input type="hidden" formControlName="serviceAskForHelp_id" class="form-control ask-date-select" placeholder="No Min" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.serviceAskForHelp_id.errors }" aria-label="Search">

                    <input type="hidden" formControlName="user_id_celui_qui_bid" class="form-control ask-date-select" placeholder="No Min" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.user_id_celui_qui_bid.errors }" aria-label="Search">

                    <input type="hidden" formControlName="user_id_celui_qui_offre_service" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.user_id_celui_qui_offre_service.errors }" aria-label="Search">

                    <div class="row" style="padding: 0 20px;">                        
                        <div class="col-sm-6 p-tb20 p-r20" >                                
                            <div class="input-group">
                                <span class="m-r10 m-t10" style="font-size: 16px;color: #3b3b3b">Your asking :</span>
                                <div class="input-group-prepend">
                                    <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-money"></i></span>
                                </div>
                                <input type="text"  knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers formControlName="price_bid" class="form-control ask-date-select" placeholder="No Min" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.price_bid.errors }" aria-label="Search">
                            </div>
                            <p *ngIf="submittedForm1 && F1.price_bid.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a price</p>
                            <p *ngIf="textPriceBid"  style="color: red;font-weight: 800" class="m-tb10">You must enter a price between Min Price and Max Price of Service</p>
                        </div>
                    </div>
                    <div class="row" style="padding: 0 20px;">
                        <div class="col-sm-6 p-tb20 p-r20" >
                            <div class="input-group">
                                <span class="m-r10 m-t10" style="font-size: 16px;color: #3b3b3b">Your Date :</span>
                                <div class="input-group-prepend">
                                <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" readonly="readonly" [owlDateTimeTrigger]="d2"  [owlDateTime]="d2" formControlName="date_livraison" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.date_livraison.errors }" class="form-control trigger ask-date-select" placeholder="" aria-label="Search">
                                <owl-date-time [pickerType]="'calendar'" #d2></owl-date-time>
                            </div>
                            <p *ngIf="submittedForm1 && F1.time_livraison.errors"  style="color: red;font-weight: 800" class="m-tb10">You must select a date</p>
                        </div>
                        <div class="col-sm-6 p-tb20 p-r20" >
                            <div class="input-group">
                                <span class="m-r10 m-t10" style="font-size: 16px;color: #3b3b3b">Your Time :</span>
                                <div class="input-group-prepend">
                                <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-clock-o"></i></span>
                                </div>
                                <input type="text" readonly="readonly" [owlDateTimeTrigger]="t1"  [owlDateTime]="t1"  formControlName="time_livraison" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.time_livraison.errors }" class="form-control trigger ask-date-select" placeholder="" aria-label="Search">
                                <owl-date-time [pickerType]="'timer'" #t1></owl-date-time>
                            </div>
                            <p *ngIf="submittedForm1 && F1.time_livraison.errors"  style="color: red;font-weight: 800" class="m-tb10">You must select a time</p>
                        </div>
                    </div>
                    <div class="col-sm-12 p-r20 m-b5">
                        <p style="margin-bottom: 14px !important;font-weight: bold !important">Describe your proposal :</p>
                        <span style="font-size: 13px;color: #7c7a7a;">Your proposal is your chance to make a good ﬁrst impression with the requester! Make it count!</span>
                    </div>
                    <div class="col-sm-12 p-r20 m-b5">
                        <textarea class="form-control" [attr.maxLength]="2000" [(ngModel)]="textDescription" formControlName="description" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.description.errors }" rows="5" style="height: 180px;border: 3px solid #595656;" placeholder="What makes you the best candidate for this job?"></textarea>
                    </div>
                    <div class="col-sm-12 p-r20 m-b25 text-sm-left text-md-right">
                        <span style="font-size: 13px;color: #7c7a7a;" *ngIf="textDescription">{{2000 - textDescription.length }} characters left </span>
                    </div> 
                    <p *ngIf="submittedForm1 && F1.description.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a description</p> 
                    <div class="col-sm-12 p-r20 m-b25 text-sm-left text-md-center" style="margin-top: 15px;">
                        <input type="submit"  class="button-bid ml-auto" style="margin-right: 15px !important;"  value="Save Your BID">
                        <input type="button"  class="button-bid ml-auto" (click)="cancelBid()"  value="Cancel">
                    </div>                    
                </form>
            </div> 

            <p style="margin-bottom: 0px !important">
                            <alert></alert>
            </p>

            <div class="row bid-header-col" style="background: #b2aeb0;color: #FFF; margin-top: 20px;">
                <div class="col-sm-6 p-tb5" >
                    <p>Bidders</p>
                </div>
                <div class="col-sm-6 p-tb5 text-sm-left text-md-right">
                    <p class="p-r20">BID (ZAR)</p>
                </div>                    
            </div> 

            <div *ngIf="BiddersInfo">
                <div class="row bid-header-col" style="margin-top: -5px;" *ngFor="let valueBID of BiddersInfo.data | paginate: { itemsPerPage: 5, currentPage: p } ; let rank=index;  " >
                        <div class="col-sm-2 p-tb20" >
                            <img src="assets/homestyle/images/bid/profile-user.png" *ngIf="!valueBID.picture_celui_qui_bid" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px">
                            <img [src]="valueBID.picture_celui_qui_bid | safe: 'resourceUrl'" *ngIf="valueBID.picture_celui_qui_bid" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px;">
                        </div>
                        <div class="col-sm-7 p-tb20 bid-subcontent" >
                            <p style="color: #4285f4;font-weight: 800 !important;font-size: 14px;">{{rank+1}} : {{valueBID.username_celui_qui_bid}}</p>
                            <p style="font-weight: 700 !important">{{valueBID.location_name_celui_qui_bid}}</p>
                            <p style="font-weight: 700 !important">{{valueBID.number_helps_asked_celui_qui_bid}} Helps oﬀered</p>
                            <p><span style="font-size: 11px;background: #fbbc05;padding: 4px 4px;color: #4d4d4c;margin-right: 5px;">{{valueBID.nbre_etoiles_celui_qui_bid}}</span><!-- <img src="images/bid/star-solid.png" class="rounded" style="max-width: 15px;height: 15px;width: 15px"><img src="images/bid/star-half-solid.png" class="rounded" style="max-width: 10px;height: 15px;width: 8px;"> --></p>
                        </div>
                        <div class="col-sm-3 p-t50 bid-subcontent text-sm-left text-md-right" >
                            <p class="p-r20" style="font-size: 18px;font-weight: 700 !important">{{valueBID.price_bid}}</p>
                            <p class="p-r20">{{valueBID.date_livraison | date }} {{valueBID.time_livraison}}</p>
                        </div>                    
                </div>                
            </div>
            <div class="row bid-header-col" style="margin-top: -6px;">
                <div class="col-md-12 p-tb20" >
                        <pagination-controls  class="my-pagination"
                            (pageChange)="p = $event"
                            maxSize="10"
                            directionLinks="true"
                            autoHide="false"
                            responsive="true"
                            previousLabel="Previous"
                            nextLabel="Next"
                            screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                </div>
            </div> 
        </div>            
    </div>    
</div>