     <!-- OUR PLANS  -->
            <div class="section-full text-left section-login-form bg-white">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-6 col-sm-12 p-a30">
                            <div class="section-content text-center">
                                <div class="loginmodal-container">
                                    <h1>Blocked account </h1>

                                       <div class="col-md-12"><alert></alert></div>

                                   <form [formGroup]="BlocPasswordForm" (ngSubmit)="onSubmit()">

                                   	 <!-- <input type="hidden" formControlName="ValUser" readonly="readonly" class="form-control  input-underline input-lg" /> -->
                                    
                                    <p *ngIf="emailVal" class="text-left font-16">Email : <b> {{ emailVal.data[0].email.toString() }} </b> </p>

                                    <ng-template style="text-align: center;">
                                      You are here to Reset your password. please make sure to chose a password that you wont forget...
                                    </ng-template><br>

                                    <p class="text-center" style="font-size: 15px;"><b>Enter your new password</b></p>
                                    
                                    <div class="form-group">
                                        <label for="password">Password</label>
        				                        <input type="password" formControlName="password"  class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        				                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        				                            <div *ngIf="f.password.errors.required">Password is required</div>
        				                            <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
        				                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Repeat Password</label>
                                        <input type="password" formControlName="Confpassword"  class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.Confpassword.errors }" />
                                        <div *ngIf="submitted && f.Confpassword.errors" class="invalid-feedback">
                                            <div *ngIf="f.Confpassword.errors.required">Confirmation Password is required</div>
                                            <div *ngIf="f.Confpassword.errors?.MatchPassword">Password doesn't match</div>
                                        </div>
                                    </div>

                                        <input type="submit" class="login loginmodal-submit" value="Change Password !">
                                         <hr class="form-line">
                                         <p class="footer-form-text">Don’t have an account? <a [routerLink]="['/register']" class="sub-link"> Sign Up</a> </p>
                                         <p class="text-left">Already have an account? <a [routerLink]="['/logon']" class="sub-link"> Log In</a> </p>

                                         <!-- <pre>{{ this.NewPasswordForm.value | json}}</pre> -->
                                      </form>
                    
                                      
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-6 col-sm-12 info-column">
                            <div class="section-content text-left text-white">
                                <div class="p-a50">
                                <h3 class="m-t20">Welcome Back</h3>
                                <p class="p-a20">Donec   rutrum   congue   leo   eget   malesuada.   Sed   porttitor 
                                lectus   nibh.   Curabitur   non   nulla   sit   amet   nisl   tempus 
                                convallis   quis   ac   lectus.   Donec   sollicitudin   molestie 
                                malesuada.  Nulla  quis  lorem  ut  libero  malesuada  feugiat. 
                                Quisque  velit  nisi,  pretium  ut  lacinia  in,  elementum  id  enim. 
                                Sed  porttitor  lectus  nibh.  Mauris  blandit  aliquet  elit,  eget 
                                tincidunt  nibh  pulvinar  a.  Curabitur  aliquet  quam  id  dui 
                                posuere   blandit.   Vivamus   magna   justo,   lacinia   eget 
                                consectetur sed, convallis at tellus.</p>
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  