<div class="page-wraper" style="background-color: #eeeeee;"> 
	<!-- <app-header></app-header> -->
        <div class="page-content">
				<router-outlet></router-outlet>
				<!-- For Debugging: show our formData as it is being typed -->
				<!-- <pre>{{ formData | json }}</pre> -->
            
		</div> 
		<!-- <livechat-widget #liveChatWidget licenseId="11082047" (onChatLoaded)="onChatLoaded($event)" (onChatWindowOpened)="onChatWindowOpened()" (onChatWindowMinimized)="onChatWindowMinimized()" [visitor]="visitor" [params]="params"></livechat-widget> -->
	<app-footer></app-footer>
</div> 