<div class="row dash-col-title m-t20">
                                <div class="col-sm-12 m-b10">
                                    <div class="panel panel-default">
                                    <div class="panel-body text-align-center">
                                        <p style="margin-bottom: 0px !important">Are you sure you want to delete this adress ?</p>
                                        <p style="font-weight: 200 !important; font-size: 15px; ">Type: {{ addressTitle }}</p> 
                                        <p style="font-weight: 200 !important; font-size: 15px; ">Adress Infos : {{ address }} - {{ ZipCode }}</p>
                                    </div>

            
                                    <div class="panel-footer clearfix">
                                      <div class="text-align-center">
   
                                       <!-- if 'Yes' button was clicked, delete the record and go back to records list -->
                                      <button (click)="delete()" class="btn btn-danger m-r-5px">
                                         <span class="glyphicon glyphicon-ok-sign"></span> Yes
                                      </button>
     
                                          <!-- if 'No' button was clicked, go back to records list -->
                                      <button (click)="readAddressContent()" class="btn btn-primary">
                                            <span class="glyphicon glyphicon-remove-sign"></span> No
                                      </button>
                                      </div>
                                    </div>
                                    </div>
                                </div> 
                            </div> <!-- end of row-->