 <!-- OUR PLANS  -->
            <div class="section-full text-left content-dash bg-gray">
                <div class="container">
                    
                     <div class="row" style="margin:0">



                        <div class="col-md-12 col-lg-8 p-a20 m-t30 dash-col" style="margin-top: 30px; padding-top: 30px;">
                            
                            <div class="row">                                
                                <div class="col-lg-10"> 
                                            <div style="margin-bottom: 30px; text-align: center;"><h4>Notifications.</h4></div>
                                            <ul>
                                                <li *ngFor="let notifs of notif;let rank = index" [ngStyle]="{'background-color': notifColor}" style="list-style: none; border-radius: 12px; border-bottom: 1px solid gray;">                                
                                                    {{couleur(notifs.read)}}
                                                        <div class="row">
                                                            <a class="col-md-10 btn " (click)="onRead(notifs._id)" [routerLink]="['/access/viewBidder/',notifs.serviceAskForHelp_id]">                                                                
                                                                <div class="col-lg-7">{{notifs.content}}</div>
                                                            </a>
                                                            <!-- Button trigger modal -->
                                                            <a class="col-md-2 btn " style="display: flex;" data-toggle="modal" data-target="#exampleModal">
                                                                <i class="fa fa-trash" style="font-size:24px; margin: auto;"></i>
                                                            </a>
                                                        </div>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Delete Message</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                </div> 
                                                                <div class="modal-body">
                                                                Are you sure you want to delete this Notification?
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                                                <button type="button" class="btn btn-primary" (click)="onDelete(notifs._id)" data-dismiss="modal">Yes</button> 
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        
                                                </li>
                                            </ul> 
                                </div>
                            </div>

                        </div>
                       


                        <div class="col-md-12 col-lg-3 offset-lg-1 p-a20 m-t30 dash-col" style="margin-top: 30px;">
                            <div class="section-content">
                               
                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;"><br>
                                        <span>Welcome Back</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6">
                                        <span *ngIf="MyInfo"> {{MyInfo.data[0].username}} </span>                                       
                                    </div>   
                                    <div class="col-6 text-right">
                                        <a href="javascript:void(0);" class="dash-footer-link">STARTER</a>
                                    </div>   
                                </div>
                                                              
                                <hr style="border: 0; border-top: 3px solid #6d9ff3;">
                            </div> 

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Open Helps</span>
                                    </div>
                                    
                                    <div class="col-6" style="padding: 25px 15px 0px;">
                                        <img src="assets/homestyle/images/dash/2blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_open_helps}}</span>
                                        
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Bidding Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 25px 15px 0px;">
                                        <img src="assets/homestyle/images/dash/3blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_bidding_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Completed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 25px 15px 0px;">
                                        <img src="assets/homestyle/images/dash/2black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_completed_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Closed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 25px 15px 0px;">
                                        <img src="assets/homestyle/images/dash/3black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_closed_helps}}</span>
                                    </div>  
                             </div>




                            <div class="section-content">
                               
                               <hr style="border: 0; border-top: 3px solid #6d9ff3;">

                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Account Balance</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6" *ngIf="MyFund">
                                        
                                        <a href="javascript:void(0);" *ngIf="MyFund.data[0]" class="dash-side-link">{{MyFund.data[0].amount}} ZAR</a>

                                        <a href="javascript:void(0);" *ngIf="!MyFund.data[0]" class="dash-side-link">0 ZAR</a>

                                    </div>   
                                    <div class="col-6 text-right">
                                        <a [routerLink]="['/access/profile']" [fragment]="'deposit'" class="dash-side-link">Deposit Funds</a>
                                    </div>   
                                </div>
                                                              
                                
                            </div>                    
                        </div>

                  </div> 
               
                </div>
            </div>