     <!-- OUR PLANS  -->
            <div class="section-full text-left section-register-form bg-white">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-6 col-sm-12 p-a10">
                            <div class="section-content text-center">
                                <div class="loginmodal-container">
                                    <h1>Choose a Username</h1>
                                        

                                       <p class="text-left">Please note that a username cannot be changed once chosen</p>

                                       <div class="col-md-12"><alert></alert></div>

                                      <!--  <div class="col-md-12" *ngIf="infoMessage.length > 0">
                                           <span>{{ infoMessage }}</span>
                                       </div> -->

                                      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">

                                    <div class="form-group">
                                        <input type="text" formControlName="username" placeholder="Username" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">

                                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback text-danger">
                                            <div *ngIf="f.username.errors.required">Username is required</div>
                                        </div>
                                    </div>

                                        <p class="suggestionText">Suggestions : <a class="sub-link" (click)="FillInput(suggestion.username1)">{{ suggestion.username1 }} </a> / <a class="sub-link" (click)="FillInput(suggestion.username2)" >{{ suggestion.username2 }} </a> / <a class="sub-link" (click)="FillInput(suggestion.username3)">{{ suggestion.username3 }} </a> </p>

                                        <input type="submit" class="login loginmodal-submit" value="Next">
                                        <input type="button" class="login log-bg loginmodal-submit" value="Previous" (click)="onPrevious()">
                                        
                                      </form>
                    
                                      
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-6 col-sm-12 info-column">
                            <div class="section-content text-left text-white">
                                <div class="p-a50">
                                <h3 class="m-t20">Recommendations on how to choose a good username</h3>
                                <ul class="list-check-circle primary m-b20 p-a10 text-capitalize">
                                        <li>More than 30 000 Users.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                </ul>
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  