// shared css for the login and signup page
@import "../register/register.component.scss";

.section-register-form {
	

		.loginmodal-container input[type=submit],input[type=button] {
		  width: 100%;
		  display: block;
		  margin-bottom: 20px;
		  position: relative;
		}
		
		p.suggestionText {
			font-size: 15px !important;
      text-align: left !important;
	  }

		.log-bg{
			background-color:gray !important;
		}

		.sub-link{ cursor:pointer !important;}
}		