<!-- OUR PLANS  -->
<div class="section-full text-left content-dash bg-gray">
    <div class="container">        
        <div class="row" style="margin:0">        
            <div class="col-md-12 col-lg-8 p-a20 m-tb30 ask-bid-col">                
                <div class="section-content" style="padding-top: 20px;">
                    <p>My Helps Request Bank</p>
                <div class="row" style="margin-bottom: -15px !important;margin-top: -5px;">                    
                    <div class="col-sm-6">
                        <form class="form-inline my-lg-0 m-r20">
                            <div class="input-group" style="width: 100%">
                                <div class="input-group-prepend">
                                <span class="input-group-text searchgrouptext" id="search-addon"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" [(ngModel)]="queryString" class="form-control search-menu" [ngModelOptions]="{standalone: true}" placeholder="Search for Projects" aria-label="Search" aria-describedby="search-addon">
                        </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        
                    </div>
                </div>
                    <hr style="border: 0; border-top: 3px solid #6d9ff3; margin: 20px -20px 20px;">
                </div>
                <div *ngIf="OpenHelpsReq">
                    <div class="row dash-col-title m-b10" *ngFor="let valueOH of OpenHelpsReq.data | filterdata: queryString : 'status'| paginate: { itemsPerPage: 5, currentPage: p } ; let rank=index;  ">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-1">
                                    <img *ngIf="services_categ" [src]="getCategoryLogo(valueOH.categoryService_id,services_categ.data) | safe: 'resourceUrl'" class="img-fluid" style="max-width: 40px;height: 40px;width: 40px;">
                                </div>
                                <div class="col-sm-6">
                                    <span *ngIf="valueOH.status=='in_progress'" ><a [routerLink]="['/access/viewBidder/',valueOH._id]">{{rank+1}} : {{valueOH.nom_service}}</a></span>
                                    <span *ngIf="valueOH.status!='in_progress'" ><a [routerLink]="['/access/completeBid/',valueOH._id]">{{rank+1}} : {{valueOH.nom_service}}</a></span>
                                </div>
                                <div class="col-sm-3 offset-sm-2">
                                    <span>{{valueOH.min_price}}{{valueOH.device_name}} - {{valueOH.max_price}}{{valueOH.device_name}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 offset-sm-1">
                                    <p> {{ (valueOH.description.length>30)? (valueOH.description | slice:0:30)+'..':(valueOH.description) }} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 offset-sm-1">
                                <p> <i class="fa fa-unlock fa-2x fa-color" aria-hidden="true"></i> {{valueOH.status}} - {{valueOH.nombre_bids}} bids</p>
                                </div>
                                <div class="col-sm-4 offset-sm-1">
                                    <p> <i class="fa fa-map-marker  fa-2x fa-color" aria-hidden="true"></i>  {{valueOH.city_deliver_help}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 offset-sm-1">
                                    <p *ngIf="services_categ"> <i class="fa fa-bookmark fa-2x fa-color" aria-hidden="true"></i> {{ getCategoryName(valueOH.categoryService_id,services_categ.data) }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 offset-sm-1">
                                <p> <i class="fa fa-calendar fa-2x fa-color" aria-hidden="true"></i>  {{valueOH.preferred_date_service | date }} {{valueOH.preferred_time_service}}</p>
                                </div>
                            </div>
                            <hr style="border: 0; border-top: 3px solid #6d9ff3; margin: 20px -20px 20px;">                        
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                        <pagination-controls  class="my-pagination"
                            (pageChange)="p = $event"
                            maxSize="10"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                            previousLabel="Previous"
                            nextLabel="Next"
                            screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>

<app-grid [rowData]="RecentsHelpReq" [columnDefs]= "columnDefs" (onClick)="navigateTo($event)"></app-grid>