<div [formGroup]="myGroup">
    <div class="col-sm-12 m-b20" style="margin-bottom: 10px; margin-top: 50px;  padding-right: 30px;">
        {{label}} : <br><input type="text" [formControlName]="name" [placeholder]="name" style="width: 100%;">
    </div>
</div>
