// shared css for the login and signup page
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  .fa2 .fa {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 16px;
    border-radius: 50%;
  }

  .terms{
    margin-bottom: 7px;
  }

a{
  color: white;
  text-decoration: none;
}


#end_footer li
{
  margin-left: 10px;
  margin-right: 10px;
	list-style-type: none;
  display: inline;	
  color: white;
}
.fa1 .terms{
  list-style-type: none;
  font-size: 14px;
  left: 0px;
}
.fa1 .fa{
  font-size: 20px;
}