
         <!-- Footer Part-->
         <footer class="site-footer" style="background-image: url('assets/homestyle/images/testimonials/foot.png');">
            <div style="background-color: rgba(67, 61, 99, 0.5); padding-top: 30px; margin-top: 30px;">
            <!-- Footer Top Part -->  
            <div class="footer-top overlay-wraper">
                <div class="overlay-main"></div>
                <div class="container">
                    <div class="row">
                        <!-- About -->
                        <div class="col-md-3 col-sm-6">  
                            <div class="widget widget_about text-white">
                                <h4 class="widget-title">Contact us</h4>  
                                <div class="row fa1">
                                        <div class="col-md-12 col-sm-12 terms"><i class="fa fa-mobile fa-3x text-white"></i> <b class="p-lr5 text-uppercase">:</b> +27 738025364</div>
                                        <div class="col-md-12 col-sm-12 terms"><i class="fa fa-envelope fa-2x text-white"></i> <b class="p-lr5 text-uppercase">: </b>contact@helpone23.co.za</div>
                                        <div class="col-md-12 col-sm-12 terms"><i class="fa fa-home fa-2x text-white"></i> <b class="p-lr5 text-uppercase"> :</b>200 Roos street meyerpark, Pretoria</div>
                                    
                                </div>
                                
                                <div class="row fa2">
                                    <!-- <div class="col-md-4 col-sm-6"> -->
                                        <a href="#" class="fa fa-twitter"></a>
                                        <a href="#" class="fa fa-instagram"></a>
                                        <a href="#" class="fa fa-facebook"></a>
                                    <!-- </div> -->
                                    <!-- <div class="col-md-4 col-sm-6">
                                        <a href="#" class="fa fa-instagram"></a>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <a href="#" class="fa fa-facebook"></a>
                                    </div> -->
                                </div>
                                <div class="row fa2">
                                    <!-- <div class="col-md-4 col-sm-6"> -->
                                        <a href="#" class="fa fa-pinterest"></a>
                                        <a href="#" class="fa fa-linkedin"></a>
                                        <a href="#" class="fa fa-youtube"></a>
                                    <!-- </div> -->
                                    <!-- <div class="col-md-4 col-sm-6">
                                        <a href="#" class="fa fa-linkedin"></a>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <a href="#" class="fa fa-youtube"></a>
                                    </div> -->
                                </div>
                            </div>
                        </div> 
                        <!-- Useful Links -->
                        <div class="col-md-3 col-sm-6 text-white">
                            <!-- <div class="widget widget_services text-white"> -->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 terms"><h5>Useful Links</h5></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/UsefulLinks','AboutUs']">About Us</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/UsefulLinks','HowItWorks']">How It Works</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/UsefulLinks','Security']">Security</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/UsefulLinks','Sitemap']">Sitemap</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/UsefulLinks','OurTeam']">Our Team</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/UsefulLinks','Services']">Services</a></div>
                                </div>
                            <!-- </div> -->
                        </div>                           
                        <!-- Resent Post -->
                        <div class="col-md-3 col-sm-6 text-white">
                            <!-- <div class="widget widget_services text-white"> -->
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 terms"><h5>Terms</h5></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/terms','Privacy-Policy']">Privacy Policy</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/terms','Terms-and-Conditions']">Terms & Conditions</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/terms','Copyright-Policy']">Copyright Policy</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/terms','Code-of-Conduct']">Code of Conduct</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/terms','Fees-and-Charges']">Fees and Charges</a></div>
                                    <div class="col-md-12 col-sm-12 terms"><a href="#" [routerLink]="['/terms','FAQ']">FAQ</a></div>
                                </div>
                            <!-- </div> -->
                        </div>
                        <!-- Instagram Feed -->
                        <div class="col-md-3 col-sm-6">
                                                   
                            <div class="widget widget_gallery mfp-gallery clearfix">
                                <div class="logo-footer clearfix p-b15">
                                    <a [routerLink]="['/home']"><img src="assets/homestyle/images/logo-light-9.png" width="171" height="49" alt=""/></a>
                                </div>
                                <p class="text-white">We connect people who need help to others who offer their skills. Are you a plumber? electrician? do you need water pipe fixed? helpone23 is the place to securely log your need and get help.  </p>
                                <!-- <ul class="clearfix">
                                    <li>
                                       <a href="#"> <img src="assets/homestyle/images/social-networks/facebook.png" width="60%" alt=""></a>
                                    </li>
                                    <li>
                                       <a href="#"> <img src="assets/homestyle/images/social-networks/linkedin.png" width="60%" alt=""></a>
                                    </li>
                                    <li>
                                       <a href="#"> <img src="assets/homestyle/images/social-networks/twitter.png" width="60%" alt=""></a>
                                    </li>
                                    <li>
                                       <a href="#"> <img src="assets/homestyle/images/social-networks/instagram.png" width="60%" alt=""></a>
                                    </li>
                                     <li>
                                       <a href="#"> <img src="assets/homestyle/images/social-networks/pinterest.png" width="60%" alt=""></a>
                                    </li>
                                     <li>
                                       <a href="#"> <img src="assets/homestyle/images/social-networks/youtube.png" width="60%" alt=""></a>
                                    </li>                                  
                                         
                                </ul> -->
                            </div>                         
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Part -->
            <div class="footer-bottom overlay-wraper">
                <div class="overlay-main"></div>
                <div class="container p-t30">
                    <div class="row">
                            <button class="scroltop" style="position: absolute; right: 0px; transform: rotate(-90deg);"><span class="fa fa-space-shuttle relative" id="btn-vibrate"></span></button>
                    </div>
                    <div style="border-bottom: 1px gray solid;"></div>

                    <div class="row" style="margin-top: 20px; color: white; font-size: 12px;">
                        
                        <div class="col-md-9 copyrights-text">
                            <ul id="end_footer">
                                <li>
                                    <span class="counter">10</span>
                                    <span class="">Registered Users  </span>
                                </li>|
                                <li>
                                    <span class="counter">  2500</span>
                                    <span class="">Assistances provided </span>
                                </li>|
                                <li>
                                    <span class="">Copyright © 2018 HELP123 All Rights Reserved.</span>
                                </li>
                            </ul>
                        </div>
                        <div  class="col-md-3 copyrights-text" style="text-align: right;">
                            Designed & Developed by <b>SDK Games Africa</b>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-4 copyrights-text">
                            <span class="counter">10</span>
                            <span class="">Registered Users</span>
                        </div>
                        <div class="col-md-4 copyrights-text footer-text-center">
                            <span class="counter">2500</span>
                            <span class="">Assistances provided</span>
                        </div>
                        <div class="col-md-4 copyrights-text footer-text-right">
                            <span class="">Copyright © 2018 HELP123 All Rights Reserved.</span>
                        </div>
                    </div> -->
                    
                </div>
            </div>
            </div>
            
        </footer>

        <!-- Scroll Top Button -->

                   <!--  <div class="loading-area">
                 <div class="loading-box"></div>
                <div class="loading-pic">
                    <div class="loading_progress-container">
                        <div class="loading_progress">
                            <div class="loading_progress-bar">
                                    <div class="loading_progress-shadow"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
