     <!-- OUR PLANS  -->
            <div class="section-full text-left section-login-form bg-white">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-6 col-sm-12 p-a30">
                            <div class="section-content text-center">
                                <div class="loginmodal-container">
                                    <h1>Login to Your Account</h1>
                                        
                                        <a href="#" title="Facebook" class="btn btn-facebook btn-block col-lg-8"><i class="fa fa-facebook fa-fw"></i> Connect With Facebook</a>

                                       <p class="subtitle fancy"><span>or</span></p>

                                       <div class="col-md-12"><alert></alert></div>

                                       <div class="col-md-12" *ngIf="infoMessage.length > 0">

                                          <div class="alert alert-success alert-dismissible fade show"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ infoMessage }}</div>

                                       </div>

                                       

                                       

                                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                                    <div class="form-group">
                                        <input type="text" formControlName="email" placeholder="Email/Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                                            <div *ngIf="f.email.errors.required">Field is required</div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" formControlName="pwd" placeholder="Enter Your Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }">

                                         <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback text-danger">
                                            <div *ngIf="f.pwd.errors.required">Password is required</div>
                                         </div>

                                     </div>

                                        <div class="login-help">
                                             
                                             <span class="pull-left" style="margin-top: -15px;">
                                                <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                                                <label for="checkbox-1" class="checkbox-custom-label">Remember me</label>
                                              </span>

                                            <span class="pull-right">
                                                <a [routerLink]="['/forgotPassword']" class="sub-link">Forgot password ?</a>
                                            </span>

                                        </div>

                                        <input type="submit" class="login loginmodal-submit" value="Enter HELP123">
                                        <p style="color: red;">{{conectionError}}</p>
                                         <hr class="form-line">
                                         <p class="footer-form-text">Don’t have an account? <a [routerLink]="['/register']" class="sub-link"> Sign Up</a> </p>
                                      </form>
                    
                                      
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-6 col-sm-12 info-column">
                            <div class="section-content text-left text-white">
                                <div class="p-a50">
                                <h3 class="m-t20">Welcome Back</h3>
                                <p class="p-a20">Donec   rutrum   congue   leo   eget   malesuada.   Sed   porttitor 
                                lectus   nibh.   Curabitur   non   nulla   sit   amet   nisl   tempus 
                                convallis   quis   ac   lectus.   Donec   sollicitudin   molestie 
                                malesuada.  Nulla  quis  lorem  ut  libero  malesuada  feugiat. 
                                Quisque  velit  nisi,  pretium  ut  lacinia  in,  elementum  id  enim. 
                                Sed  porttitor  lectus  nibh.  Mauris  blandit  aliquet  elit,  eget 
                                tincidunt  nibh  pulvinar  a.  Curabitur  aliquet  quam  id  dui 
                                posuere   blandit.   Vivamus   magna   justo,   lacinia   eget 
                                consectetur sed, convallis at tellus.</p>
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  