
<div class="section-full p-t40 p-20 bg-no-repeat bg-center bg-gray" style="background-image:url(assets/homestyle/images/background/bg-map.png);">

    <div class="container">
            
            <div class="row">
<div class="col-md-8 offset-md-2" style="padding: 20px 0px">
              <!-- Card container that binds all togather -->   
<mat-card>  

    <!-- Title of an Card -->  
  <mat-card-header class="header-card-style"> 
      <mat-card-title class="title-card-style ml-auto">Log into your Help123 account</mat-card-title>
   </mat-card-header>

    <div class="col-md-8 offset-md-2"><alert></alert></div>

    <!-- Actual content starts from here -->  
    <mat-card-content>  
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">  
            <table> 

                <tr>  
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width input-card-style">  
                            <input formControlName="Email" matInput placeholder="Email">  
                            <mat-hint>use like : demo@demo.com</mat-hint>  
                            <mat-error>  
                                <span *ngIf="!loginForm.get('Email').valid && loginForm.get('Email').touched">Enter proper Email !!!</span>  
                            </mat-error>  
                        </mat-form-field>  
                    </td>  
                </tr> 

                <tr>  
                    <td colspan="2">  
                        <mat-form-field class="demo-full-width input-card-style">  
                            <input formControlName="Password" type="password" matInput placeholder="Password">  
                            <mat-error>  
                                <span *ngIf="!loginForm.get('Password').valid && loginForm.get('Password').touched">Enter Your Password !!!</span>  
                            </mat-error>  
                        </mat-form-field>  
                    </td>  
                </tr> 

                <tr>  
                    <td colspan="2" class="content-center">  
                        <button mat-raised-button color="accent" [disabled]="!loginForm.valid" >Submit</button>  
                    </td>  
                </tr>  

            </table>  
        </form>  
    </mat-card-content>  
</mat-card>  

</div>

            </div>
     
    </div>
</div> 

