<div class="section-full p-t80 p-b80 bg-gray">  
    <div class="container">
        <div class="section-content">
        	<div class="page-notfound text-center">
            		<div class="section-head">
                        <h2 data-title="Error">404</h2>
                        <h3 class="p-t20">The webpage you are looking for is not here!</h3>
                        <a [routerLink]="['/home']" title="Back to home" class="site-button p-t30">Back to home</a>
                	</div>
            </div>
        </div>
    </div>
</div>