<div [@routerTransition]>
    <router-outlet></router-outlet>
 <div *ngIf="route.children.length === 0">
    <app-page-header [heading]="'Services Categories'" [icon]="'fa-settings'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <alert></alert>
                    Services Categories : {{services_categ?.length}}
                    <button style="text-align: right" (click)="add()" class="btn btn-success"> Add</button>                 
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Logo</th>
                            <th>Created On </th>
                            <th>Updated On </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let val of services_categ;let rank = index">
                            <td scope="row">{{rank+1}}</td>
                            <td style="color: red;font-weight: bold">{{val.categoryName}}</td>
                            <td style="color: red;font-weight: bold"><img [src]="val.logo | safe: 'resourceUrl'" class="img-thumbnail" style="max-width: 70px;max-height: 80px;"></td>
                            <td style="color: blue;font-weight: bold">{{val.create_date | date}}</td>
                            <td style="color: blue;font-weight: bold">{{val.update_date | date}}</td>
                            <td> <button (click)="edit(val._id)" style="margin-right: 20px;" class="btn btn-info"> Edit</button>  <button type="button" class="btn btn-danger" (click)="delete(val._id)"  >Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div> 

    </div>
    </div>
</div>
