<div [@routerTransition]>
    <app-page-header [heading]="'Services Categories'" [icon]="'fa-settings'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                	 <h2 class="text-center">{{empformlabel}}</h2>  
           				<alert></alert>
                </div>

                <div class="col-md-10">  
      <form [formGroup]="addForm" novalidate class="form">

    <input  name="id" type="hidden" formControlName="_id" >  

<div class="row">
	
     <div class="form-group col-md-6">  
	      <label for="cat_service">Category Name</label>  
	      <input formControlName="categoryName" placeholder="Service Category" class="form-control" id="cat_service" [ngClass]="{ 'is-invalid': submitted && f.categoryName.errors }">  
	      <div *ngIf="submitted && f.categoryName.errors" class="invalid-feedback">
	        <div *ngIf="f.categoryName.errors.required">Category Name is requidred</div>
	      </div>
     </div> 

     <div class="form-group col-md-6">
        <label for="imgUrl">Logo</label>
        
        
        <input formControlName="logo" class="form-control" type="hidden">
        <input name="imgUrl" id="imgUrl" type="file" accept="image/*"  class="form-control" (change)="handleInputChange($event)" style="height: auto" />

        <img [src]="imageSrc" style="max-width:120px;max-height:120px"/>

        <!-- <pre>{{ this.addForm.value | json }}</pre> --> 

    </div> 

</div>
  

	

     

<div class="row">
    <div class="form-group col-md-12 text-center">
        <button class="btn btn-success mr-4"  *ngIf="btnvisibility" (click)="onSubmit()">Save</button>   
        <button class="btn btn-success mr-4"  *ngIf="!btnvisibility" (click)="onUpdate()">Update</button> 
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button> 
    </div>
</div>
      
        <!-- <p>Form value: {{ addForm.value | json }}</p>   -->

      </form>  
    </div>  
   
            </div> 
        </div>

    </div>
</div>
    
