     <!-- OUR PLANS  -->
            <div class="section-full text-left section-register-form bg-white">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-8 col-sm-12 p-a10">
                            <div class="section-content text-center">
                                <div class="loginmodal-container">
                                    <h3>Complete the form to Sign Up</h3>
                                        
                                        <a href="#" title="Facebook" class="btn btn-facebook btn-block col-lg-8"><i class="fa fa-facebook fa-fw"></i> Connect With Facebook</a>

                                       <p class="subtitle fancy"><span>or</span></p>

                                       <div class="col-md-12"><alert></alert></div>

                                <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <div class="row">	                                      		
                                            <div class="col-md-6">
                                                <input type="text" formControlName="firstname" placeholder="Firstname"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">

                                            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback text-danger">
                                                <div *ngIf="f.firstname.errors.required">Firstname is required</div>
                                            </div>
                                            </div>

                                            <div class="col-md-6">
                                                <input type="text" formControlName="surname" placeholder="Surname"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }">

                                            <div *ngIf="submitted && f.surname.errors" class="invalid-feedback text-danger">
                                                <div *ngIf="f.surname.errors.required">Surname is required</div>
                                            </div>
                                            </div>                                         
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" formControlName="username" placeholder="Username" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback text-danger">
                                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" formControlName="email" placeholder="Email"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    <div class="form-group">
                                        <input type="password" formControlName="pwd" [(ngModel)]="pwd" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }">

                                         <div *ngIf="submitted && f.pwd.errors" class="invalid-feedback text-danger">
                                            <div *ngIf="f.pwd.errors.required">Password is required</div>
                                         </div>

                                    </div>

                                     
                                    <div class="form-group">
                                        <input type="password" formControlName="pwd2" [(ngModel)]="pwd2" placeholder="Confirm Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pwd2.errors }">

                                         <div *ngIf="submitted && f.pwd2.errors" class="invalid-feedback text-danger">
                                            <div *ngIf="f.pwd2.errors.required">Password is required</div>
                                         </div>

                                    </div>
                                    <p style="color: red;">{{mdp}}</p>

                                    <input type="submit" class="login loginmodal-submit" value="Join HELP123">
                                    <p class="login-input-text">By registering you confirm that you accept the <a href="#" class="sub-link">Terms and Conditions</a> and <a href="#" class="sub-link">Privacy Policy</a></p>
                                    <hr class="form-line">
                                    <p class="footer-form-text">Already have an account ? <a [routerLink]="['/logon']" class="sub-link"> Log In</a> </p>
                                </form>
                    
                                      
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-4 col-sm-12 info-column">
                            <div class="section-content text-left text-white">
                                <div class="p-a50">
                                <h3 class="m-t20">Why register with HELP123 ?</h3>
                                <ul class="list-check-circle primary m-b20 p-a10 text-capitalize">
                                        <li>More than 30 000 Users.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                </ul>
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  