// shared css for the login and signup page
@import "../register/register.component.scss";

.section-register-form {
	
		.loginmodal-container {
		  max-width: 1250px;
		}
		.div-error{
			font-size: 16px !important;
			padding: 20px 0px 0px 0px !important;
		}

		::ng-deep .multiselect-dropdown .dropdown-btn {
			 font-size:15px !important;
		   border: 2px solid #d9d9d9 !important;
		   padding: 10px 8px !important;
		   background: white !important;
		}
		
		::ng-deep .dropdown-list {
				position: relative !important;
	  }

	  .experiencecol{
			background-color: white;
			width: 100% !important;
		    overflow: hidden;
		    box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		   -webkit-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		   -moz-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		    position: relative;
		    cursor:pointer;

		}
		.experiencecol{
			border: 2px solid #6d9ff3;
			color:#000;
		}
		.experiencecol-choose{
			border:4px solid #4285f4;
			color:red;
		}

		.experiencecol hr{
			border: 1px solid #d7d7d7;
			height: 0px !important;
		}
		.experiencecolcontent {
			padding: 5px 5px !important;
			font-size: 14px !important;
		}
		.experiencecolTitle {
			padding: 10px 0px !important;
			text-align: center !important;
			font-size: 17px !important;
			font-weight: 800 !important;
			margin-bottom: -10px !important;
		}

		.loginmodal-container input[type=submit],input[type=button] {
		  width: 100%;
		  display: block;
		  margin-bottom: 20px;
		  position: relative;
		}

		.log-bg{
			background-color:gray !important;
		}

		.labelstyle{ font-size:19px; font-weight:bold !important;margin-bottom:15px}
}