     <!-- OUR PLANS  -->
            <div class="section-full text-left section-register-form bg-white">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-12 col-sm-12 p-a10">
                            <div class="section-content text-center">
                                <div class="loginmodal-container">
                                    <h1>Complete your profile</h1>

                                     <div class="col-md-12"><alert></alert></div>
                                       
                                      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">

	                                    <div class="form-group">

	                                    	<input type="hidden" readonly="readonly" formControlName="fonctionName" class="form-control">

	                                      	<p class="text-left labelstyle">Full Name</p>

	                                      	<div class="row">
	                                      		
	                                      		<div class="col-md-6">
	                                      			<input type="text" formControlName="firstname" placeholder="Firstname"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">

			                                        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback text-danger">
			                                            <div *ngIf="f.firstname.errors.required">Firstname is required</div>
			                                        </div>
	                                            </div>

	                                            <div class="col-md-6">
	                                      			<input type="text" formControlName="surname" placeholder="Surname"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }">

			                                        <div *ngIf="submitted && f.surname.errors" class="invalid-feedback text-danger">
			                                            <div *ngIf="f.surname.errors.required">Surname is required</div>
			                                        </div>
	                                            </div> 
	                                      		
	                                      	</div>
	                                        	                                       
                                        </div>

                                         <div class="form-group">

                                            <p class="text-left labelstyle">Choose Your Profile Picture</p>

                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                     <input type="file" style=" height: auto;padding: 10px 10px 10px;font-size: 15px;" id="file-input"  accept="image/*" class="form-control" (change)="uploadProfilePic($event)" />

                                                    <div class="text-danger div-error">
                                                        <p *ngIf="textNoUplaod" style="color: #dc3545;font-weight: 800"> You must upload a picture </p>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                     <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" style="max-width: 150px;height: 150px;width: 150px;"><br>
                                                </div>


                                            </div>
                                            
                                                                                       
                                        </div>

                                        <div class="form-group">

                                            <p class="text-left labelstyle">Choose Your ID Card/ Passport Picture</p>

                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                     <input type="file" style=" height: auto;padding: 10px 10px 10px;font-size: 15px;" id="file-input"  accept="image/*" class="form-control" (change)="uploadProfilePic1($event)" />

                                                    <div class="text-danger div-error">
                                                        <p *ngIf="textNoUplaod1" style="color: #dc3545;font-weight: 800"> You must upload a picture </p>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                     <img *ngFor="let url of urls1" [src]="url" class="rounded mb-3" style="max-width: 150px;height: 150px;width: 150px;"><br>
                                                </div>
                                            </div>
                                                                                       
                                        </div>

                                        <div class="form-group">

                                            <p class="text-left labelstyle">Choose a Picture where you appear with your ID card</p>

                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                     <input type="file" style=" height: auto;padding: 10px 10px 10px;font-size: 15px;" id="file-input"  accept="image/*" class="form-control" (change)="uploadProfilePic2($event)" />

                                                    <div class="text-danger div-error">
                                                        <p *ngIf="textNoUplaod2" style="color: #dc3545;font-weight: 800"> You must upload a picture </p>
                                                    </div>

                                                </div>

                                                <div class="col-md-6">
                                                     <img *ngFor="let url of urls2" [src]="url" class="rounded mb-3" style="max-width: 150px;height: 150px;width: 150px;"><br>
                                                </div>
                                            </div>
                                                                                       
                                        </div>

                                        <div class="form-group">
	                                    	
	                                      	<p class="text-left labelstyle">Languages</p>
	                                      	<p class="text-left">Tell us the language you speak so we can offer you relevants jobs from seekers speaking the same language</p>

                                            <ng-multiselect-dropdown *ngIf="LanguageData"
                                            name="langues"
                                            [placeholder]="'Select language'"
                                            [data]="LanguageData"
                                            formControlName="langues"
                                            [settings]="dropdownSettings"
                                            (onSelect)="onItemSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            >
                                            </ng-multiselect-dropdown>

                                            <div *ngIf="submitted && f.langues.errors" class="text-danger div-error">
                                                <p> You must select at least one language</p> 
                                            </div>

                                            
                                            
                                            
                                            
	                                       
                                        </div>

                                        <div class="form-group" *ngIf="ExperienceCol">
                                           

                                            <p class="text-left labelstyle">Experience</p>
                                            <p class="text-left">How would you rate your experience with the skills you have selected</p>
                                            
                                        <div class="row">    
                                         
                                             <div class="col-md-4 experiencecol" [ngClass]="state1 ? 'experiencecol' : 'experiencecol-choose'" (click)="logTextFunction1('Beginner')" style="margin-left: -5px;margin-right: 3px;">
                                                 <p class="experiencecolTitle">Beginner</p>
                                                 <hr>
                                                 <p class="experiencecolcontent">You have been working with these skills for less than a year and are still learning</p>
                                             </div>

                                             <div class="col-md-4 experiencecol" [ngClass]="state2 ? 'experiencecol' : 'experiencecol-choose'"  (click)="logTextFunction2('Intermediate')" style="margin-right: 2px;">
                                                 <p class="experiencecolTitle">Intermediate</p>
                                                 <hr>
                                                 <p class="experiencecolcontent">You have been working with these skills for 2 - 5 years and can almost complete everything.</p>
                                             </div>

                                             <div class="col-md-4 experiencecol" [ngClass]="state3 ? 'experiencecol' : 'experiencecol-choose'"  (click)="logTextFunction3('Advanced')">
                                                 <p class="experiencecolTitle">Advanced</p>
                                                 <hr>
                                                 <p class="experiencecolcontent">You have been working with those skills for more than 5 years, and are expert in them.</p>
                                             </div>

                                             <input type="hidden" readonly="readonly" formControlName="experience" class="form-control">

                                       </div>
                                            
                                            
                                           
                                        </div>

                                        <div class="row">
                                        	<div class="col-md-6" *ngIf="HideFinishElement"><input type="submit" class="login loginmodal-submit" value="Finish !"></div>
                                        	<div class="col-md-6"><input type="button" class="login log-bg loginmodal-submit" value="Previous" (click)="onPrevious()"></div>
                                        </div>	
                                        
                                        <!-- <pre>{{ regForm.value | json}}</pre> -->
                                        
                                      </form>
                    
                                      
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-4 col-sm-12 info-column">
                            <div class="section-content text-left text-white">
                                <div class="p-a50">
                                <h3 class="m-t20">Why Completing your profile</h3>
                                <ul class="list-check-circle primary m-b20 p-a10 text-capitalize">
                                        <li>More than 30 000 Users.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                </ul>
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  