     <!-- OUR PLANS  -->
            <div class="section-full text-left section-register-form bg-white">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-6 col-sm-12 p-a10">
                            <div class="section-content text-center">
                                <div class="loginmodal-container">
                                    <h1>Select Account Type</h1>
                                        
 
                                       <p class="text-left">Don’t worry, this can be changed later.</p>


                                      <form [formGroup]="regForm">

                                    <div class="form-group">
                                        <input #buttonOpt1 type="button" class="login loginmodal-submit" value="Offer Helps"  [ngClass]="state1 ? 'log-bg-white' : 'log-bg-white-choose'" (click)="logTextFunction1(buttonOpt1.value)">
                                        <input #buttonOpt2 type="button" class="login loginmodal-submit"  [ngClass]="state2 ? 'log-bg-white' : 'log-bg-white-choose'" value="Ask for Helps" (click)="logTextFunction2(buttonOpt2.value)">
                                    </div>

                                        <pre *ngIf="chosenOption">{{chosenOption}}</pre>

                                        <input type="button" class="login loginmodal-submit" value="Next" (click)="onNext(ChosenOptNum)" *ngIf="HideElement">
                                        <input type="button" class="login log-bg loginmodal-submit" value="Previous" (click)="onPrevious()">
                                        
                                      </form>
                    
                                      
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-6 col-sm-12 info-column">
                            <div class="section-content text-left text-white">
                                <div class="p-a50">
                                <h3 class="m-t20">Offers helps account type explain</h3>
                                <ul class="list-check-circle primary m-b20 p-a10 text-capitalize">
                                        <li>More than 30 000 Users.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied.</li>
                                </ul>

                                <h3 class="m-t20">Ask for helps account type explain</h3>
                                <ul class="list-check-circle primary m-b20 p-a10 text-capitalize">
                                        <li>More than 30 000 Users.</li>
                                        <li>You only have to pay for work when it has been completed and you're 100% .</li>
                                </ul>
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  