// shared css for the login and signup page
@import "../register/register.component.scss";

.section-register-form {
	

		.loginmodal-container input[type=submit],input[type=button] {
		  width: 100%;
		  display: block;
		  margin-bottom: 20px;
		  position: relative;
		}

		.log-bg{
			background-color:gray !important;
		}

		.log-bg-white{
			background-color:white !important;
			padding: 30px 0px;
			border:1px solid #000;
			color:#4285f4;
		}
		.log-bg-white-choose{
			background-color:white !important;
			padding: 30px 0px;
			border:4px solid #4285f4;
			color:red;
		}

		.sub-link{ cursor:pointer !important;}
}		