<div class="row" style="border-radius: 10px;">

    <div class="col-md-12" *ngIf="!displayForm">
        <div class="row">
            <a href="javascript:void(0);" style="margin: auto;"><img src="assets/live-chat.png" width="70%" alt="Chat" (click)="openForm()"></a>
        </div>        
    </div>
    <div class="col-md-12" *ngIf="displayForm" style="background-color: white; border-radius: 10px;">
        <div class="row" style="background-color: aqua; padding: 2px; text-align: center; "> 
            <a href="javascript:void(0);" (click)="openForm()" style="height: 100%; width: 100%; text-decoration: none; color: black;"><b>helpone23 live chat</b></a>
        </div>
        <div class="row" style="overflow-y: scroll; max-height: 500px;">        
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-9" style="border-radius: 8px; background-color: rgb(243, 243, 243); margin: 10px; padding: 5px;">
                        <p><b>Hello, Welcome on Helpone23</b><br>Please let us know below what we can help you with !</p>
                    </div>
                </div>
                <div class="row" style="padding: 5px;">
                    <button class="button" style="position: relative; margin-left: auto; margin-right: auto;" (click)="ajouter('Offer a service ?', 'user', offreur, 'robot')"> Offer a service ? </button>
                </div> 
                <div class="row" style="padding: 5px;">
                    <button class="button" style="position: relative; margin-left: auto; margin-right: auto;" (click)="ajouter('Request a service ?', 'user', demandeur, 'robot')"> Request a service ? </button>
                </div>
                <div class="row" style="padding: 5px;">
                    <button class="button" style="position: relative; margin-left: auto; margin-right: auto;" (click)="sendMessage()"> Particular question ? </button>
                </div> 

                <div class="row" *ngFor="let reponse of reponses" style="padding: 5px; font-size: 10px;">
                        <div style=" padding: 5px; margin: 2px; border-radius: 10px; text-align: justify;" [ngStyle]="{'background-color':getColor(reponse.nom) }">
                            {{reponse.message}}
                        </div> 
                </div> 
                
                <div class="row" *ngIf="fillForm" style="margin-top: 15px; padding: 5px;">
                    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="row">	     
                                <div class="col-md-12" style="text-align: center;">
                                    Please fill the form to send us a Vue.config.optionMergeStrategies
                                </div>                                 		
                                <div class="col-md-12">
                                    <input type="text" formControlName="name" placeholder="name"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback text-danger">
                                        <div *ngIf="f.name.errors.required">name is required</div>
                                    </div>
                                </div>
    
                                <div class="col-md-12" style="margin-top: 5px; margin-bottom: 5px;">
                                    <input type="text" formControlName="email" placeholder="Email"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>   
                                
                                <div class="col-sm-12">
                                    <textarea class="form-control"  formControlName="message" [ngClass]="{ 'ask-is-invalid': submitted && f.messageerrors }"  rows="5" style="height: 160px;border: 3px solid #595656;"></textarea>
                                    <p *ngIf="submitted && f.messageerrors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a message for this service</p>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <input type="submit" class="login loginmodal-submit" value="Send message" style="margin: auto;">
                        </div>                               
                        
                    </form>
                </div>

            </div>
            
        </div>
    </div>
    

</div>