<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col-lg-12" style="text-align: center; padding-bottom: 50px;">
            <h1><b>{{categorie}}</b></h1>
            <h2><b>Select the service you need</b></h2>
        </div>
        <div class="col-lg-3" *ngFor="let valueFetch of sous_cat | slice:0:11;" style="padding-bottom: 50px;">
            <div style="background-color: greenyellow; min-height: 70px; margin: 10px; display: flex; padding-top: 10px;"> 
                <div  style="margin: auto;">
                    <p>
                        <a [routerLink]="['/askForHelp-step2/',valueFetch._id]" (click)="saveSousCategorie(valueFetch.souscategoryName, valueFetch._id)" style="text-decoration: none;"> <b>{{valueFetch.description}}</b></a>                   
                    </p>
                    <p>{{valueFetch.description}}</p>                   
                </div>
            </div>
        </div>
    </div>
</div>