<div class="section-full text-left section-register-form bg-white">
        <div class="container">
            
             <div class="row">
               
                <div class="col-md-12 p-a30 m-t50 loginmodal-col">
                    <div class="section-content">
                        <h1>Where Can You Help ?</h1>
                        <p class="m-b70">Select areas where you have skills so we can recommend jobs for you</p>

                        <div class="row">
                           
                            <div class="col-md-4">
                                <div class="loginmodal-container">
                                 <p class="m-b20 text-center header-title">Search</p>
                                 <hr class="col-hr-line m-b30">
                                    
                                 <ul class="text-black categories-list" *ngIf="cats">
                                       
                                        <li *ngFor="let val of cats.data| slice:0:12;">
                                            <a href="javascript:" (click)="loadSubCat(val._id,val.categoryName)" class="text-black">{{ val.categoryName }}</a>
                                        </li>
                                 </ul>
                              
                                 </div>
                            </div>

                            <div class="col-md-4" *ngIf="sec_col">
                                <div class="loginmodal-container">
                                 <p class="m-b20 text-center header-title">{{ chosenOptionTitle }}</p>
                                 <hr class="col-hr-line m-b30">

                                 
                                 <ul class="text-black sub-categories-list" *ngIf="subcats_data">
                                        
                                        <li *ngFor="let value of subcats_data.data| slice:0:12; let rank=index" >
                                            <a href="javascript:" class="text-black">
                                            <input id="checkbox-{{rank+1}}" 
                                            (change)="ListSelectedItems($event,6)" class="checkbox-custom" name="{{ value.souscategoryName }}"  type="checkbox" value="{{ value._id }}">
                                            <label for="checkbox-{{rank+1}}" class="checkbox-custom-label label-hover">{{ value.souscategoryName }}</label>
                                            </a>
                                        </li>


                                 </ul>
                                 
                              
                                 </div>
                            </div>

                            <div class="col-md-4" *ngIf="third_col">
                                <div class="loginmodal-container">
                                 <p *ngIf="chosenOption" class="m-b20 text-center header-title">{{chosenOption}}</p>
                                 <hr class="col-hr-line m-b30">

                                 <!-- <pre *ngIf="TableData"> {{ TableData | json }}</pre> -->

                                 <ul class="text-black sub-categories-list" *ngIf="TableData">
                                        
                                       <li *ngFor="let value1 of TableData | slice:0:12; let rank1=index" >
                                            <a href="javascript:" class="text-black">
                                            <input checked="checked" class="checkbox-custom" type="checkbox">
                                            <label class="checkbox-custom-label label-hover">{{ value1.sousCategoryName }}</label>
                                            </a>
                                        </li>

                                 </ul>
                              
                                 </div>
                            </div>

                        </div>



                        
                    </div>                          
                </div>



          </div> 

          <div class="form-group" style="margin-top: 20px;">                                          
            <p class="text-left labelstyle">Experience</p>
            <p class="text-left">How would you rate your experience with the skills you have selected</p>
            
            <div class="row">    
            
                <div class="col-md-4 experiencecol" [ngClass]="state1 ? 'experiencecol' : 'experiencecol-choose'" (click)="logTextFunction1('Beginner')" style="margin-left: -5px;margin-right: 3px;">
                    <p class="experiencecolTitle">Beginner</p>
                    <hr>
                    <p class="experiencecolcontent">You have been working with these skills for less than a year and are still learning</p>
                </div>

                <div class="col-md-4 experiencecol" [ngClass]="state2 ? 'experiencecol' : 'experiencecol-choose'"  (click)="logTextFunction2('Intermediate')" style="margin-right: 2px;">
                    <p class="experiencecolTitle">Intermediate</p>
                    <hr>
                    <p class="experiencecolcontent">You have been working with these skills for 2 - 5 years and can almost complete everything.</p>
                </div>

                <div class="col-md-4 experiencecol" [ngClass]="state3 ? 'experiencecol' : 'experiencecol-choose'"  (click)="logTextFunction3('Advanced')">
                    <p class="experiencecolTitle">Advanced</p>
                    <hr>
                    <p class="experiencecolcontent">You have been working with those skills for more than 5 years, and are expert in them.</p>
                </div>

                <!-- <input type="hidden" readonly="readonly" formControlName="experience" class="form-control"> -->

            </div>                                
        </div>

          <div class="row">

             <div class="col-md-12 m-t30 m-b20" >
                <div style="margin-right: -26px">
                     <input *ngIf="!currentUser.user.fonctionName" type="button"  class="button-gray-layout float-lg-right float-md-left m-t10 m-r10"  value="{{bntText}}" (click)="onSave()"> 
                     <input *ngIf="currentUser.user.fonctionName" type="button"  class="button-gray-layout float-lg-right float-md-left m-t10 m-r10"  value="{{bntText}}" (click)="becomeOffer()">
                     <input type="button" class="button-gray-layout float-lg-right float-md-left m-t10 m-r10" value="Cancel" (click)="onPrevious()">
                </div>  
             </div>

          </div>
        
        </div>
    </div>