/* You can add global styles to this file, and also import other style files */

 .my-pagination ::ng-deep .ngx-pagination { 
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  padding: 10px 0;
  font-size:19px;
  margin: 0 auto;
  justify-content: center;
  }
  .my-pagination ::ng-deep .ngx-pagination li a {
  color: #6c757d;
  border: 1px solid #e0e0e0;
  padding: 5px 13px;
  }
  .my-pagination ::ng-deep .ngx-pagination .current {
  padding: 5px 13px !important;
  }
   .my-pagination ::ng-deep .ngx-pagination .disabled  {
  padding: 5px 13px !important;
  border: 1px solid #e0e0e0;
  }
  .my-pagination ::ng-deep .ngx-pagination li {
  margin-right:0px;
  }

  
  /*  
   * Rating styles
   */
  .rating {
      width: 226px;
      margin: 0 auto 1em;
      font-size: 45px;
      overflow:hidden;
  }
  .rating a {
      float:right;
      color: #aaa;
      text-decoration: none;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
  }
  .rating a:hover,
  .rating a:hover ~ a,
  .rating a:focus,
  .rating a:focus ~ a		{
      color: orange;
      cursor: pointer;
  }
  .rating2 {
      direction: rtl;
  }
  .rating2 a {
      float:none
  }