             <!-- Modal -->
<div class="fade modal" id="ModalDepFunds" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="background-color: #F7F7F7;">
      <div class="modal-header">
        <div style="flex-direction:column;">
          <h3 class="modal-title" id="ModalLabel" style="color: gray">Deposit Funds</h3>
        </div>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="section-full text-left">
        <div class="container-fluid">
            <div class="row dash-col-title m-tb20">
              <div class="col-sm-12 m-b10">
                  <p style="margin-bottom: 0px !important">
                      <alert></alert>
                  </p>
              </div> 
          </div>

          <form [formGroup]="rechargeWalletForm" (ngSubmit)="onSubmit(MyFund.data[0].amount)">                                            
              <div class="row">
                  
                  <div class="col-md-6">
                     <p>Account Balance :</p>
                  </div>   
                  
                  <div class="col-md-6 text-md-right text-sm-left" *ngIf="MyFund">
                    <p style="font-size:18px;color: #4285f4;font-weight: 700;" *ngIf="MyFund.data[0]"> {{MyFund.data[0].amount}} ZAR </p>

                    <p style="font-size:18px;color: #4285f4;font-weight: 700;" *ngIf="!MyFund.data[0]"> 0 ZAR </p>
                 </div>  

              </div>

              <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 40px;margin-top: 10px;"> 

              <div class="row m-b40">
                  <div class="col-md-6">
                      <p>Payment Method :</p>
                  </div> 
                    
                  <div class="col-md-4 offset-md-2">
                     <div class="styled-select slate" *ngIf="paymentVal">
                      <select formControlName="methodpayment_id" [ngClass]="{ 'ask-is-invalid': submitted && f.methodpayment_id.errors }" (change)="showPaymentName($event.target.options[$event.target.selectedIndex].text)">
                        <option value="">Please Select</option>
                       <!-- <option *ngFor="let val of paymentVal.data" [value]="val._id">
                            {{ val.name }}
                        </option> -->
                        <option *ngIf="paymentVal.data" [value]="paymentVal.data[0]._id">
                            {{ paymentVal.data[0].name }}
                        </option>
                      </select>
                     </div>

                     <input type="hidden" readonly="readonly" formControlName="methodpayment_name" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submitted && f.methodpayment_name.errors }">
                  </div>   
              </div>

              <div class="row m-b40">
                  <div class="col-md-6">
                      <p>Amount :</p>
                  </div>   
                  <div class="col-md-4 offset-md-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-money"></i></span>
                        </div>

                        <input type="text" class="form-control ask-date-select" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers placeholder="No Min" formControlName="amount" aria-label="Search" (input)="inputValidator($event)" (focus)="inputValidator($event)" [ngClass]="{ 'ask-is-invalid': submitted && f.amount.errors }">

                        <input type="hidden"  readonly="readonly" class="form-control" formControlName="user_id" [ngClass]="{ 'ask-is-invalid': submitted && f.user_id.errors }">
                      </div>
                  </div>   
              </div>

              <div class="row m-b40">  
                  <div class="col-12 text-md-right text-sm-left">
                      <input type="submit" *ngIf="buttonDeposit"  class="button-bid" style="margin-right: 5px !important;padding: 15px 45px !important;"  value="Deposit">

                       <ngx-paypal [config]="payPalConfig" *ngIf="buttonPaypal"></ngx-paypal>

                  </div>   
              </div>

            </form> 
        </div>
    </div> 
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

             <!-- Modal -->
<div class="fade modal" id="ModalPay" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="background-color: #F7F7F7;">
      <div class="modal-header">
        <div style="flex-direction:column;" *ngIf="MyFund && ServiceBidInfos">
          <h3 class="modal-title" id="ModalLabel" style="color: gray">Pay {{MyFund.data[0].username}} for Job : <i>{{ServiceBidInfos.data.nom_service}} </i> </h3>
        </div>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="section-full text-left">
        <div class="container-fluid">
            <div class="row dash-col-title m-tb20">
              <div class="col-sm-12 m-b10">
                  <p style="margin-bottom: 0px !important">
                      <alert></alert>
                  </p>
              </div> 
          </div>

          <form [formGroup]="PayHelperForm" (ngSubmit)="onPay(MyFund.data[0].amount)">                                            
              <div class="row">
                  
                  <div class="col-md-6">
                     <p>Account Balance :</p>
                  </div>   
                  
                  <div class="col-md-6 text-md-right text-sm-left" *ngIf="MyFund">
                    <p style="font-size:18px;color: #4285f4;font-weight: 700;" *ngIf="MyFund.data[0]"> {{MyFund.data[0].amount}} ZAR </p>

                    <p style="font-size:18px;color: #4285f4;font-weight: 700;" *ngIf="!MyFund.data[0]"> 0 ZAR </p>
                 </div>  

              </div>

              <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 10px;margin-top: 10px;"> 

              <div class="row m-b20">
                  <div class="col-md-6">
                      <p>Service Prize :</p>
                  </div>   
                  <div class="col-md-4 offset-md-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-money"></i></span>
                        </div>

                        <input type="text" readonly="readonly" class="form-control ask-date-select" formControlName="service_price" aria-label="Search" [ngClass]="{ 'ask-is-invalid': submittedPay && pF.service_price.errors }">
                      </div>
                  </div>   
              </div>

               <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 10px;margin-top: 10px;"> 

              <div class="row m-b20">
                  <div class="col-md-6">
                      <p>Tips :</p>
                  </div>   
                  <div class="col-md-4 offset-md-2">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-money"></i></span>
                        </div>

                        <input type="text" class="form-control ask-date-select" placeholder="00" formControlName="tips" aria-label="Search" [ngClass]="{ 'ask-is-invalid': submittedPay && pF.tips.errors }">

                        <input type="hidden"  readonly="readonly" class="form-control" formControlName="serviceaskforhelp_id" [ngClass]="{ 'ask-is-invalid': submittedPay && pF.serviceaskforhelp_id.errors }">
                      </div>
                  </div>   
              </div>

              <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 10px;margin-top: 10px;"> 

              <div class="row m-b20">
                  <div class="col-md-6">
                      <p>Total :</p>
                  </div>   
                  <div class="col-md-4 offset-md-2 text-sm-left text-md-right">
                      <span style="font-size: 13px;color: #7c7a7a;">{{ StrToInt(PayHelperForm.value.service_price) + StrToInt(PayHelperForm.value.tips) }} ZAR </span>
                  </div>   
              </div>

              <div class="row m-b40">  
                  <div class="col-12 text-md-right text-sm-left">
                      <input type="submit"  class="button-bid" style="margin-right: 5px !important;padding: 15px 45px !important;"  value="Pay">
                      <input type="button"  class="button-bid" style="margin-right: 5px !important;padding: 15px 45px !important;"  value="Cancel" data-dismiss="modal">
                  </div>   
              </div>

            </form> 
        </div>
    </div> 
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

             <!-- Modal -->
<div class="fade modal" id="ModalRate" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content" style="background-color: #F7F7F7;">
      <div class="modal-header">
        <div style="flex-direction:column;" *ngIf="MyFund && ServiceBidInfos">
          <h3 class="modal-title" id="ModalLabel" style="color: gray">Rate {{MyFund.data[0].username}} Help</h3>
        </div>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="section-full text-left">
        <div class="container-fluid">
            <div class="row dash-col-title m-tb20">
              <div class="col-sm-12 m-b10">
                  <p style="margin-bottom: 0px !important">
                      <alert></alert>
                  </p>
              </div> 
          </div>

          <form [formGroup]="RateHelperForm" (ngSubmit)="onRate()">                                            
              <div class="row">                  
                  <div class="col-md-12">
                     <p>We appreciate you taking a little bit of your time to rate and comment help provided</p>
                  </div>    
              </div>

              <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 10px;"> 
              <div class="row">
                  <div class="col-md-6">
                      <p style="color: #4285f4;font-weight: bold">Rate</p>
                  </div>    
              </div>
              <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 10px;"> 

              <div class="row">
                  <div class="col-md-12">
                     <star-rating [showHalfStars]="true" (starClickChange)="onStarClick($event)" (ratingChange)="onStarRatingChange($event)"  [step]="0.5" [rating]="0" [starType]="'svg'" size="large"></star-rating>
                  </div>   
                        <input type="hidden"  readonly="readonly" class="form-control" formControlName="etoiles_donnees_par_offer_service" [ngClass]="{ 'ask-is-invalid': submittedRate && rF.etoiles_donnees_par_offer_service.errors }">  
              </div>
              <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 10px;margin-top: 10px;"> 

              <div class="row m-b40">
                  <div class="col-md-12">
                      <textarea class="form-control" [attr.maxLength]="2000" formControlName="commentaire_offer_service" [ngClass]="{ 'ask-is-invalid': submittedRate && rF.commentaire_offer_service.errors }" rows="5" style="height: 100px;border: 3px solid #595656;" ></textarea>
                  </div>     
              </div>

              <div class="row m-b40">  
                  <div class="col-12 text-md-right text-sm-left">
                      <input type="submit"  class="button-bid" style="margin-right: 5px !important;padding: 15px 45px !important;"  value="Rate">
                      <input type="button"  class="button-bid" style="margin-right: 5px !important;padding: 15px 45px !important;"  value="Cancel" data-dismiss="modal">
                  </div>   
              </div>

            </form> 
        </div>
    </div> 
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
              <!-- OUR PLANS  -->
            <div class="section-full text-left content-dash bg-gray">
                <div class="container">

                   <div class="row" style="margin-top: 40px;margin-bottom: -15px;">
                     <div class="col-sm-12">
                        <a href="javascript:void(0);" class="bid-title" *ngIf="ServiceBidInfos" >{{ServiceBidInfos.data.nom_service}}</a>
                     </div>
                  </div> 

                    <!-- <pre *ngIf="serviceData"> {{ serviceData | json }}</pre> -->

                     <div class="row" style="margin:0">
                       
                        <div class="col-md-12 col-lg-8 p-a20 m-tb30">
                            
                            <div class="row m-b30 bid-header-col p-tb5" style="margin-top: -20px;" *ngIf="ServiceBidInfos">
                                <div class="col-sm-2 text-md-center text-sm-left" style="border-right: 1px solid #5b5b5b;">
                                    <p>Bids</p>
                                    <span>{{ServiceBidInfos.data.nombre_bids}}</span>
                                </div>
                                <div class="col-sm-3 text-md-center text-sm-left" style="border-right: 1px solid #5b5b5b;">
                                    <p>Avg Bids (ZAR)</p>
                                    <span>{{ServiceBidInfos.data.Avg_bids}} {{ServiceBidInfos.data.device_name}}</span>
                                </div>
                                <div class="col-sm-3 text-md-center text-sm-left" style="border-right: 1px solid #5b5b5b;">
                                    <p>Help Budget (ZAR)</p>
                                    <span>{{ServiceBidInfos.data.min_price}} {{ServiceBidInfos.data.device_name}} - {{ServiceBidInfos.data.max_price}} {{ServiceBidInfos.data.device_name}}</span>
                                </div>
                                <div class="col-sm-4">
                                    <p class="float-sm-left float-md-right bid-status p-tb10">{{ (ServiceBidInfos.data.status == "bidder_selected") ? ("Awarded") :(ServiceBidInfos.data.status)}} </p>
                                </div>
                            </div> 


                            <div class="row m-b20 bid-header-col p-tb5" style="margin-top: 0px;" *ngIf="ServiceBidInfos">
                                
                                	<div class="row dash-col-title m-t20">
		                                <div class="col-sm-12">
		                                    <p style="font-size: 11px">{{ServiceBidInfos.data.description}}</p>
		                                </div>
	                               </div>

                                 <div class="col-sm-12" *ngIf="ServicePicInfos">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <img [src]="valImg.picture | safe: 'resourceUrl'" *ngFor="let valImg of ServicePicInfos.data" class="rounded mb-3" style="max-width: 120px;height: 120px;width: 120px">
                                        </div>
                                    </div>

                                    <div class="row">
                                        
                                        <div class="col-sm-1" *ngIf="ServiceTimeInfos">
                                           <i class="fa fa-calendar  fa-2x fa-color" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-4" *ngIf="ServiceTimeInfos">                               
                                            <p style="font-size: 12px" *ngFor="let valTime of ServiceTimeInfos.data;let x = index"> {{valTime.date | date }} {{valTime.time}}</p>
                                        </div>

                                        <div class="col-sm-4 offset-sm-1">
                                          <p style="font-size: 13px;"><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-bookmark  fa-2x fa-color" aria-hidden="true"> </i>  {{ getCategoryName(ServiceBidInfos.data.categoryService_id,services_categ.data) }}</a></p>
                                          <p style="font-size: 13px;"><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-map-marker  fa-2x fa-color" aria-hidden="true"></i>  {{ServiceBidInfos.data.city_deliver_help}}</a></p>
                                        </div>
                                    </div>
                                </div>

                            </div> 

                            <div class="row bid-header-col" style="background: #b2aeb0;color: #FFF;">
                                    <div class="col-sm-6 p-tb5" >
                                        <p>Awarded Bid</p>
                                    </div>                                
                            </div> 
 
                          <div class="row bid-header-col" style="margin-top: -5px;" *ngIf="ServiceBidInfos != 'undefined'">
                                    <div class="col-sm-2 p-tb20" >
                                      <img src="assets/homestyle/images/bid/profile-user.png" *ngIf="!ServiceBidInfos.data.picture_celui_choisit" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px">

                                       <img [src]="ServiceBidInfos.data.picture_celui_choisit | safe: 'resourceUrl'" *ngIf="ServiceBidInfos.data.picture_celui_choisit" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px;">

                                    </div>
                                    <div class="col-sm-7 p-tb20 bid-subcontent" >
                                        <p style="color: #4285f4;font-weight: 800 !important;font-size: 14px;">{{ServiceBidInfos.data.username_celui_choisit}}</p>
                                        <p style="font-weight: 700 !important">{{ServiceBidInfos.data.location_name_celui_choisit}}</p>
                                        <p style="font-weight: 700 !important">{{ServiceBidInfos.data.number_helps_asked_celui_choisit}} Helps oﬀered</p>
                                        <p><span style="font-size: 11px;background: #fbbc05;padding: 4px 4px;color: #4d4d4c;margin-right: 5px;">{{ServiceBidInfos.data.nbre_etoiles}}</span><!-- <img src="images/bid/star-solid.png" class="rounded" style="max-width: 15px;height: 15px;width: 15px"><img src="images/bid/star-half-solid.png" class="rounded" style="max-width: 10px;height: 15px;width: 8px;"> --></p>
                                        <p>{{ServiceBidInfos.data.status}}</p>
                                    </div>
                                    <div class="col-sm-3 p-t50 bid-subcontent text-sm-left text-md-right" >
                                        <p class="p-r20" style="font-size: 18px;font-weight: 700 !important;">{{ServiceBidInfos.data.price_bid_celui_choisit}} {{ServiceBidInfos.data.device_name}}</p>
                                        <!-- <p class="p-r20 p-tb20" style="margin-top: 10px;"><input type="button"  class="button-bid ml-auto"  value="Open Chat" style="border-radius: 8px;"></p> -->
                                    </div>
                                    <div class="col-sm-12 p-t50 bid-subcontent ">
                                      <div class="row" *ngIf="ServiceBidInfos && MyInfo" style="display: flex;">
                                         {{ShowPayButton()}}
                                         <input type="button" *ngIf="ServiceBidInfos.data.user_id == MyInfo.data[0]._id && PayButton" data-toggle="modal" data-target="#ModalPay"  class="button-bid ml-auto" style="background-color: #fbbc05 !important; margin: auto !important; border-radius: 8px;"  value="Pay Helper">
                                         <!-- <input type="button" *ngIf="PayButton" (click)="HidePayButton()"  class="button-bid ml-auto" style="background-color: #fbbc05 !important"  value="Cancel"> -->
                                       </div>
                                    </div>
                                
                            </div> 

                            <div class="row bid-header-col" style="margin-top: 0px;margin-bottom: 20px;border-top: none;">
                                    
                                <div class="col-md-12 p-a20 m-tb30">


                              <!-- TAB DEFAULT -->
                              <div class="section-content m-b30 section-nav-tabs ask-col" style="margin-top: 0px;" *ngIf="ServiceBidInfos.data.status != 'completed' && ServiceBidInfos.data.status != 'paid'">
                                    <div *ngIf="false" class="mt-tabs tabs-default profile-tabs">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#first">Help Notes</a></li>
                                            <li><a data-toggle="tab" href="#second">Schedule Dates</a></li>
                                        </ul>
                                        <div class="tab-content bid-header-col" style="margin-top: 15px;">
                                        
                                            <div id="first" class="tab-pane active">

                                            <div *ngIf="HelpNotesTab">

                                                <div class="row" *ngFor="let valueHN of HelpNotesTab.data | paginate: { itemsPerPage: 3, currentPage: t, id: 'firstPag' } ; let rank=index;  ">
                                                    <div class="col-sm-6 p-tb5 bid-subcontent" >
                                                      <p class="p-r10" style="font-size: 16px">By <a href="#" style="color: #4184f3">{{valueHN.username_celui_qui_ecrit}}</a> on {{valueHN.create_date | date }}</p> 
                                                   </div>
                                                   <div class="col-sm-6 p-tb5 bid-subcontent text-md-right text-sm-left" style="font-size: 16px;" >
                                                      <span style="color: #484848 !important" > Status : </span> <span style="color: #4184f3" *ngIf="ServiceBidInfos" > {{valueHN.status_help_note}}</span> 
                                                   </div>
                                                   <div class="col-sm-12 p-tb5 bid-subcontent" >
                                                      <p class="p-r10" style="color: #5a5353;">{{valueHN.note_help}}</p> 
                                                      <hr style="border: 0; border-top: 1px solid #d2d3d6;">
                                                   </div>

                                                </div>

                                                <div class="row">
                                                  <div class="col-md-12 p-tb30" >
                                                    <pagination-controls  class="my-pagination"  id="firstPag"
                                                            (pageChange)="t = $event"
                                                            maxSize="10"
                                                            directionLinks="true"
                                                            autoHide="true"
                                                            responsive="true"
                                                            previousLabel="Previous"
                                                            nextLabel="Next"
                                                            screenReaderPaginationLabel="Pagination"
                                                            screenReaderPageLabel="page"
                                                            screenReaderCurrentLabel="You're on page">
                                                       </pagination-controls>
                                                  </div>
                                              </div> 
                                                
                                              </div>
                                              
                                            <div class="row" *ngIf="ServiceBidInfos && MyInfo">
                                                <!-- <div class="col-sm-6 p-t5 p-b25" *ngIf="ServiceBidInfos.data.user_id == MyInfo.data[0]._id"> 
                                                 <input type="button" *ngIf="HelpFormButton && ServiceBidInfos.data.status != 'completed'" (click)="ShowPayButton()"  class="button-bid ml-auto" style="background-color: #fbbc05 !important"  value="Confirm Completion">
                                               </div> -->
                                               {{ShowPayButton()}}
                                               <!-- <div class="col-sm-6 p-t5 p-b25 text-md-right text-sm-left" *ngIf="ServiceBidInfos.data.status != 'completed' && ServiceBidInfos.data.user_id == MyInfo.data[0]._id ">
                                                 <input type="button" *ngIf="HelpFormButton" (click)="ShowHelpNoteForm()"  class="button-bid ml-auto"  value="Add Note">
                                               </div>

                                                <div class="col-sm-12 p-t5 p-b25 text-md-right text-sm-left" *ngIf="ServiceBidInfos.data.status != 'completed' && ServiceBidInfos.data.user_id != MyInfo.data[0]._id ">
                                                 <input type="button" *ngIf="HelpFormButton" (click)="ShowHelpNoteForm()"  class="button-bid ml-auto"  value="Add Note">
                                               </div> -->

                                            </div>

                                            <!-- <div class="row" *ngIf="ServiceBidInfos && MyInfo">
                                                <div class="col-sm-6 p-t5 p-b25 text-md-center" *ngIf="ServiceBidInfos.data.user_id == MyInfo.data[0]._id">
                                                 <input type="button" *ngIf="PayButton" data-toggle="modal" data-target="#ModalPay"  class="button-bid ml-auto" style="background-color: #fbbc05 !important;margin-right: 15px !important"  value="Pay Helper">
                                                 <input type="button" *ngIf="PayButton" (click)="HidePayButton()"  class="button-bid ml-auto" style="background-color: #fbbc05 !important"  value="Cancel">
                                               </div>
                                            </div> -->

                                            
                                            <!-- <div class="row" *ngIf="ServiceBidInfos && MyInfo">
                                                <div class="col-sm-12 p-t5 p-b25" *ngIf="ServiceBidInfos.data.user_id == MyInfo.data[0]._id">
                                                 <input type="button" *ngIf="ServiceBidInfos.data.status == 'completed' && ServiceBidInfos.data.commentaire_offer_service.length =='0'" data-toggle="modal" data-target="#ModalRate"   class="button-bid ml-auto" style="background-color: #fbbc05 !important"  value="Rate Bidder">
                                               </div>
                                            </div> -->

                                            <!-- <div *ngIf="HelpFormCol && false">
                                                <form [formGroup]="helpNoteForm" (ngSubmit)="SaveNote()">
                                                  <div class="row">
                                                     <div class="col-sm-12 p-tb5 bid-subcontent" style="font-size: 16px;" >
                                                        <span style="color: #484848 !important" > Status : </span> 
                                                         <div class="styled-select slate" style="width: 110px;">
                                                          <select formControlName="status_help_note" [ngClass]="{ 'ask-is-invalid': submittedForm1 && HF.status_help_note.errors }" style="padding: 5px 20px;color: #4285F4 !important;">
                                                            <option value="">Selected</option>
                                                            <option value="awarded">Awarded</option>
                                                            <option value="completed">Completed</option>
                                                          </select>
                                                        </div>
                                                     </div>
                                                  </div>
                                                  <div class="row">
                                                     <input type="hidden" formControlName="serviceAskForHelpId" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm1 && HF.serviceAskForHelpId.errors }" aria-label="Search">

                                                      <input type="hidden" formControlName="user_id" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm1 && HF.user_id.errors }" aria-label="Search">

                                                     <div class="col-sm-12 p-r20 m-b5">
                                                      <textarea class="form-control" [attr.maxLength]="2000" formControlName="note_help" [ngClass]="{ 'ask-is-invalid': submittedForm1 && HF.note_help.errors }" rows="5" style="height: 100px;border: 3px solid #595656;" ></textarea>
                                                      </div>  
                                                      <hr style="border: 0; border-top: 1px solid #d2d3d6;">
                                                  </div>
                                                  <div class="col-sm-12 p-r20 m-t15 text-sm-left text-md-center">
                                                     <input type="submit"  class="button-bid ml-auto" style="margin-right: 15px !important;"  value="Save">
                                                     <input type="button"  class="button-bid ml-auto" (click)="HideHelpNoteForm()"  value="Cancel">
                                                  </div> 
                                                </form>
                                              </div> -->
                                                
                                                
                                            </div>
                                            
                                            <!-- <div *ngIf="false" id="second" class="tab-pane">

                                      <form [formGroup]="scheduleDateForm" (ngSubmit)="SaveDate()">   

                                            <div class="row" style="padding: 0 20px;" *ngIf="SDFormCol">

                                              <input type="hidden" formControlName="serviceAskForHelpId" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm2 && SD.serviceAskForHelpId.errors }" aria-label="Search">

                                              <input type="hidden" formControlName="user_id" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm2 && SD.user_id.errors }" aria-label="Search">
                                   

                                                <div class="col-sm-6 p-tb20 p-r20" >
                                                    <div class="input-group">
                                                      <div class="input-group-prepend">
                                                        <span class="input-group-text trigger" style="color: #010101;font-size:26px;"><i class="fa fa-calendar"></i></span>
                                                      </div>
                                                      <input type="text" readonly="readonly" [owlDateTimeTrigger]="d2" [owlDateTime]="d2" formControlName="date_schedule" [ngClass]="{ 'ask-is-invalid': submittedForm2 && SD.date_schedule.errors }" class="form-control ask-date-select" placeholder="" aria-label="Search">
                                                      <owl-date-time [pickerType]="'calendar'" #d2></owl-date-time>
                                                    </div>

                                                </div>

                                                <div class="col-sm-6 p-tb20 p-r20" >
                                                    <div class="input-group">
                                                      <div class="input-group-prepend">
                                                        <span class="input-group-text trigger" style="color: #010101;font-size:26px;"><i class="fa fa-clock-o"></i></span>
                                                      </div>
                                                      <input type="text" readonly="readonly" [owlDateTimeTrigger]="t1"  [owlDateTime]="t1"  formControlName="time_schedule" [ngClass]="{ 'ask-is-invalid': submittedForm2 && SD.time_schedule.errors }" class="form-control ask-date-select" placeholder="" aria-label="Search">
                                                      <owl-date-time [pickerType]="'timer'" #t1></owl-date-time>
                                                    </div>

                                                </div>

                                            </div>

                                              <div class="row">
                                                <div class="col-sm-12 p-t5 p-b20 text-md-right text-sm-left" *ngIf="ServiceBidInfos" >
                                                 <input type="submit" style="margin-right: 15px !important;" *ngIf="ServiceBidInfos.data.status != 'completed'"  class="button-ask-link ml-auto" (click)="showSDForm()"  value="{{SDFormButtonLabel}}">
                                                 <input type="button" *ngIf="SDFormCol"  class="button-ask-link ml-auto" (click)="hideSDForm()"  value="Cancel">
                                               </div>
                                             </div>

                                           </form>

                                                <div class="col-md-12" *ngIf="ScheduleDateTab">
                                              
                                              <table class="table table-striped table-transact" [mfData]="ScheduleDateTab.data" #mf="mfDataTable" [mfRowsOnPage]="4" style="background-color: red;">
                                                <thead>                           
                                                    <tr class="title-row">
                                                      <th scope="col"> <mfDefaultSorter by="create_date">On</mfDefaultSorter></th>
                                                      <th scope="col"> <mfDefaultSorter by="username">By</mfDefaultSorter></th>
                                                      <th scope="col"> <mfDefaultSorter by="date_schedule">Date</mfDefaultSorter></th>
                                                      <th scope="col"> <mfDefaultSorter by="status_schedule">Status</mfDefaultSorter></th>
                                                      <th scope="col"> Action </th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                <tr *ngFor="let value of mf.data" > 
                                                    <td>{{value.create_date | date:'medium'}}</td>
                                                    <td>{{value.username}}</td>
                                                    <td>{{value.date_schedule | date }} {{value.time_schedule}}</td>
                                                    <td class="text-md-right text-sm-left" style="color: green;font-weight: bold"> {{value.status_schedule }}</td>
                                                    <td class="text-md-right text-sm-left">
                                                      <input type="button" style="background-color: #f15050;padding: 5px 10px;border: 2px solid white;color: white;font-weight: bold;" *ngIf="value.status_schedule == 'waiting'" (click)="ActionScheduleDate(value._id,'approved')"  class="ml-auto" value="Approved">
                                                      <input type="button" style="background-color: #57aa21;padding: 5px 10px;border: 2px solid white;color: white;font-weight: bold;"  *ngIf="value.status_schedule == 'waiting'"  class="ml-auto" (click)="ActionScheduleDate(value._id,'revoked')"  value="Revoked">
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                              
                                                   <tr>
                                                        <td colspan="4" align="center">
                                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                        </td>
                                                    </tr>    
                                               
                                                </tfoot>
                                              </table>
                                          </div>
                                            </div> -->
                                        
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tabs Default --> 

                                <!-- to certify that the work has been done -->

                                <div class="section-content m-b30 section-nav-tabs ask-col" style="margin-top: 0px;" *ngIf="ServiceBidInfos.data.status == 'paid'">
                                  <h6 style="text-align: center;">Is the service completed ? </h6>
                                  <p class="p-r20 p-tb20" style="margin-top: 10px; text-align: center;"><input type="button"  class="button-bid ml-auto" (click)="onTermine()" value="Completed" style="border-radius: 8px;"></p>
                                </div>

                                <div class="section-content m-b30 section-nav-tabs ask-col" style="margin-top: 0px;" *ngIf="ServiceBidInfos.data.nbre_etoiles==0 && ServiceBidInfos.data.status == 'completed' && ServiceBidInfos.data.user_id == ValUser">
                                  <h4 style="text-align: center;">Comment and Rate the service</h4>

                                  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <div class="row">	 
                                                <textarea style="margin-left: 20px; margin-right: 20px;" type="text" rows="7" formControlName="commentaire" placeholder="Comment"   class="form-control" [ngClass]="{ 'is-invalid': submitted && f.commentaire.errors }"></textarea>
                                            <div *ngIf="submitted && f.commentaire.errors" class="invalid-feedback text-danger">
                                                <div *ngIf="g.commentaire.errors.required">Comment is required</div>
                                            </div> 
                                            <input type="hidden"  readonly="readonly" class="form-control" formControlName="note" [ngClass]="{ 'ask-is-invalid': submitted && f.user_id.errors }">                                   
                                        </div>
                                        <div class="row">
                                          <div class="rating rating2"><!--
                                            --><a (click)="rate(5)" title="Give 5 stars" data-toggle="modal" data-target="#exampleModal">★</a><!--
                                            --><a (click)="rate(4)" title="Give 4 stars" data-toggle="modal" data-target="#exampleModal">★</a><!--
                                            --><a (click)="rate(3)" title="Give 3 stars" data-toggle="modal" data-target="#exampleModal">★</a><!--
                                            --><a (click)="rate(2)" title="Give 2 stars" data-toggle="modal" data-target="#exampleModal">★</a><!--
                                            --><a (click)="rate(1)" title="Give 1 star" data-toggle="modal" data-target="#exampleModal">★</a>
                                          </div>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Rate the service</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              </div> 
                                              <div class="modal-body">
                                                Are you sure you want to give the mark {{note}} to this service? and {{ServiceBidInfos.data.nbre_etoiles}}
                                              </div>
                                              <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                              <button type="button" class="btn btn-primary" (click)="setServiceEtoile()" data-dismiss="modal">Yes</button> 
                                              </div>
                                          </div>
                                          </div>
                                        </div>
                                    </div>                                    
                                  </form>                                  
                                </div>                                

                                <div class="section-content m-b30 section-nav-tabs ask-col" style="margin-top: 0px;" *ngIf="ServiceBidInfos.data.nbre_etoiles != 0">
                                  <p><b><h3>The applicant</h3></b></p>
                                  <div class="rating rating2">
                                    <a [ngStyle]="{'color': rateResult(5, ServiceBidInfos.data.nbre_etoiles)}" title="Give 5 stars">★</a>
                                      <a [ngStyle]="{'color': rateResult(4, ServiceBidInfos.data.nbre_etoiles)}" title="Give 4 stars">★</a>
                                      <a [ngStyle]="{'color': rateResult(3, ServiceBidInfos.data.nbre_etoiles)}" title="Give 3 stars">★</a>
                                      <a [ngStyle]="{'color': rateResult(2, ServiceBidInfos.data.nbre_etoiles)}" title="Give 2 stars">★</a>
                                      <a [ngStyle]="{'color': rateResult(1, ServiceBidInfos.data.nbre_etoiles)}" title="Give 1 star">★</a>
                                  </div>
                                  <div class="row" style="margin: 20px;">
                                    <h4 style="text-align: center;"><b>Comment</b></h4>
                                    <p style="margin-left: 20px; margin-right: 20px; text-align: justify;"><b>"{{ServiceBidInfos.data.commentaire_offer_service}}"</b></p>
                                  </div>
                                </div>
                                <!-- <input type="button"  class="button-bid" style="margin-right: 5px !important;padding: 15px 45px !important;"  value="Cancel" data-dismiss="modal"> -->

                                <!-- pour permettre à l'offreur de noter le déroulement du service -->
                                <div class="section-content m-b30 section-nav-tabs ask-col" style="margin-top: 20px;" *ngIf="ServiceBidInfos.data.etoiles_donnees_par_offer_service==0 && ServiceBidInfos.data.user_id_celui_choisit == ValUser">
                                  <h4 style="text-align: center;">Dear offer, Comment and Rate the service</h4>

                                  <form [formGroup]="regForm1" (ngSubmit)="onOffer()">
                                    <div class="form-group">
                                        <div class="row">	 
                                                <textarea style="margin-left: 20px; margin-right: 20px;" type="text" rows="7" formControlName="commentaire" placeholder="Comment"   class="form-control" [ngClass]="{ 'is-invalid': submitted && g1.commentaire.errors }"></textarea>
                                            <div *ngIf="submitted && g1.commentaire.errors" class="invalid-feedback text-danger">
                                                <div *ngIf="g1.commentaire.errors.required">Comment is required</div>
                                            </div> 
                                            <input type="hidden"  readonly="readonly" class="form-control" formControlName="note1" [ngClass]="{ 'ask-is-invalid': submitted && f.user_id.errors }">                                   
                                        </div>
                                        <div class="row">
                                          <div class="rating rating2"><!--
                                            --><a (click)="rate1(5)" title="Give 5 stars" data-toggle="modal" data-target="#exampleModal1">★</a><!--
                                            --><a (click)="rate1(4)" title="Give 4 stars" data-toggle="modal" data-target="#exampleModal1">★</a><!--
                                            --><a (click)="rate1(3)" title="Give 3 stars" data-toggle="modal" data-target="#exampleModal1">★</a><!--
                                            --><a (click)="rate1(2)" title="Give 2 stars" data-toggle="modal" data-target="#exampleModal1">★</a><!--
                                            --><a (click)="rate1(1)" title="Give 1 star" data-toggle="modal" data-target="#exampleModal1">★</a>
                                          </div>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                          <div class="modal-dialog" role="document">
                                          <div class="modal-content">
                                              <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel1">Rate the service</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
                                              </div> 
                                              <div class="modal-body">
                                                Are you sure you want to give the mark {{note1}} to this service? and {{commentaire}}
                                              </div>
                                              <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                              <button type="button" class="btn btn-primary" (click)="setOfferEtoile()" data-dismiss="modal">Yes</button>
                                              </div>
                                          </div>
                                          </div>
                                        </div>
                                    </div>                                    
                                  </form>                                  
                                </div>
                                <!-- fin de la note de l'offreur -->

                                <!-- Permet d'afficher la note donnée par l'offreur -->
                                <div class="section-content m-b30 section-nav-tabs ask-col" style="margin-top: 20px; margin-bottom: 20px; " *ngIf="ServiceBidInfos.data.etoiles_donnees_par_offer_service!=0">
                                  <p><b><h3>The Offer</h3></b></p>
                                  <div class="rating rating2">
                                      <a [ngStyle]="{'color': rateOffer(5, ServiceBidInfos.data.etoiles_donnees_par_offer_service)}" title="Give 5 stars">★</a>
                                      <a [ngStyle]="{'color': rateOffer(4, ServiceBidInfos.data.etoiles_donnees_par_offer_service)}" title="Give 4 stars">★</a>
                                      <a [ngStyle]="{'color': rateOffer(3, ServiceBidInfos.data.etoiles_donnees_par_offer_service)}" title="Give 3 stars">★</a>
                                      <a [ngStyle]="{'color': rateOffer(2, ServiceBidInfos.data.etoiles_donnees_par_offer_service)}" title="Give 2 stars">★</a>
                                      <a [ngStyle]="{'color': rateOffer(1, ServiceBidInfos.data.etoiles_donnees_par_offer_service)}" title="Give 1 star">★</a>
                                  </div>
                                  <div class="row" style="margin: 20px;">
                                    <h4 style="text-align: center;"><b>Comment</b></h4>
                                    <p style="margin-left: 20px; margin-right: 20px; text-align: justify;"><b>"{{ServiceBidInfos.data.commentaire_celui_choisit}}"</b></p>
                                  </div>
                                </div>
                                <!-- Fin de l'affichage de la note donnée par l'offreur -->
                                

                        </div>

                            </div> 


                          <div class="row bid-header-col" style="background: #b2aeb0;color: #FFF;">
                                    <div class="col-sm-6 p-tb5" >
                                        <p>Bidders</p>
                                    </div>
                                    <div class="col-sm-6 p-tb5 text-sm-left text-md-right">
                                        <form class="form-inline float-sm-left float-md-right" style="margin-top: 5px;margin-right: 5px;">
                                        <span class="ask-bid-search-select" style="color: white;">Sort By :</span>
                                        <div class="styled-select slate" style="width: 110px;">
                                        <select style="padding: 5px 20px;color: #FFF !important;">
                                          <option>Latest</option>
                                          <option>Today</option>
                                          <option>First</option>
                                        </select>
                                      </div>
                                      </form>
                                    </div>
                                
                          </div> 

                          <div *ngIf="BiddersInfo">

                          	<div class="row bid-header-col" style="margin-top: -5px;" *ngFor="let valueBID of BiddersInfo.data | paginate: { itemsPerPage: 5, currentPage: p, id: 'secondPag' } ; let rank=index;  " >
                                    <div class="col-sm-2 p-tb20" >
                                       <img src="assets/homestyle/images/bid/profile-user.png" *ngIf="!valueBID.picture_celui_qui_bid" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px">
                                       <img [src]="valueBID.picture_celui_qui_bid | safe: 'resourceUrl'" *ngIf="valueBID.picture_celui_qui_bid" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px;">
                                    </div>
                                    <div class="col-sm-7 p-tb20 bid-subcontent" >
                                        <p style="color: #4285f4;font-weight: 800 !important;font-size: 14px;">{{rank+1}} : {{valueBID.username_celui_qui_bid}}</p>
                                        <p style="font-weight: 700 !important">{{valueBID.location_name_celui_qui_bid}}</p>
                                        <p style="font-weight: 700 !important">{{valueBID.number_helps_asked_celui_qui_bid}} Helps oﬀered</p>
                                        <p><span style="font-size: 11px;background: #fbbc05;padding: 4px 4px;color: #4d4d4c;margin-right: 5px;">{{valueBID.nbre_etoiles_celui_qui_bid}}</span><!-- <img src="images/bid/star-solid.png" class="rounded" style="max-width: 15px;height: 15px;width: 15px"><img src="images/bid/star-half-solid.png" class="rounded" style="max-width: 10px;height: 15px;width: 8px;"> --></p>
                                    </div>
                                    <div class="col-sm-3 p-t50 bid-subcontent text-sm-left text-md-right" >
                                        <p class="p-r5" style="font-size: 18px;font-weight: 700 !important">{{valueBID.price_bid}}</p>
                                        <p class="p-r5">{{valueBID.date_livraison | date }} {{valueBID.time_livraison}}</p>
                                    </div>

                                    <div class="col-sm-12 p-tb10 bid-subcontent" >
                                        <p class="p-r20">{{valueBID.description_proposition}}</p> 
                                    </div>

                                
                            </div> 
                          	
                          </div> 

                            <div class="row bid-header-col" style="margin-top: -6px;">
                                <div class="col-md-12 p-tb20" >
                                  <pagination-controls  class="my-pagination" id="secondPag"
                                          (pageChange)="p = $event"
                                          maxSize="10"
                                          directionLinks="true"
                                          autoHide="false"
                                          responsive="true"
                                          previousLabel="Previous"
                                          nextLabel="Next"
                                          screenReaderPaginationLabel="Pagination"
                                          screenReaderPageLabel="page"
                                          screenReaderCurrentLabel="You're on page">
                                     </pagination-controls>
                                </div>
                            </div> 


                    

                        </div>

                         <div class="col-md-12 col-lg-3 offset-lg-1 p-a20 m-t30 dash-col" style="height: 45%">
                            <div class="section-content">
                               
                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Welcome Back</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6">
                                        <span *ngIf="MyInfo"> {{MyInfo.data[0].username}} </span>                                       
                                    </div>   
                                    <div class="col-6 text-right">
                                        <a href="javascript:void(0);" class="dash-footer-link">STARTER</a>
                                    </div>   
                                </div>
                                                              
                                <hr style="border: 0; border-top: 3px solid #6d9ff3;">
                            </div> 

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Open Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_open_helps}}</span>
                                        
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Bidding Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_bidding_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Completed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_completed_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Closed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_closed_helps}}</span>
                                    </div>  
                             </div>




                            <div class="section-content">
                               
                               <hr style="border: 0; border-top: 3px solid #6d9ff3;">

                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Account Balance</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6" *ngIf="MyFund">
                                        
                                        <a href="javascript:void(0);" *ngIf="MyFund.data[0]" class="dash-side-link">{{MyFund.data[0].amount}} ZAR</a>

                                        <a href="javascript:void(0);" *ngIf="!MyFund.data[0]" class="dash-side-link">0 ZAR</a>

                                    </div>   
                                    <div class="col-6 text-right">
                                        <a  href="javascript:void(0);" data-toggle="modal" data-target="#ModalDepFunds" class="dash-side-link">Deposit Funds</a>
                                    </div>   
                                </div>
                                                              
                                
                            </div>                    
                        </div>

                  </div> 

                
                </div>
            </div>  
