<div [@routerTransition]>
    <app-page-header [heading]="'Languages Management'" [icon]="'fa-settings'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                	 <h2 class="text-center">{{empformlabel}}</h2>  
           				<alert></alert>
                </div>

                <div class="col-md-10">  
      <form [formGroup]="addForm" novalidate class="form">

    <input  name="id" type="hidden" formControlName="_id" >  

<div class="row">
	
     <div class="form-group col-md-6">  
        <label for="title-data">Language Name</label>  
        <input formControlName="nom_langue" placeholder="Language Name" class="form-control" id="title-data" [ngClass]="{ 'is-invalid': submitted && f.nom_langue.errors }">  
        <div *ngIf="submitted && f.nom_langue.errors" class="invalid-feedback">
          <div *ngIf="f.nom_langue.errors.required">Language Name is required</div>
        </div>
     </div> 

</div>
     

<div class="row">
    <div class="form-group col-md-12 text-center">
        <button class="btn btn-success mr-4"  *ngIf="btnvisibility" (click)="onSubmit()">Save</button>   
        <button class="btn btn-success mr-4"  *ngIf="!btnvisibility" (click)="onUpdate()">Update</button> 
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button> 
    </div>
</div>
      
        <!-- <p>Form value: {{ addForm.value | json }}</p>   -->

      </form>  
    </div>  
   
            </div> 
        </div>

    </div>
</div>
    
