
<!-- OUR PLANS  -->
<div class="section-full text-left content-dash bg-gray">
    <div class="container">

    <div class="row" style="margin-top: 40px;">
        <div class="col-sm-12">
            <a href="javascript:void(0);" class="bid-title" *ngIf="ServiceBidInfos" >{{ServiceBidInfos.data.nom_service}}</a>
        </div>
    </div> 

        <!-- <pre *ngIf="serviceData"> {{ serviceData | json }}</pre> -->

        <div class="row" style="margin:0">
        
            <div class="col-md-12 col-lg-8 p-a20 m-tb30">
                
                <div class="row m-b30 bid-header-col p-tb5" style="margin-top: 0px;" *ngIf="ServiceBidInfos">
                    <div class="col-sm-2 text-md-center text-sm-left" style="border-right: 1px solid #5b5b5b;">
                        <p>Bids</p>
                        <span>{{ServiceBidInfos.data.nombre_bids}}</span>
                    </div>
                    <div class="col-sm-3 text-md-center text-sm-left" style="border-right: 1px solid #5b5b5b;">
                        <p>Avg Bids (ZAR)</p>
                        <span>{{ServiceBidInfos.data.Avg_bids}} {{ServiceBidInfos.data.device_name}}</span>
                    </div>
                    <div class="col-sm-3 text-md-center text-sm-left">
                        <p>Help Budget (ZAR)</p>
                        <span>{{ServiceBidInfos.data.min_price}} {{ServiceBidInfos.data.device_name}} - {{ServiceBidInfos.data.max_price}} {{ServiceBidInfos.data.device_name}}</span>
                    </div>
                    <div class="col-sm-4">
                        <p class="float-sm-left float-md-right bid-status p-tb10">{{ (ServiceBidInfos.data.status == "in_progress") ? ("OPEN") :(ServiceBidInfos.data.status)}} </p>
                    </div>
                </div> 


                <div class="row m-b20 bid-header-col p-tb5" *ngIf="ServiceBidInfos">
                    
                    <form [formGroup]="Form1" style="margin: 0px 25px;width: 90%;"> 
                        <div class="row dash-col-title m-t20" *ngIf="ShowF1Form" >
                            <div class="col-sm-12">
                            <p style="font-size: 11px;text-align: right" *ngIf="ServiceBidInfos.data.status=='in_progress'"><a href="javascript:void(0)" class="link-edit-profile" (click)="editF1(ServiceBidInfos.data.description)">Edit Description</a>
                                </p>
                                <p style="font-size: 11px">{{ServiceBidInfos.data.description}}</p>
                            </div> 
                    </div>
                        <div class="row dash-col-title m-t20" *ngIf="ShowF1EditForm" >                                                  
                        <div class="col-sm-12">
                            <textarea formControlName="description" [ngClass]="{ 'ask-is-invalid': submittedForm1 && F1.description.errors }" style="height: auto" class="form-control profile-form-adress"></textarea>
                            <p *ngIf="submittedForm1 && F1.description.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a description</p> 
                        </div>

                        <div class="col-sm-12 m-t20">
                            <a  href="javascript:void(0)"  (click)="SubmitUpdateF1(ServiceBidInfos.data._id)">Update Description
                            | </a>
                            <a  href="javascript:void(0)"  (click)="cancelF1()">Cancel</a>
                        </div>

                        <div class="col-sm-12">
                            <hr style="margin-top: 5px;">
                        </div>
                                        
                        </div>
                    </form>

                    <div class="col-sm-12" *ngIf="ServicePicInfos">
                        <div class="row">
                        <div class="col-md-12">
                            <img [src]="valImg.picture | safe: 'resourceUrl'" *ngFor="let valImg of ServicePicInfos.data" class="rounded mb-3" style="max-width: 120px;height: 120px;width: 120px">
                            </div>
                        </div>

                    <form [formGroup]="Form2" style="margin: 0px 25px;width: 90%;"> 
                        <div class="row">

                        <div class="col-md-12" *ngIf="ShowF2Form">
                            <p style="font-size: 11px;" *ngIf="ServiceBidInfos.data.status=='in_progress'"><a href="javascript:void(0)" class="link-edit-profile" (click)="editF2(ServiceBidInfos.data._id)">Edit Availabilty</a></p> 
                        </div>
                            
                            <div class="col-sm-1" *ngIf="ServiceTimeInfos && ShowF2Form">
                            <i class="fa fa-calendar  fa-2x fa-color" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-4" *ngIf="ServiceTimeInfos && ShowF2Form">                               
                                <p style="font-size: 12px" *ngFor="let valTime of ServiceTimeInfos.data;let x = index"> {{valTime.date | date }} {{valTime.time}}</p>
                            </div>

                            <div class="row dash-col-title m-t20" *ngIf="ShowF2EditForm" >                                                  
                            <div class="row" style="padding: 0 20px;">
                                    <div class="col-sm-6 p-tb20 p-r20" >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"  style="color: #010101;font-size:22px;" [owlDateTimeTrigger]="d0"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="d0" [owlDateTime]="d0" formControlName="date0" min="{{minDate}}" class="form-control trigger ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm2 && F2.date0.errors }" aria-label="Search">
                                        <owl-date-time [pickerType]="'calendar'" #d0></owl-date-time>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-tb20 p-r20" >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="color: #010101;font-size:22px;" [owlDateTimeTrigger]="t0"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="t0"  [owlDateTime]="t0" formControlName="time0" class="form-control trigger ask-date-select"  [ngClass]="{ 'ask-is-invalid': submittedForm2 && F2.time0.errors }" aria-label="Search">
                                        <owl-date-time [pickerType]="'timer'" #t0></owl-date-time>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-tb20 p-r20" >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"  style="color: #010101;font-size:22px;" [owlDateTimeTrigger]="d1"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="d1" [owlDateTime]="d1" formControlName="date1" min="{{minDate}}" class="form-control trigger ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm2 && F2.date1.errors }" aria-label="Search">
                                        <owl-date-time [pickerType]="'calendar'" #d1></owl-date-time>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-tb20 p-r20" >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"   style="color: #010101;font-size:22px;" [owlDateTimeTrigger]="t1"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="t1" [owlDateTime]="t1" formControlName="time1" class="form-control trigger ask-date-select"  [ngClass]="{ 'ask-is-invalid': submittedForm2 && F2.time1.errors }" aria-label="Search">
                                        <owl-date-time [pickerType]="'timer'" #t1></owl-date-time>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-tb20 p-r20" >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="color: #010101;font-size:22px;" [owlDateTimeTrigger]="d2"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="d2"  [owlDateTime]="d2" formControlName="date2" min="{{minDate}}" class="form-control trigger ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm2 && F2.date2.errors }" aria-label="Search">
                                        <owl-date-time [pickerType]="'calendar'" #d2></owl-date-time>
                                        </div>
                                    </div> 
                                    <div class="col-sm-6 p-tb20 p-r20" >
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" style="color: #010101;font-size:22px;" [owlDateTimeTrigger]="t2"><i class="fa fa-clock-o"></i></span>
                                        </div>
                                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="t2"   [owlDateTime]="t2" formControlName="time2" class="form-control trigger ask-date-select"  [ngClass]="{ 'ask-is-invalid': submittedForm2 && F2.time2.errors }" aria-label="Search">
                                        <owl-date-time [pickerType]="'timer'" #t2></owl-date-time>
                                        </div>
                                    </div>
                            </div>

                                <div class="col-sm-12 m-t20">
                                    <a  href="javascript:void(0)"  (click)="SubmitUpdateF2(ServiceBidInfos.data._id)">Update Date & Time
                                    | </a>
                                    <a  href="javascript:void(0)"  (click)="cancelF2()">Cancel</a>
                                </div>

                                <div class="col-sm-12">
                                    <hr style="margin-top: 5px;">
                                </div>
                                        
                        </div>

                            <div class="col-sm-6 offset-sm-1" *ngIf="ShowF2Form">
                            <p style="font-size: 13px;"><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-bookmark  fa-2x fa-color" aria-hidden="true"> </i>  {{ getCategoryName(ServiceBidInfos.data.categoryService_id,services_categ.data) }}</a></p>
                            <p style="font-size: 13px;"><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-map-marker  fa-2x fa-color" aria-hidden="true"></i>  {{ServiceBidInfos.data.city_deliver_help}}</a></p>
                            </div>
                        </div>
                    </form>
                    </div>

                </div> 

                <!-- <div class="row bid-header-col m-b20" style="padding-top: 10px;">
                <div class="col-lg-12" style="margin-bottom: 10px; text-align: center;"><h6><b> Reactions of users inrested by your service appear here !</b></h6></div>
                <div class="col-lg-12" *ngIf="helpInfos">
                    <div  *ngFor="let helpInfo of helpInfos.data" style="margin-bottom: 10px;"> 
                        <div *ngIf="helpInfo.user_service_id==currentUser.user._id" class="offset-md-3 col-md-9">  
                            <div class="offset-md-3 col-md-9" style="border-radius: 15px; background-color: blue; margin-bottom: 10px;">
                                <p>{{helpInfo.note_help}}</p>                                            
                            </div>
                            <button (click)="getAllAnswer(helpInfo._id)">Click to see your answers</button>
                            <div *ngIf="ansHelps" class="offset-md-5 col-md-7">
                                <div  *ngFor="let ansHelp of ansHelps.data">
                                <div *ngIf="ansHelp.note_help_id==helpInfo._id" class="offset-md-3 col-md-9" style="border-radius: 15px; background-color: rgb(0, 255, 98); margin-bottom: 10px;">
                                    {{ansHelp.ans_help}} 
                                </div>
                                </div>
                            </div>
                            <div class="offset-md-5 col-md-7">      
                                <form [formGroup]="regForm" (ngSubmit)="onSubmitAnswer(helpInfo._id, helpInfo.user_id_celui_qui_ecrit)">
                                    <div class="form-group">
                                        <textarea type="text" rows="3" formControlName="messService" placeholder="Answer:" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.messService.errors }"></textarea>
                                        <div *ngIf="submitted && f.messService.errors" class="invalid-feedback text-danger">
                                            <div *ngIf="f.messService.errors.required">Message is required</div>
                                        </div>
                                    </div>
                                    <input type="submit" class="login loginmodal-submit" value="Send" style="float: right;">      
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="row bid-header-col" style="background: #b2aeb0;color: #FFF; margin-top: 20px">
                        <div class="col-sm-6 p-tb5" >
                            <p>Bidders</p>
                        </div>
                        <div class="col-sm-6 p-tb5 text-sm-left text-md-right">
                            <form class="form-inline float-sm-left float-md-right" style="margin-top: 5px;margin-right: 5px;">
                            <span class="ask-bid-search-select" style="color: white;">Sort By :</span>
                            <div class="styled-select slate" style="width: 110px;">
                            <select style="padding: 5px 20px;color: #FFF !important;">
                            <option>Latest</option>
                            <option>Today</option>
                            <option>First</option>
                            </select>
                        </div>
                        </form>
                        </div>
                    
            </div> 

            <div *ngIf="BiddersInfo">

                <div class="row bid-header-col" style="margin-top: -5px;" *ngFor="let valueBID of BiddersInfo.data | paginate: { itemsPerPage: 5, currentPage: p } ; let rank=index;  " >
                        <div class="col-sm-2 p-tb20" >
                        <img src="assets/homestyle/images/bid/profile-user.png"  [routerLink]="['/access/profile-user', valueBID_id]" *ngIf="!valueBID.picture_celui_qui_bid" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px">
                        <img [src]="valueBID.picture_celui_qui_bid | safe: 'resourceUrl'"  [routerLink]="['/access/profile-user', valueBID._id]" *ngIf="valueBID.picture_celui_qui_bid" class="rounded mb-3 img-fluid" style="max-width: 100px;height: 100px;width: 100px;">
                        </div>
                        <div class="col-sm-7 p-tb20 bid-subcontent" >
                            <p style="color: #4285f4;font-weight: 800 !important;font-size: 14px;">{{rank+1}} : {{valueBID.username_celui_qui_bid}}</p>
                            <p style="font-weight: 700 !important">{{valueBID.location_name_celui_qui_bid}}</p>
                            <p style="font-weight: 700 !important">{{valueBID.number_helps_asked_celui_qui_bid}} Helps oﬀered</p>
                            <p><span style="font-size: 11px;background: #fbbc05;padding: 4px 4px;color: #4d4d4c;margin-right: 5px;">{{valueBID.nbre_etoiles_celui_qui_bid}}</span><!-- <img src="images/bid/star-solid.png" class="rounded" style="max-width: 15px;height: 15px;width: 15px"><img src="images/bid/star-half-solid.png" class="rounded" style="max-width: 10px;height: 15px;width: 8px;"> --></p>
                        </div>
                        <div class="col-sm-3 p-t50 bid-subcontent text-sm-left text-md-right" >
                            <p class="p-r5" style="font-size: 18px;font-weight: 700 !important">{{valueBID.price_bid}}</p>
                            <p class="p-r5">{{valueBID.date_livraison | date }} {{valueBID.time_livraison}}</p>
                        </div>

                        <div class="col-sm-12 p-t10 bid-subcontent" >
                            <p class="p-r20">{{valueBID.description_proposition}}</p> 
                        </div>
                    
                        <form [formGroup]="FormBidAccept" style="width: 90%;">
                        <div class="col-sm-12 bid-subcontent text-center" >
                            
                            <input type="hidden" formControlName="user_id_celui_choisit" [value]="valueBID.user_id_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.user_id_celui_choisit.errors }">

                            <input type="hidden"  formControlName="username_celui_choisit" [value]="valueBID.username_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.username_celui_choisit.errors }">

                            <input type="hidden" formControlName="firstname_celui_choisit" [value]="valueBID.firstname_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.firstname_celui_choisit.errors }">

                            <input type="hidden" formControlName="location_name_celui_choisit" [value]="valueBID.location_name_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.location_name_celui_choisit.errors }">

                            <input type="hidden" formControlName="number_helps_asked_celui_choisit" [value]="valueBID.number_helps_asked_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.number_helps_asked_celui_choisit.errors }">

                            <input type="hidden" formControlName="number_helps_offer_celui_choisit" [value]="valueBID.number_helps_offer_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.number_helps_offer_celui_choisit.errors }">

                            <input type="hidden" formControlName="nbre_etoiles_celui_choisit" [value]="valueBID.nbre_etoiles_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.nbre_etoiles_celui_choisit.errors }">

                            <input type="hidden" formControlName="picture_celui_choisit" [value]="valueBID.picture_celui_qui_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.picture_celui_choisit.errors }">

                            <input type="hidden" formControlName="price_bid_celui_choisit" [value]="valueBID.price_bid" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.price_bid_celui_choisit.errors }">

                            <input type="hidden" formControlName="date_livraison_celui_choisit" [value]="valueBID.date_livraison" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.date_livraison_celui_choisit.errors }">

                            <input type="hidden" formControlName="time_livraison_celui_choisit" [value]="valueBID.time_livraison" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.time_livraison_celui_choisit.errors }">

                            <input type="hidden" formControlName="description_proposition_celui_choisit" [value]="valueBID.description_proposition" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.description_proposition_celui_choisit.errors }">

                            <input type="hidden" formControlName="etoiles_donnees_par_offer_service" [value]="valueBID.nbre_etoiles_celui_qui_offre_service" class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.etoiles_donnees_par_offer_service.errors }">

                            <input type="hidden" formControlName="commentaire_offer_service"  class="form-control"  [ngClass]="{ 'ask-is-invalid': submittedFormBidAccept && FBA.commentaire_offer_service.errors }">

                        </div>
                        <div class="col-sm-12 p-tb30 bid-subcontent text-center" *ngIf="ServiceBidInfos" >
                            <input type="button" *ngIf="ServiceBidInfos.data.status=='in_progress'"  class="button-bid ml-auto" (click)="AcceptBid(ServiceBidInfos.data._id,
                            valueBID.user_id_celui_qui_bid,
                            valueBID.username_celui_qui_bid,
                            valueBID.firstname_celui_qui_bid,
                            valueBID.location_name_celui_qui_bid, 
                            valueBID.number_helps_asked_celui_qui_bid,
                            valueBID.number_helps_offer_celui_qui_bid,
                            valueBID.nbre_etoiles_celui_qui_bid,
                            valueBID.picture_celui_qui_bid,
                            valueBID.price_bid,
                            valueBID.date_livraison,
                            valueBID.time_livraison,
                            valueBID.description_proposition,
                            valueBID.nbre_etoiles_celui_qui_offre_service)"  value="Accept this Offer">
                        </div>
                        </form>
                    
                </div> 
                
            </div> 

                <div class="row bid-header-col" style="margin-top: -6px;">
                    <div class="col-md-12 p-tb20" >
                    <pagination-controls  class="my-pagination"
                            (pageChange)="p = $event"
                            maxSize="10"
                            directionLinks="true"
                            autoHide="false"
                            responsive="true"
                            previousLabel="Previous"
                            nextLabel="Next"
                            screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                    </div>
                </div> 


        

            </div>

            <div class="col-md-12 col-lg-3 offset-lg-1 p-a20 m-t30 dash-col" style="height: 45%">
                <div class="section-content">
                
                <div class="row">
                        <div class="col-12" style="margin: 0px 0px 5px 0px;">
                            <span>Welcome Back</span>
                        </div>
                </div>

                    <div class="row">
                        <div class="col-6">
                            <span *ngIf="MyInfo"> {{MyInfo.data[0].username}} </span>                                       
                        </div>   
                        <div class="col-6 text-right">
                            <a href="javascript:void(0);" class="dash-footer-link">STARTER</a>
                        </div>   
                    </div>
                                                
                    <hr style="border: 0; border-top: 3px solid #6d9ff3;">
                </div> 

                <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                        <div class="col-12 text-right">
                        <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Open Helps</span>
                        </div>

                        <div class="col-6" style="padding: 10px 10px 0px;">
                            <img src="assets/homestyle/images/dash/2blue.png" class="img-fluid">                     
                        </div>   
                        <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                            <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_open_helps}}</span>
                            
                        </div>  
                </div>

                <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                        <div class="col-12 text-right">
                        <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Bidding Helps</span>
                        </div>

                        <div class="col-6" style="padding: 10px 10px 0px;">
                            <img src="assets/homestyle/images/dash/3blue.png" class="img-fluid">                     
                        </div>   
                        <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                            <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_bidding_helps}}</span>
                        </div>  
                </div>

                <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                        <div class="col-12 text-right">
                        <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Completed Helps</span>
                        </div>

                        <div class="col-6" style="padding: 10px 10px 0px;">
                            <img src="assets/homestyle/images/dash/2black.png" class="img-fluid">                     
                        </div>   
                        <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                            <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_completed_helps}}</span>
                        </div>  
                </div>

                <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                        <div class="col-12 text-right">
                        <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Closed Helps</span>
                        </div>

                        <div class="col-6" style="padding: 10px 10px 0px;">
                            <img src="assets/homestyle/images/dash/3black.png" class="img-fluid">                     
                        </div>   
                        <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                            <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_closed_helps}}</span>
                        </div>  
                </div>




                <div class="section-content">
                
                <hr style="border: 0; border-top: 3px solid #6d9ff3;">

                <div class="row">
                        <div class="col-12" style="margin: -10px 0px 5px 0px;">
                            <span>Account Balance</span>
                        </div>
                </div>

                    <div class="row">
                        <div class="col-6" *ngIf="MyFund">
                            
                            <a href="javascript:void(0);" *ngIf="MyFund.data[0]" class="dash-side-link">{{MyFund.data[0].amount}} ZAR</a>

                            <a href="javascript:void(0);" *ngIf="!MyFund.data[0]" class="dash-side-link">0 ZAR</a>

                        </div>   
                        <div class="col-6 text-right">
                            <a [routerLink]="['/access/profile']" [fragment]="'deposit'" class="dash-side-link">Deposit Funds</a>
                        </div>   
                    </div>
                                                
                    
                </div>                    
            </div>

    </div> 

    
    </div>
</div>  
