
  <div class="row" style="text-align: center; margin-bottom: 5px;">
    <div class="col-sm-12">
      <h1 mat-dialog-title>{{ data.service.nom_service }}</h1>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-md-12 m-b150" style="margin-bottom: 30px;">
        <b>{{ data.service.description }}</b>
      </div>
      <div class="col-md-12">
        <div class="row" *ngIf="data.picture">
          <div *ngFor="let pic of data.picture" class="col-md-2 col-sm-3" style="padding: 4px;">
            <img [src]="pic.picture" style="max-width: 150px;height: 150px;width: 150px;cursor: pointer;" alt="no pic">   
          </div>
        </div>
      </div>
      <div class="col-md-12" style="font-size: 12px;">
        <div class="row">
          <div class="col-md-1 text-left">
            <p>Bids : {{data.service.nombre_bids}}</p>
          </div>
          <div class="col-md-2 text-left">
              <p>Avg Bids (ZAR) : {{data.service.Avg_bids}} {{data.service.device_name}}</p>
          </div>
          <div class="col-md-3 text-left">
              <p>Help Budget (ZAR) : {{data.service.min_price}} {{data.service.device_name}} - {{data.service.max_price}} {{data.service.device_name}}</p>         
          </div>
          <div class="col-md-2">
              <p class="text-left bid-status">{{ (data.service.status == "in_progress") ? ("OPEN") :(data.service.status)}} </p>
          </div>
          <div class="col-md-2" *ngIf="ServiceTimeInfos">
            <p style="font-size: 12px" *ngFor="let valTime of ServiceTimeInfos.data;let x = index"> {{valTime.date | date }} {{valTime.time}}</p>
          </div>
          <div class="col-md-2">
            <p *ngIf="services_categ"><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-bookmark  fa-2x fa-color" aria-hidden="true"> </i>  {{ getCategoryName(ServiceBidInfos.data.categoryService_id,services_categ.data) }}</a></p>
            <p ><a href="javascript:void(0);" style="color: #4184f3;font-weight: 500"><i class="fa fa-map-marker  fa-2x fa-color" aria-hidden="true"> </i> {{data.service.city_deliver_help}}</a></p>
        </div>
        </div>
      </div>           
    </div>
    <div class="row" style="padding: 10px; border-top: 1px gray solid;">
      <div class="col-md-12">
        <h5><b>Offer to work on this job now</b></h5>
      </div>
      <div class="col-sm-12" style="margin-top: 20px;">
        <form [formGroup]="saveBidForm" (ngSubmit)="onSubmit(data.service.min_price,data.service.max_price)">
            <input type="hidden" formControlName="serviceAskForHelp_id" class="form-control ask-date-select" placeholder="No Min" [ngClass]="{ 'ask-is-invalid': submitted && f.serviceAskForHelp_id.errors }" aria-label="Search">
            <input type="hidden" formControlName="user_id_celui_qui_bid" class="form-control ask-date-select" placeholder="No Min" [ngClass]="{ 'ask-is-invalid': submitted && f.user_id_celui_qui_bid.errors }" aria-label="Search">
            <input type="hidden" formControlName="user_id_celui_qui_offre_service" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submittedForm1 && f.user_id_celui_qui_offre_service.errors }" aria-label="Search">
            <div class="row" style="margin-bottom: 30px;">
                <div class="col-sm-4 p-tb20 p-r20" >
                    <span class="m-r10 m-t10" style="font-size: 16px;color: #3b3b3b"><b>Your bid for this job :</b></span>
                    <div class="input-group">                        
                        <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-money"></i></span>
                        <input type="text"  knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers formControlName="price_bid" class="form-control ask-date-select" placeholder="Your bid" [ngClass]="{ 'ask-is-invalid': submitted && f.price_bid.errors }" aria-label="Search">
                    </div>
                    <p *ngIf="submitted && f.price_bid.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a price</p>
                    <p *ngIf="textPriceBid"  style="color: red;font-weight: 800" class="m-tb10">You must enter a price between Min Price and Max Price of Service</p>
                </div>
                <div class="col-sm-4 p-tb20 p-r20" >
                    <span class="m-r10 m-t10" style="font-size: 16px;color: #3b3b3b"><b>Your Date :</b></span>
                    <div class="input-group">
                        <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-calendar"></i></span>
                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="d2"  [owlDateTime]="d2" formControlName="date_livraison" [ngClass]="{ 'ask-is-invalid': submitted && f.date_livraison.errors }" class="form-control trigger ask-date-select" placeholder="Your date" aria-label="Search">
                        <owl-date-time [pickerType]="'calendar'" #d2></owl-date-time>
                    </div>
                    <p *ngIf="submitted && f.time_livraison.errors"  style="color: red;font-weight: 800" class="m-tb10">You must select a date</p>
                </div>
                <div class="col-sm-4 p-tb20 p-r20" >
                    <span class="m-r10 m-t10" style="font-size: 16px;color: #3b3b3b"><b>Your Time :</b></span>
                    <div class="input-group"> 
                        <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-clock-o"></i></span>
                        <input type="text" readonly="readonly" [owlDateTimeTrigger]="t1"  [owlDateTime]="t1"  formControlName="time_livraison" [ngClass]="{ 'ask-is-invalid': submitted && f.time_livraison.errors }" class="form-control trigger ask-date-select" placeholder="Your time" aria-label="Search">
                        <owl-date-time [pickerType]="'timer'" #t1></owl-date-time>
                    </div>
                    <p *ngIf="submitted && f.time_livraison.errors"  style="color: red;font-weight: 800" class="m-tb10">You must select a time</p>
                </div>
                <div class="col-sm-8 p-r20 m-b5">
                    <p style="margin-bottom: 14px !important;font-weight: bold !important">Describe your proposal :</p>
                    <span style="font-size: 13px;color: #7c7a7a;">Your proposal is your chance to make a good ﬁrst impression with the requester! Make it count!</span>
                    <textarea class="form-control" [attr.maxLength]="2000" [(ngModel)]="textDescription" formControlName="description" [ngClass]="{ 'ask-is-invalid': submitted && f.description.errors }" rows="5" style="height: 180px;border: 3px solid #595656;" placeholder="What makes you the best candidate for this job?"></textarea>
                    <div class="col-sm-12 p-r20 m-b25 text-sm-left text-md-right">
                        <span style="font-size: 13px;color: #7c7a7a;" *ngIf="textDescription">{{2000 - textDescription.length }} characters left </span>
                    </div>
                    <p *ngIf="submitted && f.description.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a description</p> 
                </div>
                <div class="col-sm-4 p-r20 m-b25 text-sm-left text-md-center" style="margin-top: 15px;">
                    <input type="submit"  class="button-bid ml-auto" style="margin-right: 15px !important;"  value="Save Your BID">
                    <input type="button"  class="button-bid ml-auto" (click)="cancelBid()"  value="Cancel">
                </div> 
            </div>
        </form>
      </div>
    </div>
  </div>
  <div class="mat-dialog-actions">
    <!-- <button mat-button style=" background: rgb(255, 0, 0); border: 2px rgb(255, 0, 0) solid; width: 70px; height: 30px;" (click)="logoutApp()">Yes</button> -->
    <button mat-button style="background: green; border: green; width: 70px; height: 30px;" cdkFocusInitial (click)="closeModal()">Cancel</button>
  </div>
