<div class="container">
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Privacy-Policy'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Privacy Policy</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                Privacy Policy here.
            </p>
        </div>
    </div>
<!-- Terms-and-Conditions -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Terms-and-Conditions'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Terms and Conditions</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                Terms and Conditions here.
            </p>
        </div>
    </div>
<!-- Copyright-Policy -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Copyright-Policy'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Copyright Policy</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                Copyright Policy here.
            </p>
        </div>
    </div>
    <!-- Code-of-Conduct -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Code-of-Conduct'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Code of Conduct</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                Code of Conduct here. 
            </p>
        </div>
    </div>
    <!-- Fees-and-Charges -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='Fees-and-Charges'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>Fees and Charges</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                Fees and Charges here.
            </p>
        </div>
    </div>
    <!-- FAQ -->
    <div class="row" style="margin-top: 30px;" *ngIf="lien=='FAQ'">
        <div class="col-lg-12" style="text-align: center;">
            <h2><b>FAQ</b></h2>
        </div>
        <div class="col-lg-12">
            <p>
                FAQ here.
            </p>
        </div>
    </div>
</div>
