
<select *ngIf="categories" formControlName="categoryService_id" [ngClass]="{ 'ask-is-invalid': submitted && observer }" (change)="onChange.emit($event.target.value)">
    <option value="">Please Select</option>
    <option  *ngFor="let category of categories" [value]="category._id">
        {{ category.categoryName }}
    </option>
</select>
<select *ngIf="subCategories" formControlName="categoryService_id" [ngClass]="{ 'ask-is-invalid': submitted && observer }" (change)="onChange.emit($event.target.value)">
    <option value="">Please Select</option>
    <option  *ngFor="let subCategory of subCategories" [value]="subCategory._id">
        {{ subCategory.souscategoryName }}
    </option>
</select>