     <!-- OUR PLANS  -->
            <div class="section-full text-left section-login-form bg-white">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-6 col-sm-12 p-a30">
                            <div class="section-content text-center">
                                <div class="loginmodal-container">
                                    <h1>Forgot Your Password ?</h1>

                                       <div class="col-md-12"><alert></alert></div>

                                      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

                                    <div class="form-group">
                                        <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">

                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger">
                                            <div *ngIf="f.email.errors.required">Field is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>

                                        <input type="submit" class="login loginmodal-submit" value="CHECK !">
                                         <hr class="form-line">
                                         <p class="footer-form-text">Don’t have an account? <a [routerLink]="['/register']" class="sub-link"> Sign Up</a> </p>
                                         <p class="text-left">Already have an account? <a [routerLink]="['/logon']" class="sub-link"> Log In</a> </p>
                                      </form>
                    
                                      
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-6 col-sm-12 info-column">
                            <div class="section-content text-left text-white">
                                <div class="p-a50">
                                <h3 class="m-t20">Welcome Back</h3>
                                <p class="p-a20">Donec   rutrum   congue   leo   eget   malesuada.   Sed   porttitor 
                                lectus   nibh.   Curabitur   non   nulla   sit   amet   nisl   tempus 
                                convallis   quis   ac   lectus.   Donec   sollicitudin   molestie 
                                malesuada.  Nulla  quis  lorem  ut  libero  malesuada  feugiat. 
                                Quisque  velit  nisi,  pretium  ut  lacinia  in,  elementum  id  enim. 
                                Sed  porttitor  lectus  nibh.  Mauris  blandit  aliquet  elit,  eget 
                                tincidunt  nibh  pulvinar  a.  Curabitur  aliquet  quam  id  dui 
                                posuere   blandit.   Vivamus   magna   justo,   lacinia   eget 
                                consectetur sed, convallis at tellus.</p>
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  