<div class="page-wraper" style="background-color: #eeeeee;"> 
	
	<app-header></app-header>

		<div class="page-content">
			<!-- <pre> PROFILE PURPOSES : {{ UserProfileData | json }}</pre>  -->
			<router-outlet></router-outlet>	    	
			<!-- For Debugging: show our formData as it is being typed -->
			<!-- <pre> TEST PURPOSES : {{ formData | json }}</pre>            -->
		</div> 
				
	<app-footer></app-footer>
</div>