/* Dashboard CSS*/
		
		.fa-color{color: #4285f4}
        .fa-color:hover{color:#48342d;}
         
		

		.dash-col {
		  
		  width: 100% !important;
		  background-color: #FFF;
		  border: 3px solid #6d9ff3;
		  overflow: hidden;
		  box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -webkit-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -moz-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		}
		.dash-col h1 {
		  font-size: 1.8em;
		  font-family: roboto;
		  line-height: 20px;
		  color: #3f83f5;
		  font-weight: 500;
		}
		.dash-col p {
		  font-size: 0.9em;
		  font-family: roboto;
		}
		.dash-col a {
		  font-size: 0.9em;
		  font-family: roboto;
		  font-weight: 600;
		}
		.dash-footer-link{
			font-size: 1.2em !important;
		  font-family: roboto !important;
		  font-weight: 500 !important;
		}

		.dash-side-link{
			font-size: 1em !important;
		  font-family: roboto !important;
		  font-weight: 500 !important;
		} 
		.dash-col-title{
			font-weight: 600;
			font-size: 16px;
			color: #272727;
		}
		.button-dash-details{
			padding: 10px 20px !important;
			background-color: #4285f4 !important;
			margin-right: -15px !important;
			color: #FFF !important;
			border: 1px solid #fff !important;
			text-shadow: 0 1px rgba(0,0,0,0.1);
			font-family: roboto;
			font-size: 15px;
			font-weight: bold;
			cursor: pointer;
		}
		.button-dash-details:hover{
			border: 1px solid #000 !important;
		}
		.button-ask-link{
			padding: 15px 20px !important;
			background: #FBBC05 !important;
			margin-right: -15px !important;
			color: #000 !important;
			border: none;
			text-shadow: 0 1px rgba(0,0,0,0.1);
			font-family: roboto;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;
			margin-top: -10px;
			margin-bottom: -10px;
		}
		.button-ask-link:hover{
			border: 1px solid #FFF !important;
			padding: 12px 20px !important;
		}

		.dash-menu>li>a{
			color: #FFF !important;
			padding: 10px 20px;
			margin-right: 15px;
			font-size: 19px;
			position: relative;
            display: block;
		}
		.dash-first_topmenu>li>a{
			color: #4285f4 !important;
			padding: 5px 2px;
			margin-right: 10px;
			font-size: 12px;
			position: relative;
            display: block;
		}

		.dash-menu>li.active>a,.dash-menu>li>a:hover,.dash-menu>li>a:focus{
			color: #fbbc05 !important;
			font-weight: 900;
			border-bottom:4px solid #fbbc05;
		}

		.dash-first_topmenu>li.active>a,.dash-first_topmenu>li>a:hover,.dash-first_topmenu>li>a:focus{
			color: #fbbc05 !important;
			font-weight: 900;
		}
		.dash-menu>li {
			margin-bottom: -18px;
			font-weight: 500;
			position: relative;
		}
		.dash-first_topmenu>li {
			margin-bottom: -10px;
			position: relative;
		}

		.dash-menu>li:first-child>a {
			padding-left: 0px;
		}

		.search-menu{
			color: #4285f4 !important;
			font-weight: 500;
			font-size: 15px;
			border: 2px solid #b3b3b3;
		}
		.search-menu::placeholder{
			color: #4285f4 !important;
		}
		.search-menu::-webkit-input-placeholder {
		  color: #4285f4 !important;
		}
		.search-menu::-moz-placeholder {
		  color: #4285f4 !important;
		}
		.search-menu:-ms-input-placeholder {
		  color: #4285f4 !important;
		}
		.searchgrouptext{
		 padding: 11px 13px !important;
		}

		.styled-select {
		   overflow: hidden;
		   width: 240px;
		}

		.styled-select.slate {
		   background: url("/assets/homestyle/images/dash/caret-down-solid.png") no-repeat right center;
		   height: 34px;
		   width: 153px;
		}

		.styled-select.slate select {
		   background: transparent;
		   border: none;
		   font-size: 15px;
		   height: 34px;
		   width: 175px;
		   padding: 5px 0px;
		   font-weight: 800;
		   color: #4285f4 !important;
		}

		@media only screen and (max-width: 991px) {
			.nav {
				overflow: auto;
				height: auto;
			}

			.dash-menu>li {
			margin-bottom: 0px;
			font-weight: 500;
			position: relative;
		    }

			.dash-menu>li:first-child>a {
			 padding-left: 20px;
		    }

		    .dash-menu>li>a {
				padding: 15px 20px;
				font-size: 17px;
			}
			.dash-first_topmenu>li>a {
				padding: 15px 10px;
				font-size: 14px;
			}
			.dash-first_topmenu,.dashform1,.dashform2 {
				background-color: #f5f6f6;
			}
			.dashform1,.dashform2 {
				margin-right: 0px !important;
			}

		    .button-ask-link{
			margin-top: 10px;
            margin-bottom: 0px;
		    }

			

		}

		.ask-step-text{
		 margin-top: -40px !important;
         color: #4285f4 !important;
		 font-size: 23px !important;
		 margin-right: 40px !important;
		}

		.ask-col h1 {
		  font-size: 1.8em;
		  font-family: roboto;
		  line-height: 20px;
		  color: #3f83f5;
		  font-weight: 500;
		}
		.ask-col p {
		  font-size: 16px;
		  font-family: roboto;
		  margin-bottom: 10px;
		  font-weight: 800 !important;
		}
		
		span.ask-bid-search-select {
		  font-size: 16px !important;
		  font-family: roboto;
		  margin-bottom: 1px !important;
		  font-weight: 800 !important;
		}
		.ask-subtext {
		  font-size: 14px;font-weight: 400;color: gray;
		}
		.ask-col a {
		  font-size: 0.9em;
		  font-family: roboto;
		  font-weight: 400;
		}
		.styled-select-ask {
		   overflow: hidden;
		   width: 100%;
		}

		.styled-select-ask.slate {
		   background: url("/assets/homestyle/images/dash/caret-solid.png") no-repeat right center;
		   height: 45px;
		   width: 96%;
		}

		.styled-select-ask.slate select {
		   background: transparent;
			border: 3px solid #232222;
			font-size: 15px;
			height: 45px;
			width: 100%;
			padding: 5px 20px;
			font-weight: 800;
			color: #5d5a5d;
			-moz-appearance: none;
            -webkit-appearance: none;
		}

		.styled-select-ask.slate select::-ms-expand {
         display: none;
        }

        .ask-date-select{
			color: #000 !important;
			font-weight: 500;
			font-size: 14px;
			border: 2px solid #232121;
		}
		.ask-date-select::placeholder{
			color: #000 !important;
		}
		.ask-date-select::-webkit-input-placeholder {
		  color: #000 !important;
		}
		.ask-date-select::-moz-placeholder {
		  color: #000 !important;
		}
		.ask-date-select:-ms-input-placeholder {
		  color: #000 !important;
		}
		.ask-button-gray-layout{
			padding: 17px 80px !important;
			background-color: #f7f7f7 !important;
			/*margin-right: -15px !important;*/
			color: #000 !important;
			border: 1px solid #bfbdbd !important;
			  text-shadow: 0 1px rgba(0,0,0,0.1); 
			  font-family: roboto;
			  font-size: 20px;
			  font-weight: bold;
			  cursor:pointer;
		}
		.ask-button-blue-layout{
            padding: 17px 80px !important;
			background-color: #4285f4 !important;
			/*margin-right: -15px !important;*/
			color: #000 !important;
			border: 1px solid #bfbdbd !important;
			  text-shadow: 0 1px rgba(0,0,0,0.1); 
			  font-family: roboto;
			  font-size: 20px;
			  font-weight: bold;
			  cursor:pointer;
		}
		.ask-button-gray-layout:hover,.ask-button-blue-layout:hover{
			border: 1px solid #000 !important;
			color: #6d9ff3 !important;
		}
		.ask-adress-text{
			font-size: 14px;
			color: #6c6c6c;
			font-weight: 200;
		}

	.ask-form-adress{
		width: 240px;margin: 5px 0px;border: 1px solid black;font-size: 15px;
	}
	.ask-is-invalid{
	border:3px solid red !important;
	}

	.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	}

	.btn-wrapper {
	border: 2px solid #f5eeee;
	color: #7a7979;
	background-color: #eaeaea;
	font-size: 75px;
	font-weight: bold;
	height: 150px;
	width: 150px;
	text-align: center;
	}

	.upload-btn-wrapper input[type=file] {
	font-size: 60px;
    position: absolute;
    left: 0;
    top: 60px;
    opacity: 0;
    cursor: pointer;
    height: 50px;
	}

	.bid-title{
		font-size: 19px;
	}
	p.bid-status{
		font-size: 20px !important;
		color: green;
		font-weight: 700 !important;
		font-family: roboto;
		line-height: 20px;
	}
	.bid-header-col p{
		font-weight: 400 ;
		font-size:16px;
		font-family: roboto;
		margin-bottom: 7px;
	}
	.bid-header-col span{
		font-weight: 600 ;
		font-size:15px;
		color: #4184f3;
		font-family: roboto;
	}
	.bid-header-col {
		  width: 100% !important;
		  background-color: #FFF;
		  border: 3px solid #6d9ff3;
		  overflow: hidden;
		  box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -webkit-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -moz-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		}

	.button-bid{
		padding: 15px 20px !important;
		background: #4285f4 !important;
		margin-right: -15px !important;
		color: #FFF !important;
		border: none;
		text-shadow: 0 1px rgba(0,0,0,0.1);
		font-family: roboto;
		font-size: 16px;
		font-weight: bold;
		cursor: pointer;
		margin-top: -10px;
		margin-bottom: -10px;
	}
	.button-bid:hover{
		border: 1px solid #FFF !important;
		padding: 12px 20px !important;
	}
	.bid-subcontent p{
		font-size: 12px;
		margin-bottom: 2px !important;
	}

	.profile-tabs .nav-tabs > li.active > a, 
	.profile-tabs .nav-tabs > li.active > a:focus, 
	.profile-tabs .nav-tabs > li.active > a:hover  {
	    background-color: #4184f3;
	    border-color: #ddd;
	    border-bottom-color: rgb(221, 221, 221);
	    border-bottom: 1px solid #FFF;
	    color: #FFF;
   }

   .profile-tabs .nav-tabs > li > a {
	    color: #1a1a1a;
	    padding: 20px 20px;
	    font-size: 15px;
	    border: none;
		border-right: 2px solid #4285f4;
		
   }

   .table-transact .title-row{
   		background: #4184f3;
   }
   .table-transact .title-row > th{
   		color: #FFF;
   		font-weight: 700;
   }




@media only screen and (max-width: 767px) {
	.profile-tabs .nav-tabs>li> a {
		float: none;
		line-height: 0.25;
		padding: 20px 30px;
		border: none;
	}
}

/* Profile Page Css */
		.link-edit-profile{
			color: #f99191;
			font-size: 13px !important;
			font-weight: bold !important;
		}
        .profile-skills-list{
			list-style: none;
			font-size: 15px;
			margin-top: -10px;
		}

		.profile-skills-list > li{
			padding-bottom: 0px;
			padding-top: 3px;
		}
      
		.profile-skills-list > li > a {
			cursor: pointer !important;
			color: #4285f4;
			font-weight:500;
		}

		.profile-skills-list > li > a:hover{
			cursor: pointer !important;
			font-weight:800;
		}

		.profile-form-adress{
		margin: 3px 0px;
		border: 1px solid black;
		font-size: 13px;
		height: 30px;
	   }

	   /****** MODAL PROFILE CATEGORIES DESIGN LAYOUT ******/
		
		.loginmodal-col {
		  
		  width: 100% !important;
		  background-color: #F7F7F7;
		  border: 2px solid #6d9ff3;
		  overflow: hidden;
		  box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -webkit-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -moz-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		}
		.loginmodal-col h1 {
		  font-size: 2.2em;
		  font-family: roboto;
		}
		.loginmodal-col p {
		  font-size: 1.2em;
		  font-family: roboto;
		}
		.header-title{
			margin-top: -15px !important;
			font-weight: 600 !important;
		}
		.col-hr-line{
			margin-left: -30px;
			border: 1px solid #6d9ff3;
			width: 420px;
			height: 0px;
		}

		.categories-list{
			list-style: none;
			font-size: 17px;
		}
		.sub-categories-list{
			list-style: none;
			font-size: 14px;
		}

		.categories-list > li{
			padding-bottom: 25px;
			padding-top: 10px;
		}
        
        .sub-categories-list > li{
			padding-bottom: 10px;
            padding-top: 10px;
		}

		.categories-list > li > a:hover,.sub-categories-list > li > a:hover{
			cursor: pointer !important;
			color: #6d9ff3;
			font-weight:800;
		}
		.label-hover:hover{
			cursor: pointer !important;
			color: #6d9ff3 !important;
			font-weight:800 !important;
		}

		input[type="checkbox"] + label.label-hover{
			padding-left: 20px !important;
			display: inline-block !important;
		}


		.loginmodal-container {
		  padding: 30px;
		  max-width: 420px;
		  height: 500px;
		  width: 100% !important;
		  background-color: #F7F7F7;
		  margin: 0 auto;
		  border: 1px solid #6d9ff3;
		  overflow: hidden;
		  font-family: roboto;
		  color: #4a4a4a;
		  font-size: 15px;
		  font-weight: normal !important;
		  box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -webkit-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		  -moz-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		}

		.loginmodal-container h1 {
		  text-align: center;
		  font-size: 1.8em;
		  font-family: roboto;
		}

		.loginmodal-container input[type=submit] {
		  width: 100%;
		  display: block;
		  margin-bottom: 80px;
		  position: relative;
		}

		.loginmodal-container input[type=text], input[type=password] {
		  height: 44px;
		  font-size: 16px;
		  width: 100%;
		  margin-bottom: 10px;
		  -webkit-appearance: none;
		  background: #fff;
		  border: 1px solid #d9d9d9;
		  border-top: 1px solid #c0c0c0;
		  /* border-radius: 2px; */
		  padding: 0 8px;
		  box-sizing: border-box;
		  -moz-box-sizing: border-box;
		}

		.loginmodal-container input[type=text]:hover, input[type=password]:hover,
		.loginmodal-container input[type=text]:focus, input[type=password]:focus,
		.loginmodal-container input[type=text]:active, input[type=password]:active {
		  border: 3px solid #4285f4;
		  border-top: 3px solid #4285f4;
		  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		}

		.loginmodal-container a {
		  text-decoration: none;
		  color: #666;
		  text-align: center;
		  display: inline-block;
		  transition: opacity ease 0.5s;
		} 