// shared css for the login and signup page
@import "../register/register.component.scss";

.section-register-form {
	

	.loginmodal-col {
		  
		width: 100% !important;
		background-color: #F7F7F7;
		border: 2px solid #6d9ff3;
		overflow: hidden;
		box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		-webkit-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
		-moz-box-shadow: 1px 6px 7px -1px rgba(0,0,0,0.68);
	  }
	  .loginmodal-col h1 {
		font-size: 2.2em;
		font-family: roboto;
	  }
	  .loginmodal-col p {
		font-size: 1.2em;
		font-family: roboto;
	  }
	  .header-title{
		  margin-top: -15px !important;
		  font-weight: 600 !important;
	  }
	  .col-hr-line{
		  margin-left: -30px;
		  border: 1px solid #6d9ff3;
		  width: 420px;
		  height: 0px;
	  }

	  .categories-list{
		  list-style: none;
		  font-size: 17px;
	  }
	  .sub-categories-list{
		  list-style: none;
		  font-size: 14px;
	  }

	  .categories-list > li{
		  padding-bottom: 25px;
		  padding-top: 10px;
	  }
	  
	  .sub-categories-list > li{
		  padding-bottom: 10px;
		  padding-top: 10px;
	  }

	  .categories-list > li > a:hover,.sub-categories-list > li > a:hover{
		  cursor: pointer !important;
		  color: #6d9ff3;
		  font-weight:800;
	  }
	  .label-hover:hover{
		  cursor: pointer !important;
		  color: #6d9ff3 !important;
		  font-weight:800 !important;
	  }

	  input[type="checkbox"] + label.label-hover{
		  padding-left: 20px !important;
		  margin-bottom: 0px !important;
		  margin-top: 0px !important;
		  display: inline-block !important;
	  }
	  .button-gray-layout{
		  padding: 17px 50px !important;
		  background-color: #f7f7f7 !important;
		  color: #000 !important;
		  border: 1px solid #bfbdbd !important;
		  text-shadow: 0 1px rgba(0,0,0,0.1); 
		  font-family: roboto;
		  font-size: 20px;
		  font-weight: bold;
		  cursor:pointer;
	  }
	  .button-gray-layout:hover{
		  border: 1px solid #000 !important;
		  color: #6d9ff3 !important;
	  }
	  .loginmodal-container {
		height: 500px !important;
		font-size: 15px !important;
	  }

}		