<app-header></app-header>
<router-outlet></router-outlet>
    <div class="offset-md-9 col-md-3" style="display: block; position: fixed; bottom: 0px; padding-bottom: 10px; padding-right: 30px; max-height: 80%;">
        <!-- <div class="row" style=" background-color: blue;">
            a eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
        </div> -->
        <app-live-chat></app-live-chat> 
       
    </div>
        
        
           

