             <!-- Modal -->
<div class="fade modal" id="ModalCateg" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 70%;">
    <div class="modal-content" style="background-color: #F7F7F7;">
      <div class="modal-header">
        <div style="flex-direction:column;">
          <h3 class="modal-title" id="ModalLabel" style="color: gray">Where Can You Help ?</h3>
          <h4 style="font-weight: 200;color: gray">Select areas where you have skills so we can recommend jobs for you</h4>
        </div>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="section-full text-left">
        <div class="container-fluid">
            
             <div class="row">
               
                <div class="col-md-12 p-a30 m-t10 loginmodal-col">
                    <div class="section-content">
                        

                        <div class="row">
                           
                            <div class="col-md-4">
                                <div class="loginmodal-container">
                                 <p class="m-b20 text-center header-title">Search</p>
                                 <hr class="col-hr-line m-b30">
                                    
                                 <ul class="text-black categories-list" *ngIf="categs">
                                       
                                        <li *ngFor="let val of categs.data| slice:0:12;">
                                            <a href="javascript:" (click)="loadSubCat(val._id,val.categoryName)" class="text-black">{{ val.categoryName }}</a>
                                        </li>
                                 </ul>
                              
                                 </div>
                            </div>

                            <div class="col-md-4" *ngIf="sec_col">
                                <div class="loginmodal-container">
                                 <p class="m-b20 text-center header-title">{{ chosenOptionTitle }}</p>
                                 <hr class="col-hr-line m-b30">

                                 
                                 <ul class="text-black sub-categories-list" *ngIf="subcats_data">
                                        
                                        <li *ngFor="let value of subcats_data.data| slice:0:12; let rank=index" >
                                            <a href="javascript:" class="text-black">
                                            <input id="checkbox-{{rank+1}}" 
                                            (change)="ListSelectedItems($event,10)" class="checkbox-custom" name="{{ value.souscategoryName }}"  type="checkbox" value="{{ value._id }}">
                                            <label for="checkbox-{{rank+1}}" class="checkbox-custom-label label-hover">{{ value.souscategoryName }}</label>
                                            </a>
                                        </li>


                                 </ul>
                                 
                              
                                 </div>
                            </div>

                            <div class="col-md-4" *ngIf="third_col">
                                <div class="loginmodal-container">
                                 <p *ngIf="chosenOption" class="m-b20 text-center header-title">{{chosenOption}}</p>
                                 <hr class="col-hr-line m-b30">

                                 <!-- <pre *ngIf="TableData"> {{ TableData | json }}</pre> -->

                                 <ul class="text-black sub-categories-list" *ngIf="TableData">
                                        
                                       <li *ngFor="let value1 of TableData | slice:0:12; let rank1=index" >
                                            <a href="javascript:" class="text-black">
                                            <input checked="checked" class="checkbox-custom" type="checkbox">
                                            <label class="checkbox-custom-label label-hover">{{ value1.sousCategoryName }}</label>
                                            </a>
                                        </li>

                                 </ul>
                              
                                 </div>
                            </div>

                        </div>



                        
                    </div>                          
                </div>



          </div> 
        </div>
    </div> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">Save Changes</button>
      </div>
    </div>
  </div>
</div>


   <!-- OUR PLANS  -->
            <div class="section-full text-left content-dash bg-gray">
                <div class="container">
                    
                     <div class="row" style="margin:0">
                       
                        <div class="col-md-12 col-lg-8 p-a20 m-tb30">


                              <!-- TAB DEFAULT -->
                              <div class="section-content m-b30 section-nav-tabs ask-col" style="margin-top: -20px;">
                                    <div class="mt-tabs tabs-default profile-tabs">
                                        <ul class="nav nav-tabs">
                                            <li [ngClass]="{ 'active':activeTab==='userprofile'}"><a data-toggle="tab" href="#profile">Profile </a></li>
                                            <li [ngClass]="{ 'active':activeTab==='2'}"><a data-toggle="tab" href="#transactions">Transactions</a></li>
                                            <li [ngClass]="{ 'active':activeTab==='deposit'}"><a data-toggle="tab" href="#deposit">Deposit Funds</a></li>
                                            <li [ngClass]="{ 'active':activeTab==='4'}"><a data-toggle="tab" href="#withdraw">Withdraw Funds</a></li>
                                        </ul>
                                        <div class="tab-content">
                                        
                                              <div id="profile" class="tab-pane" [ngClass]="{ 'active':activeTab==='userprofile'}" *ngIf="MyInfo">
                                                 
                                                 <!-- <p>{{ValUser}}</p> -->

                                                 <div class="row" style="margin-bottom: -20px">
                                                    <div class="col-md-4" *ngIf="MyInfo.data[0]">

                                                        <div class="image-upload" *ngIf="MyInfo.data[0].picture">
                                                          <label for="file-input">
                                                            <img [src]="MyInfo.data[0].picture | safe: 'resourceUrl'" class="rounded mb-3 img-fluid" style="max-width: 200px;height: 200px;width: 200px;cursor: pointer;">
                                                          </label>

                                                          <input type="file" id="file-input" accept="image/*" class="form-control" (change)="uploadProfilePic($event)" />
                                                        </div>

                                                        <div class="image-upload" *ngIf="!MyInfo.data[0].picture">
                                                          <label for="file-input">
                                                             <img src="assets/homestyle/images/bid/profile-user.png" class="rounded mb-3 img-fluid" style="max-width: 200px;height: 200px;width: 200px;cursor: pointer;">
                                                          </label>

                                                          <input type="file" id="file-input"  accept="image/*" class="form-control" (change)="uploadProfilePic($event)" />
                                                        </div>
                                                                                                                                                                     
                                                      <div class="col-sm-12 m-b20" *ngIf="showPicturePreview">
                                                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" style="max-width: 150px;height: 150px;width: 150px;"><br>
                                                        <a  href="javascript:void(0)" style="font-size: 14px;"  (click)="UpdateProfile()">Update Profile Picture
                                                        </a> | 
                                                        <a  href="javascript:void(0)" style="font-size: 14px;"  (click)="cancelUpdateProfile()">Cancel</a>
                                                      </div>

                                                    </div>   

                                                    <div class="col-md-8">

                                                    <form [formGroup]="saveUserNameForm">  
                                                      
                                                      <span *ngIf="ShowF1Form">
                                                          <a href="#" class="dash-side-link" *ngIf="MyInfo.data[0]"> {{MyInfo.data[0].username}}</a>
                                                        <a href="javascript:void(0)" (click)="editF1(MyInfo.data[0].username)" class="link-edit-profile" style="margin-left: 5%">Edit</a>
                                                      </span>

                                                      <div class="row dash-col-title m-t20" *ngIf="ShowF1EditForm" >                                                  
                                                          <div class="col-sm-12">
                                                            <input type="text" formControlName="username" [ngClass]="{ 'ask-is-invalid': submittedForm1 && f1.username.errors }" class="form-control profile-form-adress" placeholder="Username">
                                                          </div>

                                                          <div class="col-sm-12 m-t20">
                                                            <a  href="javascript:void(0)"  (click)="SubmitUpdateF1()">Update Username
                                                             | </a>
                                                            <a  href="javascript:void(0)"  (click)="cancelF1()">Cancel</a>
                                                          </div>

                                                          <div class="col-sm-12">
                                                            <hr style="margin-top: 5px;">
                                                          </div>
                                                      
                                                      </div>
                                                  </form> 


                                                  <form [formGroup]="saveUserDescForm">  
                                                      
                                                       <p class="m-b15 m-t10" style="font-size: 11px" *ngIf="MyInfo.data[0]">

                                                        <span *ngIf="ShowF2Form">
                                                          <a href="javascript:void(0)" (click)="editF2(MyInfo.data[0].personal_description)" *ngIf="MyInfo.data[0].personal_description" class="link-edit-profile" style="margin-left: 90%">Edit</a>
                                                          <a href="javascript:void(0)" (click)="addF2()" *ngIf="!MyInfo.data[0].personal_description" class="link-edit-profile" style="margin-left: 70%">Add Description</a>
                                                          <br>
                                                        </span>
                                                          
                                                          <span *ngIf="ShowF2Form">{{MyInfo.data[0].personal_description}}</span> 

                                                        </p>

                                                      <div class="row dash-col-title m-t20" *ngIf="ShowF2EditForm" >                                                  
                                                          <div class="col-sm-12">
                                                            <textarea class="form-control"  formControlName="personal_description" [ngClass]="{ 'ask-is-invalid': submittedForm2 && f2.personal_description.errors }" rows="5" style="height: 160px;border: 3px solid #595656;"></textarea>
                                                          </div>

                                                          <div class="col-sm-12 m-t20">
                                                            <a  href="javascript:void(0)"  (click)="SubmitUpdateF2()">Update Description
                                                             | </a>
                                                            <a  href="javascript:void(0)"  (click)="cancelF2()">Cancel</a>
                                                          </div>

                                                          <div class="col-sm-12">
                                                            <hr style="margin-top: 5px;">
                                                          </div>
                                                      
                                                      </div>

                                                  </form> 
                                                      
                                                  


                                                       <div class="row">
                                                         
                                                         <div class="col-md-6">
                                                
                                                <form [formGroup]="saveUserTelForm">  
                                                      
                                                    <p class="m-b10" style="font-size: 14px">

                                                        <span *ngIf="ShowF3Form">
                                                          <a href="javascript:void(0)" (click)="editF3(MyInfo.data[0].phone)" *ngIf="MyInfo.data[0].phone" class="link-edit-profile">Edit</a>
                                                          <a href="javascript:void(0)" (click)="addF3()" *ngIf="!MyInfo.data[0].phone" class="link-edit-profile">Add Telephone</a>
                                                          <br>
                                                          Cel: <span style="color: #4285f4;margin-left: 10px">{{MyInfo.data[0].phone}}</span>
                                                        </span>
                                                          
                                                    </p>

                                                      <div class="row dash-col-title m-t20" *ngIf="ShowF3EditForm" >                                                  
                                                          <div class="col-sm-12">
                                                            <input type="text" formControlName="phone" [ngClass]="{ 'ask-is-invalid': submittedForm3 && f3.phone.errors }" class="form-control profile-form-adress" placeholder="Phone">
                                                          </div>

                                                          <div class="col-sm-12 m-t20">
                                                            <a  href="javascript:void(0)"  (click)="SubmitUpdateF3()">Update Telephone
                                                             | </a>
                                                            <a  href="javascript:void(0)"  (click)="cancelF3()">Cancel</a>
                                                          </div>

                                                          <div class="col-sm-12">
                                                            <hr style="margin-top: 5px;">
                                                          </div>
                                                      
                                                      </div>

                                                  </form> 
                                                         </div>
                                                       
                                                         <div class="col-md-6">

                                                          <form [formGroup]="saveUserEmailForm">  
                                                      
                                                    <p class="m-b10" style="font-size: 14px">

                                                        <span *ngIf="ShowF4Form">
                                                          <a href="javascript:void(0)" (click)="editF4(MyInfo.data[0].email)" *ngIf="MyInfo.data[0].email" class="link-edit-profile">Edit</a>
                                                          <br>
                                                          Email: <span style="color: #4285f4;margin-left: 10px" *ngIf="MyInfo.data[0].email" > {{MyInfo.data[0].email}}</span>
                                                        </span>                                                         
                                                    </p>

                                                      <div class="row dash-col-title m-t20" *ngIf="ShowF4EditForm" >                                                  
                                                          <div class="col-sm-12">
                                                            <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submittedForm4 && f4.email.errors }" class="form-control profile-form-adress" placeholder="Phone">
                                                          </div>

                                                          <div class="col-sm-12 m-t20">
                                                            <a  href="javascript:void(0)"  (click)="SubmitUpdateF4()">Update Email
                                                             | </a>
                                                            <a  href="javascript:void(0)"  (click)="cancelF4()">Cancel</a>
                                                          </div>

                                                          <div class="col-sm-12">
                                                            <hr style="margin-top: 5px;">
                                                          </div>
                                                      
                                                      </div>

                                                  </form> 
                                                         </div>

                                                       </div>
                                                                                                               
                                                        <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 20px;margin-top: 2px;"> 
                                                    </div>   
                                                  </div>

                                                <div class="row m-b20">
                                                    <div class="col-md-4">
                                                        <p style="font-size: 13px">Account Type </p>
                                                        <input type="button"  class="button-ask-link ml-auto"  value="Certified" style="font-size: 15px; width: 80%;padding: 12px 20px !important">
                                                    </div>   
                                                    <div class="col-md-8 text-md-right text-sm-left">
                                                        

                                                          <form [formGroup]="saveUserLangForm">  

                                                    <p class="m-t30" style="font-size: 14px" *ngIf="MyInfo.data[2]">
                                                          
                                                        <span *ngIf="ShowLangForm">
                                                          <a href="javascript:void(0)" (click)="editLangForm()" *ngIf="MyInfo.data[2]" class="link-edit-profile">Edit</a>
                                                          <br>
                                                          <span style="margin-right: 10px">Language(s) : </span>
                                                          <span style="color: #4285f4;" *ngFor="let item of MyInfo.data[2]; let isLast=last">  
                                                               {{item.langue}}{{isLast ? '' : ', '}}
                                                          </span>
                                                        </span>

                                                    </p>

                                                          <hr *ngIf="ShowLangForm" style="border: 0; border-top: 1px solid #131313;margin-top: -8px;"> 

                                                      <div class="row dash-col-title m-t20" *ngIf="ShowLangEditForm" >                                                  
                                                          <div class="col-sm-12">
                                            
                                                            <ng-multiselect-dropdown *ngIf="LanguageData"
                                                            name="langues"
                                                            [placeholder]="'Select language'"
                                                            [data]="LanguageData.data"
                                                            formControlName="langues"
                                                            [settings]="dropdownSettings"
                                                            >
                                                            </ng-multiselect-dropdown>

                                                            <div *ngIf="submittedFormLang && flang.langues.errors" class="text-danger div-error">
                                                                <p> You must select at least one language</p> 
                                                            </div>
                                                          </div>

                                                          <div class="col-sm-12 m-t20">
                                                            <a  href="javascript:void(0)"  (click)="SubmitUpdateLangForm()">Update Languages
                                                             | </a>
                                                            <a  href="javascript:void(0)"  (click)="cancelLangForm()">Cancel</a>
                                                          </div>

                                                          <div class="col-sm-12">
                                                            <hr style="margin-top: 5px;">
                                                          </div>
                                                      
                                                      </div>

                                                  </form> 

                                                    </div>

                                                </div>

                                              <div class="row">
                                                    
                                                <div class="col-md-4">
                                                        <p style="font-size: 14px">Skills <a href="javascript:void" class="link-edit-profile" data-toggle="modal" data-target="#ModalCateg" style="margin-left: 65%">Edit</a> </p> 
                                                        <hr style="border: 0; border-top: 1px solid #131313;margin-top: -8px;"> 
                                                        <ul class="text-black profile-skills-list" *ngIf="MyInfo.data[1]">
                                       
                                                         <li *ngFor="let val of MyInfo.data[1]| slice:0:12;">
                                                             <a href="javascript:" class="text-black">{{ val.souscategoryName }}</a>
                                                        </li>

                                                        </ul>
                                                </div> 

                                                <div class="col-md-8">

                                                <div class="row dash-col-title" *ngFor="let p of MyAddress?.data;let rank=index">
                                                   <div style="display: contents;" *ngIf="ShowContentAddress[rank]">
                                                                                    
                                                      <div class="col-sm-6">
                                                        <span>{{p.address_title}}</span>  <a href="javascript:void(0)" (click)="editAddress(p._id,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email,rank)" class="link-edit-profile" style="margin-left: 20px">Edit</a>
                                                      </div>

                                                      <div class="col-sm-12">
                                                        <span class="ask-adress-text">{{p.city}}</span>
                                                      </div>

                                                      <div class="col-sm-12">
                                                        <span class="ask-adress-text">{{p.address}} - {{p.zip_code_postal}}</span>
                                                      </div>

                                                      <div class="col-sm-12">
                                                        <span class="ask-adress-text">Tel: + {{p.telephone}}</span>
                                                      </div>

                                                       <div class="col-sm-12">
                                                        <span class="ask-adress-text">E: {{p.email}}</span>
                                                      </div>

                                                      <div class="col-sm-12">
                                                        <hr style="margin-top: 5px;">
                                                      </div>

                                                    </div>

                                                    <form [formGroup]="saveAdressForm" #myForm2="ngForm">  
                              <div class="row dash-col-title m-t20" *ngIf="ShowUpdateForm[rank]" >
                           
                                <div class="col-sm-12">
                                  <input type="hidden" readonly="readonly" formControlName="user_id" class="form-control profile-form-adress">
                                </div>

                                <div class="col-sm-12">
                                  <input type="hidden" readonly="readonly"  formControlName="_id" class="form-control profile-form-adress">
                                </div>

                                 <div class="col-sm-12">
                                  <input type="text" formControlName="address_title" [ngClass]="{ 'ask-is-invalid': submittedAddressForm && h.address_title.errors }" class="form-control profile-form-adress" placeholder="Address Title">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="address" [ngClass]="{ 'ask-is-invalid': submittedAddressForm && h.address.errors }" class="form-control profile-form-adress" placeholder="Address">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="city" [ngClass]="{ 'ask-is-invalid': submittedAddressForm && h.city.errors }" class="form-control profile-form-adress" placeholder="City">
                                </div>

                                <div class="col-sm-12">
                                  <input type="text" formControlName="zip_code_postal" [ngClass]="{ 'ask-is-invalid': submittedAddressForm && h.zip_code_postal.errors }" class="form-control profile-form-adress" placeholder="Zip/Postal Code">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="telephone" [ngClass]="{ 'ask-is-invalid': submittedAddressForm && h.telephone.errors }" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers  class="form-control profile-form-adress" placeholder="Tel">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submittedAddressForm && h.email.errors }" class="form-control profile-form-adress" placeholder="Email">
                                </div>

                                <div class="col-sm-12 m-t20">
                                  <a  href="javascript:void(0)"  (click)="SubmitUpdateAddress(rank)">Update new address</a>
                                   | 
                                  <a  href="javascript:void(0)"  (click)="cancelUpdateAddress(rank)">Cancel</a>
                                </div>

                                <div class="col-sm-12">
                                  <hr style="margin-top: 5px;">
                                </div>

                            
                            </div>
                          </form> 

                                                </div>

                                                </div>   
                                            </div>

                                                
                                            </div>
                                            
                                            <div id="transactions" class="tab-pane" [ngClass]="{ 'active':activeTab==='2'}">

                                          <div class="card-body table-responsive" *ngIf="historyVal">
                                              
                                              <table class="table table-striped table-transact" [mfData]="historyVal.data" #mf="mfDataTable" [mfRowsOnPage]="4">
                                                <thead>                           
                                                    <tr class="title-row">
                                                      <th scope="col"> <mfDefaultSorter by="create_date">Date</mfDefaultSorter></th>
                                                      <th scope="col"> <mfDefaultSorter by="reference_transaction">Transaction</mfDefaultSorter></th>
                                                      <th scope="col"> <mfDefaultSorter by="device_name">Currency</mfDefaultSorter></th>
                                                      <th scope="col"> <mfDefaultSorter by="amount">Amount</mfDefaultSorter></th>
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                <tr *ngFor="let value of mf.data">
                                                    <td>{{value.create_date | date:'medium'}}</td>
                                                    <td>{{value.reference_transaction}}</td>
                                                    <td>{{value.device_name}}</td>
                                                    <td class="text-md-right text-sm-left" style="color: green;font-weight: bold"> {{value.amount }}</td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                              
                                                   <tr>
                                                        <td colspan="4" align="center">
                                                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                                        </td>
                                                    </tr>    
                                               
                                                </tfoot>
                                              </table>
                                          </div>
                                            </div>
                                            
                                            <div id="deposit" class="tab-pane" [ngClass]="{ 'active':activeTab==='deposit'}">    

                                            <div class="row dash-col-title m-tb20">
                                                <div class="col-sm-12 m-b10">
                                                    <p style="margin-bottom: 0px !important">
                                                        <alert></alert>
                                                    </p>
                                                </div> 
                                            </div>

                                            <form [formGroup]="rechargeWalletForm" (ngSubmit)="onSubmit(MyFund.data[0].amount)">                                            
                                                <div class="row">
                                                    
                                                    <div class="col-md-6">
                                                       <p>Account Balance :</p>
                                                    </div>   
                                                    
                                                    <div class="col-md-6 text-md-right text-sm-left" *ngIf="MyFund">
                                                      <p style="font-size:18px;color: #4285f4;font-weight: 700;" *ngIf="MyFund.data[0]"> {{MyFund.data[0].amount}} ZAR </p>

                                                      <p style="font-size:18px;color: #4285f4;font-weight: 700;" *ngIf="!MyFund.data[0]"> 0 ZAR </p>
                                                   </div>  

                                                </div>

                                                <hr style="border: 0; border-top: 1px solid #131313;margin-bottom: 40px;margin-top: 10px;"> 

                                                <input type="number" formControlName="finalAmount" [(ngModel)]="finalAmount" style="padding-bottom: 10px;">
                                                <h2 *ngIf="paypalLoad">Paypal button is loading</h2>
                                                <div id="paypal-checkout-btn"></div>

                                                <div class="row m-b40">
                                                    <div class="col-md-6">
                                                        <p>Payment Method :</p>
                                                    </div> 
                                                      
                                                    <div class="col-md-4 offset-md-2">
                                                       <div class="styled-select slate" *ngIf="paymentVal">
                                                        <select formControlName="methodpayment_id" [ngClass]="{ 'ask-is-invalid': submitted && f.methodpayment_id.errors }" (change)="showPaymentName($event.target.options[$event.target.selectedIndex].text)">
                                                          <option value="">Please Select</option>
                                                          <option *ngFor="let val of paymentVal.data" [value]="val._id">
                                                              {{ val.name }}
                                                          </option>
                                                        </select>
                                                       </div>

                                                       <input type="hidden" readonly="readonly" formControlName="methodpayment_name" class="form-control ask-date-select" [ngClass]="{ 'ask-is-invalid': submitted && f.methodpayment_name.errors }">
                                                    </div>   
                                                </div>

                                                <div class="row m-b40">
                                                    <div class="col-md-6">
                                                        <p>Amount :</p>
                                                    </div>   
                                                    <div class="col-md-4 offset-md-2">
                                                        <div class="input-group">
                                                          <div class="input-group-prepend">
                                                            <span class="input-group-text" style="color: #010101;font-size:26px;"><i class="fa fa-money"></i></span>
                                                          </div>

                                                          <input type="text" class="form-control ask-date-select" placeholder="No Min" formControlName="amount" aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.amount.errors }">

                                                          <input type="hidden"  readonly="readonly" class="form-control" formControlName="user_id" [ngClass]="{ 'ask-is-invalid': submitted && f.user_id.errors }">
                                                        </div>
                                                    </div>   
                                                </div>

                                                <div class="row m-b40">  
                                                    <div class="col-12 text-md-right text-sm-left">
                                                        <input type="submit"  class="button-bid" style="margin-right: 5px !important;padding: 15px 45px !important;"  value="Deposit">
                                                    </div>   
                                                </div>

                                              </form>

                                            </div>

                                            <div id="withdraw" class="tab-pane" [ngClass]="{ 'active':activeTab==='4'}">
                                                <p class="m-b10" style="color:#4184f3 ">Withdraw Funds</p>
                                               
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                <!-- End Tabs Default --> 

                        </div>

                        <div class="col-md-12 col-lg-3 offset-lg-1 p-a20 m-tb30 dash-col" style="height: 40%">
                            <div class="section-content">
                               
                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Welcome Back</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6">
                                        <span *ngIf="MyInfo"> {{MyInfo.data[0].username}} </span>                                       
                                    </div>   
                                    <div class="col-6 text-right">
                                        <a href="javascript:void(0);" class="dash-footer-link">STARTER</a>
                                    </div>   
                                </div>
                                                              
                                <hr style="border: 0; border-top: 3px solid #6d9ff3;">
                            </div> 

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Open Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_open_helps}}</span>
                                        
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Bidding Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_bidding_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Completed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_completed_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Closed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_closed_helps}}</span>
                                    </div>  
                             </div>




                            <div class="section-content">
                               
                               <hr style="border: 0; border-top: 3px solid #6d9ff3;">

                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Account Balance</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6" *ngIf="MyFund">
                                        
                                        <a href="javascript:void(0);" *ngIf="MyFund.data[0]" class="dash-side-link">{{MyFund.data[0].amount}} ZAR</a>

                                        <a href="javascript:void(0);" *ngIf="!MyFund.data[0]" class="dash-side-link">0 ZAR</a>

                                    </div>   
                                    <div class="col-6 text-right">
                                        <a [routerLink]="['/access/profile']" [fragment]="'deposit'" class="dash-side-link">Deposit Funds</a>
                                    </div>   
                                </div>
                                                              
                                
                            </div>                    
                        </div>

                  </div> 

                
                </div>
            </div>  