/* You can add global styles to this file, and also import other style files */

@import "../access.component.scss";

       .div-error{
			font-size: 16px !important;
			padding: 20px 0px 0px 0px !important;
		}

		::ng-deep .multiselect-dropdown .dropdown-btn {
			 font-size:15px !important;
		   border: 2px solid #d9d9d9 !important;
		   padding: 10px 8px !important;
		   background: white !important;
		}
		
		::ng-deep .dropdown-list {
				position: relative !important;
	  }

	  .image-upload > input {
		  visibility:hidden;
		  width:0;
		  height:0
      }
 
	  .accordion {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
	  }
	  
	  .active, .accordion:hover {
		background-color: #ccc; 
	  }
	  
	  .panel {
		padding: 0 18px;
		display: none;
		background-color: white;
		overflow: hidden;
	  }


	  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}