    <!-- Footer Part-->
<footer class="site-footer" style="background-image: url('assets/homestyle/images/testimonials/foot.png');">
    <div style="background-color: rgba(67, 61, 99, 0.5); padding-top: 30px; margin-top: 30px;">
    <!-- Footer Top Part -->  
    <div class="footer-top overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h2 style="color: white; padding: 10px 10px 20px 20px;">Join the HELPONE23, get connected with thousands of people and offer or request Services</h2>
                </div>
                <div class="col-md-5" style="text-align: right;">
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <b><a href="#" class="fa fa-facebook"></a></b>
                </div>
            </div>
            <div class="row" style="padding: 20px 20px">
                <a [routerLink]="['/home']" style="margin-left: auto; margin-right: auto;"><img src="assets/homestyle/images/logo-light-9.png" width="171" height="49" alt=""/></a>
            </div>
            <div class="row" >
                <div class="col-md-12" style="font-size: 12px; text-align: center;">
                    <ul>
                        <li>HOME</li>
                        <li>ALL SERVICES</li>
                        <li>ABOUT HELPONE23</li>
                        <li>CONTACT US</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- About -->
                <div class="col-md-12" style="font-size: 12px; text-align: center;">
                    <ul>
                        <li>Contact us : </li>
                        <li><i class="fa fa-envelope fa-2x text-white"></i> <b class="p-lr5 text-uppercase"> </b>contact@helpone23.co.za</li>
                        <li><i class="fa fa-home fa-2x text-white"></i> <b class="p-lr5 text-uppercase"> </b>200 Roos street meyerpark, Pretoria</li>
                        <li>
                            <i class="fa fa-mobile fa-3x text-white"></i> <b class="p-lr5 text-uppercase"> </b> +27 738025364
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Copyright Part -->
    <div class="footer-bottom overlay-wraper">
        <div class="overlay-main"></div>
        <div class="container p-t30">
            <div class="row">
                    <button class="scroltop" style="position: absolute; right: 0px; transform: rotate(-90deg);"><span class="fa fa-space-shuttle relative" id="btn-vibrate"></span></button>
            </div>
            <div style="border-bottom: 1px gray solid;"></div>

            <div class="row" style="margin-top: 10px; color: white; font-size: 12px;">
                
                <div class="col-md-9 copyrights-text">
                    <ul id="end_footer">
                        <li>
                            <span class="counter">10</span>
                            <span class="">Registered Users  </span>
                        </li>|
                        <li>
                            <span class="counter">  2500</span>
                            <span class="">Assistances provided </span>
                        </li>|
                        <li>
                            <span class="">Copyright © 2018 HELP123 All Rights Reserved.</span>
                        </li>
                    </ul>
                </div>
                <div  class="col-md-3 copyrights-text" style="text-align: right;">
                    Designed & Developed by <b>SDK Games Africa</b>
                </div>
            </div>
        </div>
    </div>
    </div>            
</footer>