<div class="row" style="width: 100%; padding-left: 30px;">
    <div class="col-md-12" style="margin-top: 30px;">
      
        <ag-grid-angular
            
            id="agGrid"
            class="ag-theme-balham"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [modules]="modules"
            (cellClicked)='onClick.emit($event)'
            (gridReady)="onGridReady($event)"
            [paginationPageSize]="15"
            [pagination]="true"
            >
           
        </ag-grid-angular>
    </div>
</div>