/* You can add global styles to this file, and also import other style files */

@import "../access.component.scss";

     /** MENU NEW LAYOUT 05/03/2019 ***/
        .btn-menu-link:focus {
	    outline: 0 !important;
	    box-shadow: none !important;
      }
      #ground1{
         margin-top: auto;
         margin-bottom: auto;
         margin-right: 10px;
         margin-left: 10px;
         color: white;
         background: red;
         height: 100%;
        }

        .btn {
         border: none;
         outline: none;
         padding: 10px 16px;
         background-color: #f1f1f1;
         cursor: pointer;
         font-size: 18px;
       }
       
       /* Style the active class, and buttons on mouse-over */
       .active, .btn:hover {
         background-color: #666;
         color: white;
       }