<!-- HEADER START -->
        <header class="site-header header-style-6">

            <div class="main-bar-wraper bg-white">
                <div class="main-bar navbar-expand-lg">
                    <div class="container">

                    <nav class="navbar navbar-expand-lg navbar-dark m-t30 m-b10" style="padding: 0em;">
                         <a class="navbar-brand" [routerLink]="['/home']">
                            <img src="assets/homestyle/images/dash/help123logo.png" class="img-fluid d-inline-block align-top" alt="">
                         </a>
                          <button class="navbar-toggler button-toggle" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" style="color: black;">
                              <span class="fa fa-reorder"></span>
                          </button>
                        <div class="header-nav collapse navbar-collapse  " id="navbarNavAltMarkup" style="position: absolute; right: 0em;" style="background: none;">
                            
                            <!-- <ul class="navbar-nav dash-first_topmenu">
                                <li>
                                    <a [routerLink]="['/access/askHelp-step1']"><img src="assets/homestyle/images/dash/give.png" class="img-fluid" alt="">Ask Help</a> 
                                    <a href="javascript:void(0);"><img src="assets/homestyle/images/dash/give.png" class="img-fluid" alt="">Ask Help</a>                                
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="assets/homestyle/images/dash/offer.png" class="img-fluid" alt="">Offer Help</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="assets/homestyle/images/dash/help.png" class="img-fluid" alt="">Help Banks</a>
                                </li>
                             </ul> -->

                             <form class="form-inline my-lg-0 m-r20 dashform1">
                                  <div class="input-group">
                                      <div class="input-group-prepend" style="display: flex;">
                                        <span class="input-group-text searchgrouptext" id="search-addon" style="margin: auto;"><i class="fa fa-search"></i></span>
                                        <input type="text" class="form-control search-menu" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="margin: auto;">
                                      </div>
                                 </div>
                            </form>

                            <form class="form-inline m-r10 dashform2">
                                  <div class="styled-select slate">
                                  <select *ngIf="CurrentBalance">
                                    <option *ngIf="CurrentBalance">{{CurrentBalance.balance}} ZAR</option>
                                    <option *ngIf="!CurrentBalance">-------------- ZAR</option>
                                  </select>

                                    
                                </div>
                            </form>

                             <!-- <ul class="navbar-nav dash-first_topmenu ml-auto">
                                <li>
                                    <a href="javascript:void(0);"><img src="assets/homestyle/images/dash/sms.png" class="img-fluid" alt=""></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><img src="assets/homestyle/images/dash/notification.png" class="img-fluid" alt=""></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" title="Logout" (click)="logoutApp()"><img src="assets/homestyle/images/dash/user.png" class="img-fluid" alt="Logout"></a>
                                </li>
                                
                             </ul> -->

                            <div class="btn-group">
                                  <button type="button" class="btn btn-menu-link bg-white"><img src="assets/homestyle/images/dash/sms.png" class="img-fluid" alt=""></button>
                                  <button type="button" class="btn btn-menu-link bg-white"><img src="assets/homestyle/images/dash/notification.png" [routerLink]="['/access/notifications']" class="img-fluid" alt=""></button>
                                <div class="btn-group">
                                  <button type="button" class="btn btn-menu-link bg-white" data-toggle="dropdown">
                                    <img src="assets/homestyle/images/dash/user.png" class="img-fluid" alt="">
                                  </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" *ngIf="currentUser" href="javascript:void(0)" >{{currentUser.user.username}}</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" [routerLink]="['/access/profile']" [fragment]="'userprofile'">My Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" [routerLink]="['/access/profile']" [fragment]="'deposit'">Recharge Account</a>
                                        <div class="dropdown-divider" *ngIf="param.parametre=='Ask for Helps'"></div>
                                        <a class="dropdown-item" *ngIf="param.parametre=='Ask for Helps'" [routerLink]="['/access/myHelps']">My Helps Requests</a>
                                        <div class="dropdown-divider"></div>
                                        <!-- <a class="dropdown-item" href="javascript:void(0)" (click)="logoutApp()">Log Out</a> -->
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="openAddFileDialog()">Log Out</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="GotoSwitch()">Switch Account</a>
                                    </div>
                                </div>
                            </div> 

                              </div>
                       </nav>

                    </div>
                </div>
            </div>  

            
            <div class="bg-gray" style="background-color: #4285f4">
                <div class="navbar-expand-lg">
                    <div class="container">

                    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 15px 20px;">
                        <button class="navbar-toggler button-toggle" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                              <span class="navbar-toggler-icon"></span>
                            </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                          <!-- <ul class="navbar-nav dash-menu">
                            <li >
                              <a [routerLink]="['/access/dashboard']">Dashboard</a>
                            </li>
                            <li >
                              <a href="javascript:void(0);">Help Banks</a>
                            </li>
                            <li >
                              <a [routerLink]="['/access/inbox']">Inbox</a>
                            </li>
                            <li >
                              <a href="javascript:void(0);">Feedback</a>
                            </li>                              
                          </ul> -->
                          <ul class="nav nav-pills">
                            <li class="nav-item">
                              <a *ngIf="acc.menuManager=='Dashboard'" class="nav-link active" data-toggle="pill" href="#home" style="background-color: chocolate;">Dashboard</a>
                              <a *ngIf="acc.menuManager!='Dashboard'" class="nav-link" data-toggle="pill" href="#home" [routerLink]="['/access/dashboard']" style="color: white;">Dashboard</a>
                            </li>
                            <li class="nav-item">
                              <a *ngIf="acc.menuManager=='Help Banks'" class="nav-link active" data-toggle="pill" href="#home" style="background-color: chocolate;">Help Banks</a>
                              <a *ngIf="acc.menuManager!='Help Banks'" class="nav-link" data-toggle="pill" href="#menu1" [routerLink]="['/access/helpBanks']" style="color: white;">Help Banks</a>
                            </li>
                            <li class="nav-item">
                              <a *ngIf="acc.menuManager=='Inbox'" class="nav-link active" data-toggle="pill" href="#home" style="background-color: chocolate;">Inbox</a>
                              <a *ngIf="acc.menuManager!='Inbox'" class="nav-link" data-toggle="pill" href="#menu1" [routerLink]="['/access/inbox']" style="color: white;">Inbox</a>
                            </li>
                            <li class="nav-item">
                              <a *ngIf="acc.menuManager=='Feedback'" class="nav-link active" data-toggle="pill" href="#home" style="background-color: chocolate;">Feedback</a>
                              <a *ngIf="acc.menuManager!='Feedback'" class="nav-link" data-toggle="pill" href="#menu1" [routerLink]="['/access/inbox']" style="color: white;">Feedback</a>
                            </li>
                            <li class="nav-item">
                              <a *ngIf="acc.menuManager=='Completed Helps'" class="nav-link active" data-toggle="pill" href="#home" style="background-color: chocolate;">Completed Helps</a>
                              <a *ngIf="acc.menuManager!='Completed Helps'" class="nav-link" data-toggle="pill" href="#menu1" [routerLink]="['/access/completedHelps']" style="color: white;">Completed Helps</a>
                            </li>
                          </ul>
                          
                          <input type="button" (click)="GotoAskUrl()" *ngIf="param.parametre=='Ask for Helps'" class="button-ask-link ml-auto"  value="Ask For Help">
                          <input type="button" (click)="GotoRecentsHelps()" *ngIf="param.parametre=='Offer Helps'" class="button-ask-link ml-auto"  value="Offer Helps">
                          <input type="button" (click)="GotoEx()" *ngIf="param.parametre==''" class="button-ask-link ml-auto"  value="{{account_type}}">
                          <!-- <input type="button" (click)="GotoRecentsHelps()" *ngIf="param.parametre=='Offer Helps'" class="button-ask-link ml-auto"  value="Offer Helps"> -->
                          <input type="button" (click)="GotoHome()" class="button-ask-link ml-auto"  value="Home"> 

                        </div>
                    </nav>

                    </div>
                </div>
            </div>

        </header>