<a href="javascript:void(0);" 
    (click)="onClick.emit()" 
    [ngStyle]="{'background': bgcol, 'color': col}"
    style="
        font-size: 20px; 
        padding: 20px 50px; 
        border-radius: 35px; 
        border: 2px solid white; 
        width: 100%; 
        text-decoration: none;" 
    class="text-center site-button text-uppercase"
    >
    <b>
        {{ text }}
    </b>
</a>