<!-- OUR PLANS  -->
<div class="section-full text-left content-dash bg-gray">
    <div class="container">                    
        <div class="row" style="padding-top: 30px;">
            <div class="col-md-12 col-lg-12 p-a20 m-tb30 ask-col">
                <form [formGroup]="askForm" (ngSubmit)="onSubmit()">
                    <div class="section-content" style=" margin-top: 20px;">
                        <h1>Ask For Help</h1>
                        <span class="pull-right ask-step-text">1/2</span>
                        <hr style="border: 0; border-top: 3px solid #6d9ff3; margin: 20px -20px 20px;">
                    </div>
                    <div class="row dash-col-title m-t20">
                        <div class="col-sm-12 m-b10">
                                <p style="margin-bottom: 0px !important">
                                <alert></alert>
                                </p>
                        </div>
                        <div class="col-md-12" *ngIf="infoMessage.length > 0">
                            <div class="alert alert-success alert-dismissible fade show"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ infoMessage }}</div>
                        </div>
                    </div>
                    <div class="row" *ngIf="!yourArea">
                        <div class="col-md-12">
                            <div class="row dash-col-title m-b40">
                                <div class="col-sm-12">                        
                                    <div class="form-group">                            	
                                        <p>In which area do you need help ?</p>
                                        <div *ngIf="categs">
                                            <app-select [categories]="categs.data" (onChange)="loadSubCat($event)" [submitted]="submitted" [observer]="f.categoryService_id.errors"></app-select>
                                        </div>	                                   
                                    <p *ngIf="submitted && f.categoryService_id.errors"  style="color: red;font-weight: 800" class="m-tb10">You must select a category</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row dash-col-title m-b40">
                                <div class="col-sm-12">
                                    
                                    <div class="form-group">                            	
                                        <p>Specify a specific section within that area</p>	                                   
                                    <div *ngIf="subcats_data">
                                            <app-select [subCategories]="subcats_data.data" (onChange)="saveSubCat($event)" [submitted]="submitted" [observer]="f.sousCategory_id.errors"></app-select>                                            
                                        </div>
                                    <p *ngIf="subcats_data && f.sousCategory_id.errors"  style="color: red;font-weight: 800" class="m-tb10">You must select a sub category</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="yourArea">
                        <div class="col-md-12">
                            <p>{{yourCategory_id}}</p>
                            <p>{{yourSubCategory_id}}</p>
                            <p>{{yourCategory}}</p>
                            <p>{{yourSubCategory}}</p>
                        </div>
                    </div>
                    
                    <div class="row dash-col-title m-b30">
                        <div class="col-sm-12 m-b10">
                        <p style="margin-bottom: 0px !important">Attach an image</p>
                        <!-- <span class="ask-subtext">You can add up to 6 images to illustrate the issue you need Help with.</span> -->
                        </div>
                        <div class="col-sm-12">	                                
                            <div>
                                <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" style="max-width: 200px">
                            </div>
                            <div class="upload-btn-wrapper">
                            <button class="btn-wrapper">+</button>
                            <input type="file" accept="image/*" class="form-control" multiple (change)="detectFiles($event)" style="height: auto" />
                            </div>
                            <p *ngIf="textUplaod" style="color: red;font-weight: 800"> You can only upload a maximum of 6 files</p>
                            <p *ngIf="textNoUplaod" style="color: red;font-weight: 800"> You must upload at least one file </p>
                        </div>
                    </div>
                    <div class="row dash-col-title m-b30" style="margin-top: 20px;">
                        <div class="col-sm-12 m-b10">
                        <p style="margin-bottom: 0px !important">Description</p>
                        <span class="ask-subtext">Can you explain the help you need in more details so the helper can better access what should be done.</span>
                        </div>
                        <div class="col-sm-12">
                        <textarea class="form-control"  formControlName="description" [ngClass]="{ 'ask-is-invalid': submitted && f.description.errors }"  rows="5" style="height: 160px;border: 3px solid #595656;"></textarea>
                        <p *ngIf="submitted && f.description.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a description for this service</p>
                        </div>
                    </div>
                    <div class="row dash-col-title m-b30" style="margin-top: 20px; text-align: center;">
                        <div class="col-sm-12 m-b10">
                            <p style="margin-bottom: 0px !important">Preferred date and time</p>
                            <span class="ask-subtext">Indicate 3 preferred date when you will be able to receive an helper to assist</span>
                        </div> 
                        <div class="row" style="margin: auto; margin-top: 30px;">
                            <div class="col-sm-12 m-b5">
                                <p style="margin-bottom: 0px !important">Preferred date/time 01</p>
                            </div>                    
                            <div class="col-sm-6">                                   
                                <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="d1"><img src="assets/homestyle/images/dash/cal.png" class="img-fluid"></span>
                                </div>
                                <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="d1" min="{{minDate}}" [owlDateTime]="d1" formControlName="date1" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.date1.errors  || dateBorder}">
                                <owl-date-time [pickerType]="'calendar'" dateFormat="YYYY-MM-DD" #d1></owl-date-time>
                                </div>
                            </div>
                            <div class="col-sm-6">                                   
                                <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="t1"><img src="assets/homestyle/images/dash/clock.png" class="img-fluid"></span>
                                </div>
                                <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="t1" [owlDateTime]="t1" formControlName="time1" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.time1.errors }">
                                <owl-date-time [pickerType]="'timer'" #t1></owl-date-time> 
                                </div>
                            </div>
                            <div class="col-sm-12">                                   
                                <hr style="margin-top: 10px;width: 70%;margin-left: 0px;border: 0;border-bottom: 3px solid #efefef;">
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="col-sm-12 m-b5">
                                <p style="margin-bottom: 0px !important">Preferred date/time 02</p>
                            </div>                    
                            <div class="col-sm-6">                                   
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="trigger input-group-text" [owlDateTimeTrigger]="d2"><img src="assets/homestyle/images/dash/cal.png" class="img-fluid"></span>
                                    </div>
                                    <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="d2" min="{{minDate}}" [owlDateTime]="d2" formControlName="date2" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.date2.errors  || dateBorder }">
                                    <owl-date-time [pickerType]="'calendar'" #d2></owl-date-time>
                                </div>
                            </div>
                            <div class="col-sm-6">                                   
                                <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="t2"><img src="assets/homestyle/images/dash/clock.png" class="img-fluid"></span>
                                </div>
                                <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="t2" [owlDateTime]="t2" formControlName="time2" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.time2.errors}">
                                <owl-date-time [pickerType]="'timer'" #t2></owl-date-time>
                                </div>
                            </div> 

                            <div class="col-sm-12">                                   
                                <hr style="margin-top: 10px;width: 70%;margin-left: 0px;border: 0;border-bottom: 3px solid #efefef;">
                            </div>
                        </div>
                        <div class="row" style="margin: auto;">
                            <div class="col-sm-12 m-b5">
                                <p style="margin-bottom: 0px !important">Preferred date/time 03</p>
                            </div>                    
                            <div class="col-sm-6">                                   
                                <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="d3"><img src="assets/homestyle/images/dash/cal.png" class="img-fluid"></span>
                                </div>
                                <input readonly="readonly" class="trigger" [owlDateTime]="d3" [owlDateTimeTrigger]="d3" min="{{minDate}}" formControlName="date3" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.date3.errors   || dateBorder}">
                                <owl-date-time [pickerType]="'calendar'" #d3></owl-date-time>
                                </div>
                            </div>
                            <div class="col-sm-6">                                   
                                <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="trigger input-group-text" [owlDateTimeTrigger]="t3"><img src="assets/homestyle/images/dash/clock.png" class="img-fluid"></span>
                                </div>
                                <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="t3" [owlDateTime]="t3" formControlName="time3" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.time3.errors }">
                                <owl-date-time [pickerType]="'timer'" #t3></owl-date-time>
                                </div>
                            </div> 
                            <p *ngIf="dateBorder"  class="m-tb10" style="color: red;font-weight: 800">The date entered cannot be less than the current date</p>

                            <div class="col-sm-12">                                   
                                <hr style="margin-top: 10px;width: 70%;margin-left: 0px;border: 0;border-bottom: 3px solid #efefef;">
                            </div> 
                        </div>
                    </div>               
                    <div class="row m-t10">
                        <div class="col-md-12 text-center">
                            <input type="submit"  class="ask-button-blue-layout m-t10 m-r10"  value="Next"> 
                        </div>
                    </div>
                </form>
            </div>
        </div>     
    </div>
</div>  