  <!-- OUR PLANS  -->
            <div class="section-full text-left content-dash bg-gray">
                <div class="container">
                    
                     <div class="row" style="margin:0; padding-top: 30px;">
                       
                        <div class="col-md-12 col-lg-8 p-a20 m-tb30 ask-bid-col" style="padding-top: 20px;">
                            
                            <div class="section-content">

                               <div class="row" style="margin-bottom: -15px !important;margin-top: -5px;">
                                  
                                   <div class="col-sm-6">
                                     <form class="form-inline my-lg-0 m-r20">
                                        <div class="input-group" style="width: 100%">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text searchgrouptext" id="search-addon"><i class="fa fa-search"></i></span>
                                            </div>
                                            <input type="text" [(ngModel)]="queryString" class="form-control search-menu" [ngModelOptions]="{standalone: true}" placeholder="Search for Projects" aria-label="Search" aria-describedby="search-addon">
                                       </div>
                                    </form>
                                   </div>

                                   <div class="col-sm-6">
                                      
                                      <!-- <form class="form-inline float-sm-left float-md-right" style="margin-top: 5px;margin-right: 5px;">
                                        <span class="ask-bid-search-select">Sort By :</span>
                                        <div class="styled-select slate" style="width: 110px;">
                                        <select style="padding: 5px 20px;" *ngIf="OpenHelpsReq" (change)="sortSelect($event.target.value,pagedItems)">
                                          <option value="default">Latest</option>
                                          <option value="date">Today</option>
                                          <option value="name">First</option>
                                        </select>
                                      </div>
                                      </form> -->
                                   </div>

                              </div>

                                <hr style="border: 0; border-top: 3px solid #6d9ff3; margin: 20px -20px 20px;">

                            </div> 

                            <div *ngIf="OpenHelpsReq">

                                <div class="row dash-col-title m-b10" *ngFor="let valueOH of OpenHelpsReq.data | filterdata: queryString : 'nom_service'| paginate: { itemsPerPage: 5, currentPage: p } ; let rank=index;  ">
                                <div class="col-sm-12">
                                    <div class="row">
                                         <div class="col-sm-1">
                                            <img *ngIf="services_categ" [src]="getCategoryLogo(valueOH.categoryService_id,services_categ.data) | safe: 'resourceUrl'" class="img-fluid" style="max-width: 40px;height: 40px;width: 40px;">
                                        </div>
                                         <div class="col-sm-6">
                                            <a [routerLink]="['/access/viewBidder/',valueOH._id]">{{rank+1}} : {{valueOH.nom_service}}</a>
                                         </div>
                                         <div class="col-sm-3 offset-sm-2">
                                            <span>{{valueOH.min_price}}{{valueOH.device_name}} - {{valueOH.max_price}}{{valueOH.device_name}}</span>
                                         </div>

                                      </div>

                                    <div class="row">
                                         <div class="col-sm-8 offset-sm-1">
                                            <p> {{ (valueOH.description.length>30)? (valueOH.description | slice:0:30)+'..':(valueOH.description) }} </p>
                                        </div>
                                      </div>


                                      <div class="row">
                                         <div class="col-sm-4 offset-sm-1">
                                           <p> <i class="fa fa-unlock fa-2x fa-color" aria-hidden="true"></i> {{valueOH.status}} - {{valueOH.nombre_bids}} bids</p>
                                        </div>
                                         <div class="col-sm-4 offset-sm-1">
                                            <p> <i class="fa fa-map-marker  fa-2x fa-color" aria-hidden="true"></i>  {{valueOH.city_deliver_help}}</p>
                                        </div>
                                      </div>

                                      <div class="row">
                                         <div class="col-sm-8 offset-sm-1">
                                            <p *ngIf="services_categ"> <i class="fa fa-bookmark fa-2x fa-color" aria-hidden="true"></i> {{ getCategoryName(valueOH.categoryService_id,services_categ.data) }}</p>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <div class="col-sm-8 offset-sm-1">
                                          <p> <i class="fa fa-calendar fa-2x fa-color" aria-hidden="true"></i>  {{valueOH.preferred_date_service | date }} {{valueOH.preferred_time_service}}</p>
                                        </div>
                                      </div>

                                     <hr style="border: 0; border-top: 3px solid #6d9ff3; margin: 20px -20px 20px;">
                                      
                                </div>

                             </div>

                            </div>

                            
                            <div class="row ">
                                <div class="col-md-12">
                                      <pagination-controls  class="my-pagination"
                                          (pageChange)="p = $event"
                                          maxSize="10"
                                          directionLinks="true"
                                          autoHide="true"
                                          responsive="true"
                                          previousLabel="Previous"
                                          nextLabel="Next"
                                          screenReaderPaginationLabel="Pagination"
                                          screenReaderPageLabel="page"
                                          screenReaderCurrentLabel="You're on page">
                                     </pagination-controls>
                                </div>
                            </div> 

                        </div>

                        
                        <div class="col-md-12 col-lg-3 offset-lg-1 p-a20 m-t30 dash-col" style="height: 45%; padding-top: 20px;">
                            <div class="section-content">
                               
                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Welcome Back</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6">
                                        <span *ngIf="MyInfo"> {{MyInfo.data[0].username}} </span>                                       
                                    </div>   
                                    <div class="col-6 text-right">
                                        <a href="javascript:void(0);" class="dash-footer-link">STARTER</a>
                                    </div>   
                                </div>
                                                              
                                <hr style="border: 0; border-top: 3px solid #6d9ff3;">
                            </div> 

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Open Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_open_helps}}</span>
                                        
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #4285f4;font-weight: 500;">My Bidding Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3blue.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_bidding_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Completed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/2black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_completed_helps}}</span>
                                    </div>  
                             </div>

                             <div class="row bg-gray p-tb10" style="margin: 10px 0px">
                                    <div class="col-12 text-right">
                                       <span style="font-size:16px;color: #403d3f;font-weight: 500;">My Closed Helps</span>
                                    </div>

                                    <div class="col-6" style="padding: 10px 10px 0px;">
                                        <img src="assets/homestyle/images/dash/3black.png" class="img-fluid">                     
                                    </div>   
                                    <div class="col-6 text-right" style="padding: 25px 15px 0px;">
                                        <span *ngIf="MyStats" style="font-size:25px;color: #4285f4;font-weight: 500;">{{MyStats.nbre_my_closed_helps}}</span>
                                    </div>  
                             </div>




                            <div class="section-content">
                               
                               <hr style="border: 0; border-top: 3px solid #6d9ff3;">

                               <div class="row">
                                    <div class="col-12" style="margin: -10px 0px 5px 0px;">
                                        <span>Account Balance</span>
                                    </div>
                               </div>

                                <div class="row">
                                    <div class="col-6" *ngIf="MyFund">
                                        
                                        <a href="javascript:void(0);" *ngIf="MyFund.data[0]" class="dash-side-link">{{MyFund.data[0].amount}} ZAR</a>

                                        <a href="javascript:void(0);" *ngIf="!MyFund.data[0]" class="dash-side-link">0 ZAR</a>

                                    </div>   
                                    <div class="col-6 text-right">
                                        <a [routerLink]="['/access/profile']" [fragment]="'deposit'" class="dash-side-link">Deposit Funds</a>
                                    </div>   
                                </div>
                                                              
                                
                            </div>                    
                        </div>

                  </div> 

                
                </div>
            </div>