<!-- HEADER START -->
        <header class="site-header header-style-6" style="background: blue; margin-bottom: 30px;">

            <div class="sticky-header main-bar-wraper bg-gray">
                <div class="main-bar header-botton navbar-expand-lg nav-bgcolor">
                    <div class="container">

                    <nav class="navbar navbar-expand-lg" style="padding: 0em;">
                         <a class="navbar-brand" [routerLink]="['/home']" >
                            <img src="assets/homestyle/images/logo-light-9.png" class="img-fluid d-inline-block align-top" alt="">
                         </a>
					          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
					              <span class="fa fa-reorder"></span>
					          </button>
					          <div class="header-nav collapse navbar-collapse  " id="navbarNavAltMarkup">
					                    <ul class=" nav navbar-nav ml-auto">
                                <!-- <li class="active">
                                    <a href="javascript:;">Home<i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home-1</a></li>
                                        <li><a href="index-2.html">Home-2</a></li>
                                    </ul>                                    
                                </li> -->
                                <!-- <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/home']">Home</a>                                
                                </li> -->
                                <!-- <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/logon']">Log In</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Sign Up</a>
                                </li>
                                <li>
                                    <a href="javascript:;" class="ask-link">Ask For Help</a>
                                </li> -->
                             </ul>
                              </div>
                       </nav>

                    </div>
                </div>
            </div>            
            
        </header>
