<div class="section-full text-left content-dash bg-gray">
    <div class="container"> 
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-12">
                <mat-tab-group animationDuration="2000ms">
                    <mat-tab label="Profile" class="row">                           
                        <form [formGroup]="saveInfo" (ngSubmit)="onSubmit()" class="col-md-12" style="margin-top: 30px;">
                            <div class="row">
                                <div class="col-md-6" *ngIf="MyInfo.data[0]">
                                        <div class="image-upload" *ngIf="MyInfo.data[0].picture">
                                            <label for="file-input">
                                            <img [src]="MyInfo.data[0].picture" style="max-width: 200px;height: 200px;width: 200px;cursor: pointer; border-radius: 50%;">
                                            </label>
                                            <input type="file" id="file-input" accept="image/*" class="form-control" (change)="uploadProfilePic($event)" />
                                        </div>
                                        <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->                                            
                                        <div class="image-upload" *ngIf="!MyInfo.data[0].picture">
                                            <label for="file-input">
                                                <img src="assets/homestyle/images/bid/profile-user.png" class="rounded mb-3 img-fluid" style="max-width: 200px;height: 200px;width: 200px;cursor: pointer;">
                                            </label>
                                            <input type="file" id="file-input"  accept="image/*" class="form-control" (change)="uploadProfilePic($event)" />
                                        </div>                                                                                                                                                            
                                        <div class="col-sm-12 m-b20" *ngIf="showPicturePreview" style="margin-bottom: 15px;">
                                            <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" style="max-width: 150px;height: 150px;width: 150px;"><br>
                                            <a  href="javascript:void(0)" style="font-size: 14px;"  (click)="UpdateProfile()">Update Profile Picture
                                            </a> | 
                                            <a  href="javascript:void(0)" style="font-size: 14px;"  (click)="cancelUpdateProfile()">Cancel</a>
                                        </div>
                                    <app-profile-data [myGroup]="saveInfo" [name]="'username'" [label]="'UserName '"></app-profile-data>
                                    <app-profile-data [myGroup]="saveInfo" [name]="'description'" [label]="'Description '"></app-profile-data>
                                </div>
                                <div class="col-md-6" *ngIf="MyInfo.data[0]">
                                    <app-profile-data [myGroup]="saveInfo" [name]="'firstname'" [label]="'First Name '"></app-profile-data>
                                    <app-profile-data [myGroup]="saveInfo" [name]="'surname'" [label]="'Last Name '"></app-profile-data>
                                    <app-profile-data [myGroup]="saveInfo" [name]="'phone'" [label]="'Phone Number '"></app-profile-data>
                                    <app-profile-data [myGroup]="saveInfo" [name]="'email'" [label]="'Email Address '"></app-profile-data>
                                </div>
                            </div>                            
                            <span style="margin-top: 30px;">
                                <input type="submit"  *ngIf="formEditable"  class="btn btn-success"  value="Save data" style="margin-left: 10px; margin-right: 10px;">
                                <button *ngIf="!formEditable" type="button" class="btn btn-primary" (click)="editForm()"  style="margin-left: 10px; margin-right: 10px;">Edit</button>
                                <button *ngIf="formEditable" type="button" class="btn btn-warning" (click)="cancelEditForm()"  style="margin-left: 10px; margin-right: 10px;">Cancel</button>
                            </span>
                            <!-- <input type="text" formControlName="username" [ngClass]="{ 'ask-is-invalid': submittedForm1 && f1.username.errors }" placeholder="Username"> -->
                        </form>
                        
                        
                    </mat-tab>
                    <mat-tab label="Transactions" class="row" style="background-color: red;">
                        <div class="col-md-12 dash-col-title" style="margin-top: 30px; padding: 10px; min-height: 300px;">
                            <form [formGroup]="saveUserLangForm">
                                <div  class="col-sm-12">
                                    <br>
                                    <span style="margin-right: 10px">Language(s) : </span>
                                    <span style="color: #4285f4;" *ngFor="let item of MyInfo.data[2]; let isLast=last">  
                                        {{item.langue}}{{isLast ? '' : ', '}}
                                    </span>
                                </div>                                               
                                <div class="col-sm-12" *ngIf="ShowLangEditForm">
                                    <ng-multiselect-dropdown *ngIf="LanguageData"
                                        name="langues"
                                        [placeholder]="'Select language'"
                                        [data]="LanguageData"
                                        formControlName="langues"
                                        [settings]="dropdownSettings"
                                    >
                                    </ng-multiselect-dropdown>
                                    <div *ngIf="submittedFormLang && flang.langues.errors" class="text-danger div-error">
                                        <p> You must select at least one language</p> 
                                    </div>
                                </div>
                                <div class="col-sm-12 m-t20" style="margin-top: 30px"  *ngIf="ShowLangForm">
                                    <a href="javascript:void(0)" (click)="editLangForm(email)" *ngIf="MyInfo.data[2]" class="link-edit-profile">Edit </a>
                                </div>
                                <div class="col-sm-12 m-t20" style="margin-top: 30px"  *ngIf="ShowLangEditForm">
                                    <a  href="javascript:void(0)"  (click)="SubmitUpdateLangForm()">Update Languages
                                        | </a>
                                    <a  href="javascript:void(0)"  (click)="cancelLangForm()">Cancel</a>
                                </div>
                                <div class="col-sm-12">
                                <hr style="margin-top: 15px;">
                                </div> 
                            </form>                       
                        </div>
                        <div class="col-md-12 dash-col-title" style="margin-top: 30px; padding: 10px; min-height: 300px;">
                            <p style="font-size: 14px">Skills <a href="javascript:void" class="link-edit-profile" data-toggle="modal" data-target="#ModalCateg" style="margin-left: 65%">Edit</a> </p> 
                            <hr style="border: 0; border-top: 1px solid #131313;margin-top: -8px;"> 
                            <ul class="text-black profile-skills-list" *ngIf="MyInfo.data[1]">                        
                                <li *ngFor="let val of MyInfo.data[1]| slice:0:12;" style="list-style: none;">
                                    <a href="javascript:" class="text-black">{{ val.souscategoryName }}</a>
                                </li>
                            </ul>
                        </div>
                    </mat-tab>
                    <mat-tab label="Founds">  </mat-tab>
                </mat-tab-group>
            </div>         
        </div>
    </div>
</div>






<!-- Modal -->
<div class="fade modal" id="ModalCateg" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" style="max-width: 70%;">
        <div class="modal-content" style="background-color: #F7F7F7;">
            <div class="modal-header">
                <div style="flex-direction:column;">
                    <h3 class="modal-title" id="ModalLabel" style="color: gray">Where Can You Help ?</h3>
                    <h4 style="font-weight: 200;color: gray">Select areas where you have skills so we can recommend jobs for you</h4>
                </div>        
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="section-full text-left">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 p-a30 m-t10 loginmodal-col">
                                <div class="section-content">
                                    <div class="row">                           
                                        <div class="col-md-4">
                                            <div class="loginmodal-container">
                                                <p class="m-b20 text-center header-title">Search</p>
                                                <hr class="col-hr-line m-b30">                                                
                                                <ul class="text-black categories-list" *ngIf="categs">                                                    
                                                    <li *ngFor="let val of categs.data| slice:0:12;">
                                                        <a href="javascript:" (click)="loadSubCat(val._id,val.categoryName)" class="text-black">{{ val.categoryName }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="sec_col">
                                            <div class="loginmodal-container">
                                                <p class="m-b20 text-center header-title">{{ chosenOptionTitle }}</p>
                                                <hr class="col-hr-line m-b30">                                 
                                                <ul class="text-black sub-categories-list" *ngIf="subcats_data">                                                    
                                                    <li *ngFor="let value of subcats_data.data| slice:0:12; let rank=index" >
                                                        <a href="javascript:" class="text-black">
                                                        <input id="checkbox-{{rank+1}}" 
                                                        (change)="ListSelectedItems($event,10)" class="checkbox-custom" name="{{ value.souscategoryName }}"  type="checkbox" value="{{ value._id }}">
                                                        <label for="checkbox-{{rank+1}}" class="checkbox-custom-label label-hover">{{ value.souscategoryName }}</label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="third_col">
                                            <div class="loginmodal-container">
                                                <p *ngIf="chosenOption" class="m-b20 text-center header-title">{{chosenOption}}</p>
                                                <hr class="col-hr-line m-b30">
                                                <!-- <pre *ngIf="TableData"> {{ TableData | json }}</pre> -->
                                                <ul class="text-black sub-categories-list" *ngIf="TableData">                                        
                                                    <li *ngFor="let value1 of TableData | slice:0:12; let rank1=index" >
                                                        <a href="javascript:" class="text-black">
                                                            <input checked="checked" class="checkbox-custom" type="checkbox">
                                                            <label class="checkbox-custom-label label-hover">{{ value1.sousCategoryName }}</label>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>                          
                            </div>
                        </div> 
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSave()">Save Changes</button>
            </div>
        </div>
    </div>
</div>