<div class="container">

	<div class="row">
        <div class="col-md-12">
            <div class='page-header'><h1>{{title}}</h1></div>
        </div>
    </div>

    <br />

			<!--
			* Show this view if "show_delete_product_html" is true.

			* Pass "product_id" property value of AppComponent
			  to [product_id] property of UpdateProductComponent.

			* If (show_read_products_event) was emitted in DeleteProductComponent,
			  trigger showReadProducts() method in AppComponent.
			-->
			<app-deletecontact
			    *ngIf="show_delete_product_html"
			    [adress_id]="adress_id_value" [titlePage]="title"
			    (show_adress_event)="showReadProducts($event)">
			</app-deletecontact>

			 <div class="row dash-col-title m-t20">
                <form [formGroup]="saveAdressForm" #myForm="ngForm">             

                                <div class="col-sm-12">
                                  <input type="text"  formControlName="user_id" class="form-control ask-form-adress" placeholder="Address Title">
                                </div>

                                 <div class="col-sm-12">
                                  <input type="text" formControlName="address_title" [ngClass]="{ 'ask-is-invalid': submitted && f.address_title.errors }" class="form-control ask-form-adress" placeholder="Address Title">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="address" [ngClass]="{ 'ask-is-invalid': submitted && f.address.errors }" class="form-control ask-form-adress" placeholder="Address">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="city" [ngClass]="{ 'ask-is-invalid': submitted && f.city.errors }" class="form-control ask-form-adress" placeholder="City">
                                </div>

                                <div class="col-sm-12">
                                  <input type="text" formControlName="zip_code_postal" [ngClass]="{ 'ask-is-invalid': submitted && f.zip_code_postal.errors }" class="form-control ask-form-adress" placeholder="Zip/Postal Code">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="telephone" [ngClass]="{ 'ask-is-invalid': submitted && f.telephone.errors }"  class="form-control ask-form-adress" placeholder="Tel">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submitted && f.email.errors }" class="form-control ask-form-adress" placeholder="Email">
                                </div>

                                <div class="col-sm-12 m-t20">
                                  <a  href="javascript:void(0)"  (click)="onSubmit()">Save new address</a>
                                </div>

                                <div class="col-sm-12">
                                  <hr style="margin-top: 5px;">
                                </div>

                            </form>
                          </div>  

   <div><alert></alert></div>
    <table class="table" *ngIf="show_read_products_html">

        <thead>

        <th>Rank</th>

        <!-- <th>Id</th> -->

        <!-- <th>UserId</th> -->

        <th>Title</th>

        <th>ZIP CODE</th>

        <th>CITY</th>
        
        <th>EMAIL</th>

        <th>PHONE</th>

        <th>DATE</th>

        <th>ACTIONS</th>

        </thead>


        <tbody *ngIf="AdressData">

            <tr *ngFor="let p of AdressData.data;let rank=index">

            <div *ngIf="itemsTRVisibility[rank]">

                <td>{{rank+1}}</td>

                <!-- <td>{{p._id}}</td> -->

                <!-- <td>{{p.user_id}}</td> -->

                <td>{{p.address_title}}</td>

                <td>{{p.zip_code_postal}}</td>

                <td>{{p.city}}</td>

                <td>{{p.email}}</td>

                <td>{{p.telephone}}</td>

                <td style="color: red;font-weight: bold">{{p.create_date | date}} - {{p.update_date | date}}</td>

                <td><!-- delete product button -->
                    <a (click)="deleteProduct(p._id)" class='btn btn-danger m-r-5px'>
                        <span class='glyphicon glyphicon-remove'></span> Delete
                    </a>
                    <a (click)="editProduct(p._id,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email,rank)" class='btn btn-danger m-r-5px'>
                        <span class='glyphicon glyphicon-edit'></span> Edit
                    </a>
                </td>

              </div>  

                 <!-- <td><app-stock [productId]='p.id' [stock]='p.stock' (stockValueChange)='changeStockValue($event)'></app-stock></td> -->

                 <div class="row dash-col-title m-t20" *ngIf="itemsVisibility[rank]">
                <form [formGroup]="saveAdressForm2" #myForm2="ngForm">             

                                <div class="col-sm-12">
                                  <input type="text" readonly="readonly" formControlName="user_id" class="form-control ask-form-adress">
                                </div>

                                <div class="col-sm-12">
                                  <input type="text" readonly="readonly"  formControlName="_id" class="form-control ask-form-adress">
                                </div>

                                 <div class="col-sm-12">
                                  <input type="text" formControlName="address_title" [ngClass]="{ 'ask-is-invalid': submittedSecForm && g.address_title.errors }" class="form-control ask-form-adress" placeholder="Address Title">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="address" [ngClass]="{ 'ask-is-invalid': submittedSecForm && g.address.errors }" class="form-control ask-form-adress" placeholder="Address">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="city" [ngClass]="{ 'ask-is-invalid': submittedSecForm && g.city.errors }" class="form-control ask-form-adress" placeholder="City">
                                </div>

                                <div class="col-sm-12">
                                  <input type="text" formControlName="zip_code_postal" [ngClass]="{ 'ask-is-invalid': submittedSecForm && g.zip_code_postal.errors }" class="form-control ask-form-adress" placeholder="Zip/Postal Code">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="telephone" [ngClass]="{ 'ask-is-invalid': submittedSecForm && g.telephone.errors }"  class="form-control ask-form-adress" placeholder="Tel">
                                </div>

                                <div class="col-sm-6">
                                  <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submittedSecForm && g.email.errors }" class="form-control ask-form-adress" placeholder="Email">
                                </div>

                                <div class="col-sm-12 m-t20">
                                  <a  href="javascript:void(0)"  (click)="SubmitUpdate(rank)">Update new address</a>
                                  <br>
                                  <a  href="javascript:void(0)"  (click)="cancelUpdate(rank)">Cancel</a>
                                </div>

                                <div class="col-sm-12">
                                  <hr style="margin-top: 5px;">
                                </div>

                            </form>
                          </div> 

            </tr>

        </tbody>

    </table>

</div>