                 <!-- Start: Slides  -->
    <div class="slides_wrapper slides_wrapper_v3">
        <div class="slides__preload_wrapper">
            <div class="spinner"></div>
        </div>
        <div class="slider_home owl-carousel">
            <!-- Start: Slider 1  -->
            <div class="single_slider slide_bg_1">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 slide-text-grid">
                                    <h2>Asking For <span>Help</span></h2>
                                    <h3>hasn't be easy as </h3>
                                    <img src="assets/homestyle/images/main-slider/123.png" alt="" class="img-fluid slide1-img">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 1  -->
            <!-- Start: Slider 2  -->
            <div class="single_slider slide_bg_2">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 slide-text-grid">
                                   <h2>Asking For <span>Help</span></h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed dapibus enim sit amet pellentesque imperdiet nibh tortor fringilla tortor eu sodales leo augue eget justo. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 2  -->
            <!-- Start: Slider 3  -->
            <div class="single_slider slide_bg_3">
                <div class="slider_item_tb">
                    <div class="slider_item_tbcell">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 slide-text-grid">
                                    <h2>Asking For <span>Help</span></h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Sed dapibus enim sit amet pellentesque imperdiet nibh tortor fringilla tortor eu sodales leo augue eget justo. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Slider 3  -->
        </div>
    </div>
    <!-- End:  Slider  -->

         <!-- Why Choose -->
            <div class="section-full bg-change-section overlay-wraper p-t80 p-b50">
                
                <div class="container">
                    <!-- TITLE START-->
                    <div class="section-head text-center text-black">
                        <h2 data-title="">What Help do You Need ?</h2>
                        <div class="mt-separator-outer">
                            <div class="mt-separator bg-primary"></div>
                        </div>                        
                    </div>
                    <!-- TITLE END-->
                    <div class="section-content bg-white">                
                        <div class="row" *ngIf="dataProduct && services_categ">

                             <!-- <li *ngFor="let obj of services_categ.data">{{obj | json}}</li> -->

                               <!-- <div class="equal-wraper">    -->

                            <div class="col-md-3 col-sm-6 categories-grid" *ngFor="let val of dataProduct| slice:0:8;">
                                    <div class="grid-col-title p-a20 text-primary">
                                        <div class="icon-sm radius">
                                           <span class="icon-cell"><img src="assets/homestyle/images/comment.svg"></span>
                                        </div>
                                         <span class="text-black p-l10"><a href="#">{{ getCategoryName(val.category,services_categ.data) }}</a></span>
                                    </div> 

                                    <div class="grid-col-content p-lr20 p-t20 p-b20">
                                        <ul class="text-black" *ngIf="!currentUser" >
                                            <li *ngFor="let valueFetch of val.dataGroupedBy | slice:0:5;"><a href="javascript:void(0)">{{valueFetch.nom_service}}</a></li>
                                        </ul>
                                        <ul class="text-black" *ngIf="currentUser" >
                                            <li *ngFor="let valueFetch of val.dataGroupedBy | slice:0:5;"><a [routerLink]="['/access/placeBid/',valueFetch._id]">{{valueFetch.nom_service}}</a></li>
                                        </ul>
                                    </div>       
                            </div> 
                                
                                <!-- </div> -->
                        </div>

                        <div class="row" *ngIf="dataProduct">

                            <div class="col-md-12 text-right m-t20 p-tb15">
                               <a [routerLink]="['/access/helpBanks']" style="padding: 20px 40px;font-size: 18px;" class="text-center site-button text-uppercase">More Services</a> 
                            </div> 
                            
                        </div>

                        <div class="row" *ngIf="!dataProduct">

                            <div class="col-md-12 text-center m-t20 p-tb15">
                               <p style="font-size: 18px">You Must be logged in to view Recents Helps Requests</p>
                            </div> 
                            
                        </div>


                    </div>
                </div>
            </div>
                      
            <!-- Shipment Solution-->
            <div class="section-full p-t40 p-20 bg-no-repeat bg-center bg-gray" style="background-color: #f4f5f5">
            
                <div class="container">
                        
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="mt-box m-b30">
                                    <h4 class="display-block m-b15 m-t0">Why Help123 ?</h4>
                                    <!-- TAB DEFAULT -->
                                <div class="section-content m-b30 section-nav-tabs">
                                    <div class="mt-tabs tabs-default">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#web-design-1">01. Mission</a></li>
                                            <li><a data-toggle="tab" href="#graphic-design-1">02. Vision</a></li>
                                            <li><a data-toggle="tab" href="#contact-us-1">03. Values</a></li>
                                        </ul>
                                        <div class="tab-content">
                                        
                                            <div id="web-design-1" class="tab-pane active">
                                                <p class="m-b10" style="color:#4184f3 ">01. Mission</p>
                                                <p class="m-b0">Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementumid enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorpersit amet ligula. Vivamus magna justo, lacinia eget consectetur sed, convallisat tellus. Vivamus magna justo, lacinia eget consectetur</p>
                                            </div>
                                            
                                            <div id="graphic-design-1" class="tab-pane">
                                                <p class="m-b10" style="color:#4184f3 ">02. Vision</p>
                                                <p class="m-b0">Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementumid enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorpersit amet ligula. Vivamus magna justo, lacinia eget consectetur sed, convallisat tellus. Vivamus magna justo, lacinia eget consectetur</p>
                                            </div>
                                            
                                            <div id="contact-us-1" class="tab-pane">
                                                <p class="m-b10" style="color:#4184f3 ">03. Values</p>
                                                <p class="m-b0">Proin eget tortor risus. Quisque velit nisi, pretium ut lacinia in, elementumid enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel,ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorpersit amet ligula. Vivamus magna justo, lacinia eget consectetur sed, convallisat tellus. Vivamus magna justo, lacinia eget consectetur</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>

                                </div>                                                               
                            </div> 
                                                         
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="mt-box m-b25 m-l40">
                                    <h4 class="display-block m-b10 m-t0">What’s great about Help123 ?</h4>
                                    <ul class="list-check-circle primary m-b20 text-capitalize">
                                        <li>You only have to pay for work when it has been completed and you're 100% satisfied. </li>
                                        <li>You'll receive free bids from our talented helpers within seconds.</li>
                                        <li>We're always here to help. Our support consists of real people who are available 24/7.</li>
                                        <li>You can communication with your helpers to get constant updates on the progress of your work.</li>
                                        <li>Keep up-to-date and on-the-go with our time tracker, and mobile app.</li>
                                        <li>Find professionals you can trust by browsing their samples of previous work and reading their profile reviews.</li>
                                    </ul>
                                    
                                </div>                               
                            </div>
                        </div>
                 
                </div>
           </div>     

                   
                                   
            
            
                        
            <!-- Testimonials -->
            <div class="section-full p-t80 p-b80 bg-center bg-full-height bg-no-repeat"  style="background-color: #24aae1">
                <div class="container">
                    <!-- TITLE START -->    
                    <div class="section-head text-center text-white">
                        <h2 data-title="">What do they say about Help123 ?</h2>
                        <div class="mt-separator-outer">
                            <div class="mt-separator bg-primary text-white"></div>
                        </div>
                    </div>
                    <!-- TITLE END -->

                    <div class="section-content">
                        <div class="owl-carousel home-carousel-1">
                            
                            <div class="item">
                                <div class="testimonial-2  clearfix bg-white">
                                
                                    <div class="testimonial-detail">
                                        <div class="testimonial-pic shadow"><img src="assets/homestyle/images/testimonials/pic6.jpg" width="100" height="100" alt=""></div>
                                    </div>
                                    
                                    <div class="testimonial-text">
                                        <strong class="testimonial-name text-uppercase">Mamadou </strong>
                                        <span class="testimonial-position">Customer</span>                                    
                                        <span class="fa fa-quote-left"></span>
                                        <p> Excellent Customer support!.The template itself is very extended. simply dummy text of the printing and industry.ullamcorper sit amet ligula. Donec sollicitudin</p>
                                    </div> 
                                                                       
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial-2  clearfix bg-white">
                                
                                    <div class="testimonial-detail">
                                        <div class="testimonial-pic shadow"><img src="assets/homestyle/images/testimonials/pic4.jpg" width="100" height="100" alt=""></div>
                                    </div>
                                    
                                    <div class="testimonial-text">
                                        <strong class="testimonial-name text-uppercase">Clara </strong>
                                        <span class="testimonial-position">Customer</span>                                    
                                        <span class="fa fa-quote-left"></span>
                                        <p> Donec velit neque, auctor sit amet aliquam vel, ullamcorpersit amet ligula. Vivamus magna justo, lacinia eget consectetur sed, convallisat tellus. Vivamus magna justo, lacinia eget</p>
                                    </div> 
                                                                       
                                </div>
                            </div>

                            <div class="item">
                                <div class="testimonial-2  clearfix bg-white">
                                
                                    <div class="testimonial-detail">
                                        <div class="testimonial-pic shadow"><img src="assets/homestyle/images/testimonials/pic5.jpg" width="100" height="100" alt=""></div>
                                    </div>
                                    
                                    <div class="testimonial-text">
                                        <strong class="testimonial-name text-uppercase">Patrick </strong>
                                        <span class="testimonial-position">Customer</span>                                    
                                        <span class="fa fa-quote-left"></span>
                                        <p> ullamcorper sit amet ligula. Donec sollicitudin molestie malesuada.Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.Vestibulum ante ipsum primis in faucibus</p>
                                    </div> 
                                                                       
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
          
     
                            
              <!-- OUR PLANS  -->
            <div class="section-full text-left mt-our-team bg-gray p-t40 p-b20">
                <div class="container">
                    
                     <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="section-content">
                                <h3>Download App</h3>
                                <div class="mt-media">
                                    <img src="assets/homestyle/images/logo-9.png" alt="">
                                </div>
                            </div>
                            <div class="section-content">
                                <h4>Download Help123 App From</h4>
                                <div class="mt-media">
                                    <img src="assets/homestyle/images/app_store_en.png" alt="" style="display: inline;"  class="m-r20 m-b20 img-fluid">
                                    <img src="assets/homestyle/images/google_play_en.png" alt="" style="display: inline;" class="m-b20 img-fluid">
                                </div>
                            </div>                          
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="section-content text-center">
                               <div class="mt-media">
                                    <img src="assets/homestyle/images/mobile1.png" alt="" width="27%" class="m-r50">
                                    <img src="assets/homestyle/images/mobile2.png" alt="" width="27%">
                                </div>
                            </div>                      
                        </div>
                  </div> 
                
                </div>
            </div>  
            
            <!-- Our Client Logo -->
            <div class="section-full bg-yellow-dark p-tb30">
                <div class="container">
                         
                  <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="section-content text-white">
                                <h3>Start Offering Helps</h3>
                                <p>Sell your services on Help123</p>
                            </div>                         
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="section-content text-right">
                               <a href="javascript:void(0);" style="padding: 20px 120px;font-size: 20px;margin-top: 15px;" class="text-center site-button text-uppercase">Apply Now</a> 
                            </div>                      
                        </div>
                  </div> 


                </div>
            
            </div> 


            <!-- Our Client Logo -->
            <div class="section-full bg-white p-tb50">
                <div class="container">
  
                    <div class="section-content">
                        <div class="owl-carousel home-client-logo owl-btn-vertical-center">
                        
                            <!-- Block 1 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 2 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo2.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 3 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo3.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 4 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo4.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 5 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo5.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 6 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo6.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 7 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo1.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 8 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo2.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 9 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo3.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 10 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo4.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 11 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo5.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Block 12 --> 
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo mt-img-effect on-color">
                                        <a href="#"><img src="assets/homestyle/images/client-logo/logo6.png" alt=""></a>
                                    </div>
                                </div>
                            </div>                        
                        
                        </div>
                    </div>

                </div>
            
            </div> 