<!-- Start: Slides  --> 
<!-- debut -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-slide-to="0" class="active"></li>
    <li data-slide-to="1"></li>
    <li data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="assets/homestyle/images/main-slider/slide01.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/homestyle/images/main-slider/slide02.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="assets/homestyle/images/main-slider/slide03.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div>
<!-- End:  Slider  -->

<!-- categories sections -->
<div class="section-full bg-change-section overlay-wraper">
    <app-category-services [services_categ]="services_category" [title]="'What Help do You Need ?'"></app-category-services>
</div>
<div class="container" style="margin-top: 30px">
    <app-button text="ALL CATEGORIES" (onClick)="goToServices()" bgcol="green" col="white"></app-button>
</div>

<div class="section-full bg-change-section overlay-wraper" style="margin-top: 150px">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/homestyle/images/testimonials/pic6.jpg" width="200" height="200" alt="" style="border-radius: 50%">
            </div>
            <div class="col-md-7">
                <div class="section  text-black" style=" color: green">
                    <h1 >What do they say about Help123 ?</h1>
                </div>
                <div class="section  text-black" style=" margin-top: 20px; margin-bottom: 20px">
                    <p>“Thank you Help 123” </p>
                    <p>
                        I got a burst pipe at my house on a Saturday afternoon, randomly searched for a plumber on Help 123 website, within minutes two plumbers came out and did the repair. Service was professional and the plumbers courteous.
                    </p>
                </div>
                <div class="section  text-black" style=" margin-top: 50px">
                    <app-button text="READ MORE ABOUT HELPONE23" (onClick)="goToServices()" bgcol="green" col="white"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why Choose -->
<!-- <div class="section-full bg-change-section overlay-wraper p-t80 p-b50">                
    <div class="container">
        <div class="section-head text-center text-black" style="margin-top: 40px">
            <h2 data-title="" class="titleStart">What Help do You Need ?<span class="titleStart"></span></h2>
            <div class="mt-separator-outer">
                <div class="mt-separator bg-primary"></div>
            </div>                        
        </div>
        <div class="section-content bg-white" style="padding-top: 50px;">
            <div class="row" *ngIf="dataArray && services_categ">
                <div class="col-md-3 col-sm-6" *ngFor="let val of dataArray| slice:0:8; let rank = index" style="border-radius: 10px; padding-bottom: 20px;">                                
                    <div class="card-group"> 
                        <div class="card" style="display: table-cell; border-radius: 25px; margin-bottom: 20px; height: 400px; overflow: hidden;">
                            <div class="icon-sm radius" *ngIf="getCategoryLogo(val.category,services_categ.data)!=''">
                                    <a (click)="categorie(val, rank+1)"><span class="icon-cell" class="aa"><img [src]="getCategoryLogo(val.category,services_categ.data) | safe: 'resourceUrl'" class="aa"></span></a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a (click)="categorie(val, rank+1)">{{ getCategoryName(val.category,services_categ.data) }}</a></h5>
                                <ul class="text-black" *ngIf="!currentUser" >
                                    <li *ngFor="let valueFetch of val.dataGroupedBy | slice:0:11; let rang = index" (click)="saveSousCategorie(val, valueFetch.souscategoryName, rank+1, rang)"  style="margin-bottom: 15px;"><i class="right"> </i><a href="javascript:void(0)" style="color: rgb(68, 63, 63);"> {{valueFetch.souscategoryName}}</a></li>
                                </ul>
                                <ul class="text-black" *ngIf="currentUser" >
                                    <li *ngFor="let valueFetch of val.dataGroupedBy | slice:0:11; let rang = index" (click)="saveSousCategorie(val, valueFetch.souscategoryName, rank+1, rang)"  style="margin-bottom: 15px;"><i class="right"> </i><a href="javascript:void(0)" style="color: black;"> {{valueFetch.souscategoryName}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
            
<!-- Shipment Solution-->
<!-- <div class="section-full p-t40 p-20 bg-no-repeat bg-center bg-gray" style="background: #eeffee;">                <div class="container">
        <div style="text-align: center; margin-bottom: 50px; margin-top: 40px;">
            <h3 data-title="" class="titleStart" style="padding-top: 40px;"><b> What's great about Help123 ? </b><span class="titleStart"></span></h3>
        </div>                        
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="mt-box m-b30" style="font-size: 12px;">
                    <div class="card bg-primary text-white mb-2">
                        <div class="row card-body" style="display: flex;">
                            <div class="col-md-1" style="margin-top: auto; margin-bottom: auto;">
                                <i class="cir"><i class="right"></i></i>
                            </div>
                            <div class="col-md-11 ">
                                <p class="card-text"><b>  You only have to pay for work when it has been completed and you're 100% satisfied. </b></p>
                            </div>                                                  
                        </div>
                    </div>
                    <div class="card mb-2"><a href="#">
                        <div class="row card-body" style="display: flex;">
                            <div class="col-md-1" style="margin-top: auto; margin-bottom: auto;">
                                <i class="cir"><i class="right"></i></i>
                            </div>
                            <div class="col-md-11 ">
                                <p class="card-text"><b> You'll receive free bids from our talented helpers within seconds.</b>"</p>
                            </div>
                        </div></a>
                    </div>
                    <div class="card mb-2">
                        <div class="row card-body" style="display: flex;">
                            <div class="col-md-1" style="margin-top: auto; margin-bottom: auto;">
                                <i class="cir"><i class="right"></i></i>
                            </div>
                            <div class="col-md-11 ">
                                <p class="card-text"><b> We're always here to help. Our support consists of real people who are available 24/7.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="row card-body" style="display: flex;">
                            <div class="col-md-1" style="margin-top: auto; margin-bottom: auto;">
                                <i class="cir"><i class="right"></i></i>
                            </div>
                            <div class="col-md-11 ">
                                <p class="card-text"><b> You can communication with your helpers to get constant updates on the progress of your work.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="row card-body" style="display: flex;">
                            <div class="col-md-1" style="margin-top: auto; margin-bottom: auto;">
                                <i class="cir"><i class="right"></i></i>
                            </div>
                            <div class="col-md-11 ">
                                <p class="card-text"><b> Keep up-to-date and on-the-go with our time tracker, and mobile app.</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="row card-body" style="display: flex;">
                            <div class="col-md-1" style="margin-top: auto; margin-bottom: auto;">
                                <i class="cir"><i class="right"></i></i>
                            </div>
                            <div class="col-md-11 ">
                                <p class="card-text"><b> Find professionals you can trust by browsing their samples of previous work and reading their profile reviews.</b></p>
                            </div>
                        </div>
                    </div>
                </div>                                                               
            </div>                                                          
            <div class="col-lg-6 col-md-12 col-sm-12" >                                
                <img src="assets/homestyle/images/testimonials/whatGreat.PNG" alt="" style="bottom: 10px;">                                                            
            </div>
        </div>                 
    </div>
</div>-->
            
<!-- Testimonials -->
<!-- <div style="background-image: url('assets/homestyle/images/testimonials/1.PNG');">
    <div class="section-full p-t80 p-b80 bg-center bg-full-height bg-no-repeat"  style="background-color: rgba(0, 174, 255, 0.5);">
    
        <div class="section-head text-center text-white " style="padding-top: 50px; margin-bottom: 80px;">
            <h2 data-title="" class="titleStarts"> What do they say about Help123 ? <span class="titleStarts"></span></h2>
            
        </div>

        <div class="section-content">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators" style="bottom: 0em;">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="margin-bottom: 80px;">
                            <div class="row">
                                <div class="testimonial-detail" class="offset-md-2 col-md-1">
                                    <div class="testimonial-pic shadow roundedImage" style="border: 8px solid white;"><img src="assets/homestyle/images/testimonials/pic6.jpg" width="100" height="100" alt=""></div>
                                </div>
                            
                                <div class="testimonial-text" class="col-md-6" style="color: white;">
                                    
                                    <strong class="testimonial-name text-uppercase"><span class="fa fa-quote-left" style="font-size: 40px;"></span> Mamadou.  Customer </strong>
                                    
                                    <p>“Thank you Help 123” </p>
                                    <p>
                                        I got a burst pipe at my house on a Saturday afternoon, randomly searched for a plumber on Help 123 website, within minutes two plumbers came out and did the repair. Service was professional and the plumbers courteous.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="margin-bottom: 80px;">
                            <div class="row">
                                <div class="testimonial-detail" class="offset-md-2 col-md-1">
                                    <div class="testimonial-pic shadow roundedImage" style="border: 8px solid white;"><img src="assets/homestyle/images/testimonials/pic4.jpg" width="100" height="100" alt=""></div>
                                </div>
                            
                                <div class="testimonial-text" class="col-md-6" style="color: white;">
                                    
                                    <strong class="testimonial-name text-uppercase"><span class="fa fa-quote-left" style="font-size: 40px;"></span> Clara. Customer </strong>
                                    
                                    <p> “Great platform”</p>
                                    <p>
                                        Found electricians through “Help 123”. They were amazingly professional. Did a fabulous job. In future, I will get all my handymen through Help 123
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="margin-bottom: 80px;">
                            <div class="row">
                                <div class="testimonial-detail" class="offset-md-2 col-md-1">
                                    <div class="testimonial-pic shadow roundedImage" style="border: 8px solid white;"><img src="assets/homestyle/images/testimonials/pic5.jpg" width="100" height="100" alt=""></div>
                                </div>
                            
                                <div class="testimonial-text" class="col-md-6" style="color: white;">
                                    
                                    <strong class="testimonial-name text-uppercase"><span class="fa fa-quote-left" style="font-size: 40px;"></span> Patrick. Customer </strong>
                                    
                                    <p> “Pest control masters”</p>
                                    <p>
                                        Help 123 is your answer to pest control professionals. I was reluctant at first to use Help 123 website to find a pest control company. I couldn’t have been more wrong. No more pests at my home. Happy 😃 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>                        
                </div>
        </div>        
    </div>
</div> -->


                
    <!-- OUR PLANS  -->
<!-- <div class="section-full text-left mt-our-team  p-t40 p-b20" style="padding-top: 80px; padding-bottom: 80px;">
    <div class="container">        
        <div class="row">
            <div class="col-md-6 col-sm-6">                    
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img src="assets/homestyle/images/testimonials/phone1.PNG" alt="">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <img src="assets/homestyle/images/testimonials/phone2.PNG" alt="">
                    </div>
                </div>
                                        
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h4>Download From Store</h4>
                        <p>
                            You can download the mobile application from App Store or Play Store
                        </p><br>
                        <h4 class="text-success">Download Help123 App From</h4><br>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                            <img src="assets/homestyle/images/app_store_en.png" alt="" style="display: inline;"  class="m-r20 m-b20 img-fluid">
                    </div>
                    <div class="col-md-6 col-sm-6">
                            <img src="assets/homestyle/images/google_play_en.png" alt="" style="display: inline;" class="m-b20 img-fluid">
                    </div>
                </div>                      
            </div>
        </div>    
    </div>
</div>   -->

<!-- Shipment Solution-->
<!-- <div class="section-full p-t40 p-20 bg-no-repeat bg-center bg-gray" style="background-color: #e6ffff; padding-top: 50px; padding-bottom: 50px;">

        <div class="container">

            <div style="text-align: center; margin-bottom: 90px;">
                <h2 data-title="" class="titleStart"> WHY HELP123 ? <span class="titleStart"></span></h2>
            </div>
                
                
            <div class="row">                            
                <div class="col-md-4">
                        <img src="assets/homestyle/images/testimonials/why1.PNG" alt="erkih" style="display: inline; border-radius: 35px;" class="m-b20 img-fluid">
                </div>
                <div class="col-md-4">
                        <img src="assets/homestyle/images/testimonials/why2.PNG" alt="erkih" style="display: inline; border-radius: 35px;" class="m-b20 img-fluid">
                </div>
                <div class="col-md-4">
                        <img src="assets/homestyle/images/testimonials/why3.PNG" alt="erkih" style="display: inline; border-radius: 35px;" class="m-b20 img-fluid">
                </div>
            </div>
            
        </div>
    </div>  -->


<!-- Our Client Logo -->
<div style="background-image: url('assets/homestyle/images/testimonials/1.PNG'); margin-top: 40px" >
<div class="section-full p-tb30" style="background-color: rgba(0, 174, 255, 0.5);">
    <div class="container" style=" padding-top: 60px; padding-bottom: 60px;">
                
        <div class="row" style="display: flex;">
            <div class="col-md-6 col-sm-6" style=" margin: auto; ">
                <div class="section-content text-white  text-right"style="font-size: 20px;">
                    <b >Start Offering Helps</b> <br> Sell your services on Help123
                </div>                         
            </div>
            <div class="col-md-6 col-sm-6" style="background: none; margin: auto; ">
                <div class="section-content">
                    <app-button text="{{textButton}}" (onClick)="goToApply()" bgcol="none" col="white"></app-button>
                </div>                      
            </div>
        </div> 
    </div>
</div> </div>


<!-- Our Client Logo -->
<div class="section-full bg-black p-tb50">
    <div class="container">

        <div class="section-content">
            <div class="owl-carousel home-client-logo owl-btn-vertical-center">
            
                <!-- Block 1 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo1.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 2 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo2.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 3 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo3.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 4 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo4.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 5 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 6 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo6.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 7 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo1.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 8 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo2.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 9 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo3.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 10 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo4.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 11 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo5.png" alt=""></a>
                        </div>
                    </div>
                </div>
                <!-- Block 12 --> 
                <div class="item">
                    <div class="ow-client-logo">
                        <div class="client-logo mt-img-effect on-color">
                            <a href="#"><img src="assets/homestyle/images/client-logo/logo6.png" alt=""></a>
                        </div>
                    </div>
                </div>                        
            
            </div>
        </div>

    </div>

</div> 