// shared css for the login and signup page
.titleStart:before{
    content:'';
    width:3em;
    border-bottom:green solid;
    display:inline-block;
    vertical-align:middle;
}
//  li:before{
//      content: "> ";
//  }
 li{
     list-style: none;
 }

 .titleStarts:before{
    content:'';
    width:3em;
    border-bottom:white solid;
    display:inline-block;
    vertical-align:middle;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
.aa{
    display: block;
    width: 140px;
    height: 140px;
    margin-left: 15%;
}

.right {
    border: solid blue;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 5px;
  }

  a{
      text-decoration: none;
  }

  .cir{
    // background: red; 
    height: 20px;
    widows: 20px;
    padding: 8px;
    border-radius: 50%;
    border: 2px blue solid;
    margin: 10px;
  }