<!-- categories sections -->
<div class="section-full bg-change-section overlay-wraper">
    <app-category-services [services_categ]="services_category" (clickOnThis)="loadName($event)" [title]="'BROWSE ALL SERVICES'"></app-category-services>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary bout" id="myCheck" (click)="nothing()" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
</button>
<!-- Modal -->
<app-modal [subcats_data]="subcats_data" (goToAsk)="goToAsk($event)"></app-modal>