<section>
    <div class="row" style="height: 80px; background-color: greenyellow;">
        <div class="container" style="margin-top: auto; margin-bottom: auto;">
            <span style="display: flex;"><h2 style="margin-top: auto; margin-bottom: auto;">{{categorie}}</h2></span>
            <span style="display: flex;"><h6 style="margin-top: auto; margin-bottom: auto;">{{laSousCategorie}}</h6></span>
            <!-- <p>{{valueFetch.souscategoryName}}</p> -->
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">                
                <div class="col-lg-12 barre" style="text-align: center;">
                <div class="container">
                    <ul class="progressbar" *ngIf="etape==1">
                        <li class="active">Your service</li>
                        <li>Date & Time</li>
                        <li>Price & Address</li>
                        <li>Finnish</li>
                    </ul>
                    <ul class="progressbar" *ngIf="etape==2">
                    <li class="active">Your service</li>
                    <li class="active">Date & Time</li>
                    <li>Price & Address</li>
                    <li>Finnish</li>
                    </ul>
                    <ul class="progressbar" *ngIf="etape==3">
                    <li class="active">Your service</li>
                    <li class="active">Date & Time</li>
                    <li class="active">Price & Address</li>
                    <li>Finnish</li>
                    </ul>
                    <ul class="progressbar" *ngIf="etape==4">
                    <li class="active">Your service</li>
                    <li class="active">Date & Time</li>
                    <li class="active">Price & Address</li>
                    <li class="active">Finnish</li>
                    </ul>
                </div>
                </div>
                <div class="col-lg-12" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <b><h5>About your service</h5></b>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form [formGroup]="askForm" (ngSubmit)="onSubmi()">
                                                    
                                        <div class="row dash-col-title m-b30" *ngIf="etape==1">
                                            <div class="col-sm-12 m-b10" style="margin-bottom: 10px; margin-top: 10px;">
                                            <p style="margin-bottom: 0px !important">Attach images</p>
                                            <span class="ask-subtext">You can add up to 6 images to illustrate the issue you need Help with.</span>
                                            </div>            
                                            <div class="col-sm-12">
                                                
                                                <div>
                                                    <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" style="max-width: 200px">
                                                </div>
            
                                                <div class="upload-btn-wrapper">
                                                <button class="btn-wrapper">+</button>
                                                <input type="file" accept="image/*" class="form-control" multiple (change)="detectFiles($event)" style="height: auto" />
                                                </div>  
            
                                                <p *ngIf="textUplaod" style="color: red;font-weight: 800"> You can only upload a maximum of 6 files</p>
            
                                            <p *ngIf="textNoUplaod" style="color: red;font-weight: 800"> You must upload at least one file </p>
            
                                            </div>    
            
                                    </div>
            
                                        <div class="row dash-col-title m-b30" *ngIf="etape==1" style="margin-top: 20px;">
                                            <div class="col-sm-12 m-b10" style="margin-top: 10px;">
                                            <p style="margin-bottom: 0px !important">Description</p>
                                            <span class="ask-subtext">Can you explain the help you need in more details so the helper can better access what should be done.</span>
                                            </div> 
            
                                            <div class="col-sm-12">
                                            <textarea class="form-control"  formControlName="description" [ngClass]="{ 'ask-is-invalid': submitted && f.description.errors }"  rows="5" style="height: 160px;border: 3px solid #595656;"></textarea>
            
                                            <p *ngIf="submitted && f.description.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a description for this service</p>
            
                                            </div>    
            
                                        </div>
            
                                        <div *ngIf="etape==2" class="row dash-col-title m-b30" style="margin-top: 20px;">
                                            <div class="col-sm-12 m-b10">
                                            <p style="margin-bottom: 0px !important">Preferred date and time</p>
                                            <span class="ask-subtext">Indicate 3 preferred date when you will be able to receive an helper to assist</span>
                                            </div> 
            
                                            <div class="row" style="margin: 0;">
            
                                                <div class="col-sm-12 m-b5">
                                                    <p style="margin-bottom: 0px !important">Preferred date/time 01</p>
                                                </div> 
                                            
                                            <div class="col-sm-4">                                   
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" [owlDateTimeTrigger]="d1"><img src="assets/homestyle/images/dash/cal.png" class="img-fluid"></span>
                                                    </div>
                                                    <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="d1" [owlDateTime]="d1" min="{{minDate}}" formControlName="date1" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.date1.errors  || dateBorder}">
                                                    <owl-date-time [pickerType]="'calendar'" dateFormat="YYYY-MM-DD" #d1></owl-date-time>
                                                    </div>
            
                                                </div> 
            
                                                <div class="col-sm-4">                                   
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="trigger input-group-text" [owlDateTimeTrigger]="t1"><img src="assets/homestyle/images/dash/clock.png" class="img-fluid"></span>
                                                    </div>
                                                    <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="t1" [owlDateTime]="t1" formControlName="time1" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.time1.errors }">
                                                    <owl-date-time [pickerType]="'timer'" #t1></owl-date-time> 
                                                    </div>
                                                </div> 
                                                                                    
                                                <div class="col-sm-12">                                   
                                                    <hr style="margin-top: 10px;width: 70%;margin-left: 0px;border: 0;border-bottom: 3px solid #efefef;">
                                                </div> 
            
                                            </div>
            
                                            <div class="row" style="margin: 0;">
            
                                                <div class="col-sm-12 m-b5">
                                                    <p style="margin-bottom: 0px !important">Preferred date/time 02</p>
                                                </div> 
                                            
                                            <div class="col-sm-4">                                   
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class=" input-group-text" [owlDateTimeTrigger]="d2"><img src="assets/homestyle/images/dash/cal.png" class="img-fluid"></span>
                                                    </div>
                                                    <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="d2" [owlDateTime]="d2" min="{{minDate}}" formControlName="date2" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.date2.errors  || dateBorder }">
                                                    <owl-date-time [pickerType]="'calendar'" #d2></owl-date-time>
                                                    </div>
                                                </div> 
            
                                                <div class="col-sm-4">                                   
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="trigger input-group-text" [owlDateTimeTrigger]="t2"><img src="assets/homestyle/images/dash/clock.png" class="img-fluid"></span>
                                                    </div>
                                                    <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="t2" [owlDateTime]="t2" formControlName="time2" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.time2.errors}">
                                                    <owl-date-time [pickerType]="'timer'" #t2></owl-date-time>
                                                    </div>
                                                </div> 
            
                                                <div class="col-sm-12">                                   
                                                    <hr style="margin-top: 10px;width: 70%;margin-left: 0px;border: 0;border-bottom: 3px solid #efefef;">
                                                </div> 
            
                                            </div>
            
                                            <div class="row" style="margin: 0;">
            
                                                <div class="col-sm-12 m-b5">
                                                    <p style="margin-bottom: 0px !important">Preferred date/time 03</p>
                                                </div> 
                                            
                                            <div class="col-sm-4">                                   
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"  [owlDateTimeTrigger]="d3"><img src="assets/homestyle/images/dash/cal.png" class="img-fluid"></span>
                                                    </div>
                                                    <input readonly="readonly" class="trigger" [owlDateTime]="d3"  min="{{minDate}}" [owlDateTimeTrigger]="d3" formControlName="date3" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.date3.errors   || dateBorder}">
                                                    <owl-date-time [pickerType]="'calendar'" #d3></owl-date-time>
                                                    </div>
                                                </div> 
            
                                                <div class="col-sm-4">                                   
                                                    <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="trigger input-group-text" [owlDateTimeTrigger]="t3"><img src="assets/homestyle/images/dash/clock.png" class="img-fluid"></span>
                                                    </div>
                                                    <input readonly="readonly" class="trigger" [owlDateTimeTrigger]="t3" [owlDateTime]="t3" formControlName="time3" class="form-control ask-date-select"  aria-label="Search" [ngClass]="{ 'ask-is-invalid': submitted && f.time3.errors }">
                                                    <owl-date-time [pickerType]="'timer'" #t3></owl-date-time>
                                                    </div>
                                                </div> 
                                                <p *ngIf="dateBorder"  class="m-tb10" style="color: red;font-weight: 800">The date entered cannot be less than the current date</p>
            
                                                <div class="col-sm-12">                                   
                                                    <hr style="margin-top: 10px;width: 70%;margin-left: 0px;border: 0;border-bottom: 3px solid #efefef;">
                                                </div> 
            
                                            </div>                                              
            
                                        </div>
                                        





                                        <div *ngIf="etape==3" class="row dash-col-title m-b30" style="margin-top: 20px;">
                                        <form [formGroup]="askForm2" (ngSubmit)="onSubmit2()">
                                        <div class="row">
            
                                                <div class="col-sm-12 m-b25">
                                                    <p style="margin-bottom: 0px !important">How much are you willing to pay ?</p>
                                                    <span class="ask-subtext">Indicate a min and max amount you think it should be a good price for the help ask.</span>
                                                </div> 
            
                                                <div class="col-sm-12">
                                                    <input type="hidden" readonly="readonly" formControlName="IdUser" class="form-control ask-form-adress">
                                                </div>
                                                
                                                <div class="col-sm-4">    
            
                                                    <p style="margin-bottom: 0px !important">Min Price</p>
            
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text searchgrouptext"><i class="fa fa-money"></i></span>
                                                        </div>
                                                        <input type="text" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers formControlName="min_price" [ngClass]="{ 'ask-is-invalid': submitted && f2.min_price.errors || priceBorder }" class="form-control ask-date-select" placeholder="No Min" aria-label="Search">
                                                    </div>
                                                    <p *ngIf="submitted && f2.min_price.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a minimum price</p>
                                                </div> 
            
                                                <div class="col-sm-4">  
            
                                                    <p style="margin-bottom: 0px !important">Max Price</p>                               
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                        <span class="input-group-text searchgrouptext"><i class="fa fa-money"></i></span>
                                                        </div>
                                                        <input type="text" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers formControlName="max_price" [ngClass]="{ 'ask-is-invalid': submitted && f2.max_price.errors || priceBorder }" class="form-control ask-date-select" placeholder="No Max" aria-label="Search">
                                                    </div>
                                                    <p *ngIf="submitted && f2.max_price.errors"  style="color: red;font-weight: 800" class="m-tb10">You must enter a maximum price</p>
                                                </div> 
            
                                                <p *ngIf="priceBorder"  class="m-tb10" style="color: red;font-weight: 800">The minimum Price cannot be greater than or equal to maximum Price</p>  
            
                                            </div>
            
                                        <div class="row dash-col-title m-t80">
                                            <div class="col-sm-12 m-b10">
                                            <p style="margin-bottom: 0px !important">Address</p>
                                            <span class="ask-subtext">Indicate where you want the help to be deliver and where you would like to be bill.</span>
                                            </div> 
                                        </div>
            
                                        <div class="row dash-col-title m-t20">
                                            <div class="col-sm-12 m-b10">
                                                    <p style="margin-bottom: 0px !important">
                                                        <alert></alert>
                                                    </p>
                                            </div> 
                                        </div>
            
                                        <!--
                                        * Show this view if "show_delete_content" is true.
            
                                        * Pass "address_id" property value of AppComponent
                                        to [product_id] property of UpdateProductComponent.
            
                                        * If (show_address_list_event) was emitted in DeleteAdressComponent,
                                        trigger showListAddress() method in AskHelpStep2Component.
                                        -->
                                        <app-delete-adress 
                                            *ngIf="show_delete_content"
                                            [addressTitle]="adress_title_value" [address]="adress_value"           
                                            [ZipCode]="zip_code_value" [adress_id]="IdAddress"
                                            (show_address_list_event)="showListAddress($event)">
                                        </app-delete-adress>
            
                                        <div class="special" *ngIf="show_address_list">
            
                                        <p *ngIf="checkField" style="color: red;font-weight: 800"> You must select a Deliver and Bill Adresses to continue </p>
            
                                        <div class="row dash-col-title m-t20"  *ngFor="let p of AdressData?.data;let rank=index">
                                        
                                        <div style="display: contents;" *ngIf="ShowContentAddress[rank]">
            
                                            <div class="col-sm-12">
                                                <span>{{p.address_title}}</span>
                                            </div>
            
                                            <div class="col-sm-12">
                                                <span class="ask-adress-text">{{p.city}}</span>
                                            </div>
            
                                            <div class="col-sm-6">
                                                <span class="ask-adress-text">{{p.address}} - {{p.zip_code_postal}}</span>
                                            </div>
            
                                            <div class="col-sm-6">
                                                <span class="ask-adress-text float-sm-left float-md-right">
                                                Deliver help to this address
                                                <input id="D{{rank}}" [disabled]="checkIfDeliversAreSelected[rank]" (change)="checkSelected($event,rank,AdressData?.data.length,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email)" value="{{ p._id }}" name="{{p.address_title}}" class="checkbox-custom" type="checkbox">
                                                <label for="D{{rank}}" class="checkbox-custom-label label-hover" style="display: inline;font-weight: 400"></label>
                                                </span>
                                            </div>
            
                                            <div class="col-sm-6">
                                                <span class="ask-adress-text">Tel: + {{p.telephone}}</span>
                                            </div>
            
                                            <div class="col-sm-6">
                                                <span class=" ask-adress-text float-sm-left float-md-right">
                                                Bill to this address
                                                <input id="B{{rank}}" class="checkbox-custom"  [disabled]="checkIfBillsAreSelected[rank]" (change)="checkBillSelected($event,rank,AdressData?.data.length,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email)"  value="{{ p._id }}" name="{{p.address_title}}" type="checkbox">
                                                <label for="B{{rank}}" class="checkbox-custom-label label-hover" style="display: inline;font-weight: 400"></label>
                                                </span>
                                            </div>
            
                                            <div class="col-sm-12">
                                                <span class="ask-adress-text">E: {{p.email}}</span>
                                            </div>
            
                                            <div class="col-sm-12 m-t20">
                                                <a href="javascript:void(0)" (click)="editAddress(p._id,p.address,p.telephone,p.address_title,p.zip_code_postal,p.city,p.email,rank)" >Edit</a> |
                                                <a href="javascript:void(0)" (click)="deleteAddress(p._id,p.address,p.address_title,p.zip_code_postal)">Delete</a>
                                            </div>
            
                                            <div class="col-sm-12">
                                                <hr style="margin-top: 5px">
                                            </div>
            
                                            </div> <!-- end of content row-->
            
                                            <form [formGroup]="saveAdressSecForm" #myForm2="ngForm">  
                                            <div class="row dash-col-title m-t20" *ngIf="ShowUpdateForm[rank]">
                                        
            
                                            <div class="col-sm-12">
                                                <input type="hidden" readonly="readonly" formControlName="user_id" class="form-control ask-form-adress">
                                            </div>
            
                                            <div class="col-sm-12">
                                                <input type="hidden" readonly="readonly"  formControlName="_id" class="form-control ask-form-adress">
                                            </div>
            
                                            <div class="col-sm-12">
                                                <input type="text" formControlName="address_title" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.address_title.errors }" class="form-control ask-form-adress" placeholder="Address Title">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="address" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.address.errors }" class="form-control ask-form-adress" placeholder="Address">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="city" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.city.errors }" class="form-control ask-form-adress" placeholder="City">
                                            </div>
            
                                            <div class="col-sm-12">
                                                <input type="text" formControlName="zip_code_postal" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.zip_code_postal.errors }" class="form-control ask-form-adress" placeholder="Zip/Postal Code">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="telephone" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.telephone.errors }" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers  class="form-control ask-form-adress" placeholder="Tel">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submittedSecForm && h.email.errors }" class="form-control ask-form-adress" placeholder="Email">
                                            </div>
            
                                            <div class="col-sm-12 m-t20">
                                                <a  href="javascript:void(0)"  (click)="SubmitUpdate(rank)">Update new address</a>
                                                | 
                                                <a  href="javascript:void(0)"  (click)="cancelUpdate(rank)">Cancel</a>
                                            </div>
            
                                            <div class="col-sm-12">
                                                <hr style="margin-top: 5px;">
                                            </div>
            
                                        
                                        </div>
                                        </form> 
            
                                        </div>  <!-- end of row -->
            
                                        </div> <!-- end of div class special -->
            
            
            
                                        <form [formGroup]="saveAdressFirstForm" #myForm="ngForm"> 
                                            <div class="row dash-col-title m-t20">           
            
                                            <div class="col-sm-12">
                                                <input type="hidden" readonly="readonly" formControlName="user_id" class="form-control ask-form-adress" >
                                            </div>
            
                                            <div class="col-sm-12">
                                                <input type="text" formControlName="address_title" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.address_title.errors }" class="form-control ask-form-adress" placeholder="Address Title">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="address" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.address.errors }" class="form-control ask-form-adress" placeholder="Address">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="city" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.city.errors }" class="form-control ask-form-adress" placeholder="City">
                                            </div>
            
                                            <div class="col-sm-12">
                                                <input type="text" formControlName="zip_code_postal" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.zip_code_postal.errors }" class="form-control ask-form-adress" placeholder="Zip/Postal Code">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="telephone" knifeNoSpaces knifeNoCopyPaste knifeOnlyNumbers [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.telephone.errors }"  class="form-control ask-form-adress" placeholder="Tel">
                                            </div>
            
                                            <div class="col-sm-6">
                                                <input type="text" formControlName="email" [ngClass]="{ 'ask-is-invalid': submittedFirstForm && g.email.errors }" class="form-control ask-form-adress" placeholder="Email">
                                            </div>
            
                                            <div class="col-sm-12 m-t20">
                                                <a  href="javascript:void(0)"  (click)="SubmitForm()">Save new address</a>
                                            </div>
            
                                            <div class="col-sm-12">
                                                <hr style="margin-top: 5px;">
                                            </div>
            
                                        </div> 
                                    </form>  
            
                                        
                                        <div class="row m-t10">
                                            <div class="col-md-12 text-center">
                                                <input type="submit"  class="ask-button-blue-layout m-t10 m-r10 ligne"  value="Finish"> 
                                                <!-- <input type="button"  class="ask-button-gray-layout m-t10 m-r10"  value="Previous" (click)="onPrevious()">  -->
                                            </div>
                                        </div> 
                                        </form>
                                        </div>

                                        <div *ngIf="etape==4" class="row dash-col-title m-b30" style="margin-top: 50px;">
                                        <h3 style="text-align: center;">Thank you, Your request has been successfully sent.</h3>
                                        <p>You can check Binder in your your list help requests </p>
                                        <p><b><a [routerLink]="['/home']">click here</a></b> to go back to home page.</p> 
                                        </div>



                                        


            
                                        <div class="row m-t10" style="margin-top: 5px;">
                                            <button *ngIf="etape<3 && etape!=2" class="text-center ligne" mat-raised-button color="primary" (click)="etapeSuiv()" style="margin: auto;"> Next </button> 
                                            <button *ngIf="etape==2" class="text-center ligne" mat-raised-button color="primary" (click)="onSubmit()" style="margin: auto;"> Next </button>                                       
                                            <button *ngIf="etape>1 && etape<4" class="text-center ligne" mat-raised-button color="warn" (click)="etapePrev()" style="margin: auto;"> Previous </button> 
                                        </div>             
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</section>