// /* You can add global styles to this file, and also import other style files */




a{
    text-decoration: none;
    color: red !important;
}
 li{
    margin-right: 15px;
 }
 .active{
    //  text-decoration: underline;
    border-bottom: 2px solid red
 }
 button{
     display: inline;
 }
 .form-inline li{
     list-style: none;
     display: inline;
 }
//  #ground1, #ground2, #ground3, #ground4{
//   margin-top: auto;
//   margin-bottom: auto;
//   margin-right: 10px;
//   margin-left: 10px;
//   color: white;

//  }
//  #ground3, #ground4, #ground5, #ground6{
//     background: rgb(255, 102, 0);
//     margin-top: auto;
//     margin-bottom: auto;
//     margin-right: 10px;
//     margin-left: 10px;
//  }
// //  #ground1{
// //    border-right: 1px solid white;
// //    line-height: 50px;
// //  }
//  .btn {
//     background-color: #2196F3;
//     color: white;
    
//     font-size: 12px;
//     border: none;
//     outline: none;
//   }
  
//   .dropdown {
//     position: absolute;
//     display: inline-block;
//   }
  
//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f1f1f1;
//     min-width: 160px;
//     z-index: 1;
//   }
  
//   .dropdown-content a {
//     color: black;
//     text-decoration: none;
//     display: block;
//   }
  
//   .dropdown-content a:hover {background-color: #ddd}
  
//   .dropdown:hover .dropdown-content {
//     display: block;
//   }
  
//   .btn:hover, .dropdown:hover .btn {
//     background-color: #0b7dda;
//   }

//   .fa{
//     font-size: 13px;
//   }