<nav class="navbar navbar-expand-lg navbar-dark" style="padding-top: 20px; padding-bottom: 20px; background: white">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="assets/homestyle/images/dash/help123logo.png" class="img-fluid d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" style="color: black;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-reorder"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
    <ul class="navbar-nav" style=" margin-left: auto; margin-right: auto;">
        <li class="nav-item">
        <a class="nav-link" href="javascript:void(0);" [routerLink]="['/home']" [routerLinkActive]="['active']">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/category-list']" [routerLinkActive]="['active']">CATEGORIES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/access/helpBanks']" [routerLinkActive]="['active']">SERVICIES</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  [routerLink]="['/UsefulLinks/AboutUs']" [routerLinkActive]="['active']">FAQ</a>
        </li>
    </ul>
    
    <form class="form-inline">
        <div class="dropdown" *ngIf="currentUser">
            <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img [src]="currentUser.user.picture" class="img-fluid" alt="" style="height: 50px; width: 50px; border-radius: 50%">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngIf="currentUser" href="javascript:void(0)" >{{currentUser.user.username}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/access/profile']" [fragment]="'userprofile'">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" (click)="askHelp()">Get Help</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/access/profile']" [fragment]="'deposit'">Recharge Account</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/access/myHelps']">My Helps Requests</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/access/completedHelps']">Completed Helps</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0)" (click)="openAddFileDialog()">Log Out</a>                
            </div>
        </div>
        <button *ngIf="currentUser" type="button" class="btn btn-menu-link"><img src="assets/homestyle/images/dash/sms.png" class="img-fluid" alt="" [routerLink]="['/access/inbox']"></button>
        <button *ngIf="currentUser" type="button" class="btn btn-menu-link"><img src="assets/homestyle/images/dash/notification.png" [routerLink]="['/access/notifications']" class="img-fluid" alt=""></button>
        <button *ngIf="!currentUser" [routerLink]="['/logon']" type="button" class="btn btn-menu-link"><img src="assets/homestyle/images/dash/avant.png" alt="" > Login</button><span *ngIf="!currentUser">|</span>
        <button *ngIf="!currentUser" [routerLink]="['/register']" type="button" class="btn btn-menu-link"><img src="assets/homestyle/images/dash/cle.png" alt="" >Register</button>
        <!-- <ul>
            <li *ngIf="!currentUser" [routerLinkActive]="['active']">
                <a [routerLink]="['/logon']"> <img src="assets/homestyle/images/dash/avant.png" alt="" >  LOG IN</a>
            </li>

            <li *ngIf="!currentUser" [routerLinkActive]="['active']">
            |    <a [routerLink]="['/register']"><img src="assets/homestyle/images/dash/cle.png" alt="" > SIGN UP</a>
            </li>
        </ul> -->
    </form>
    </div>
</nav>