<div [@routerTransition]>
    <app-page-header [heading]="'Services'" [icon]="'fa-settings'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                	 <h2 class="text-center">{{empformlabel}}</h2>  
           				<alert></alert>
                </div>

                <div class="col-md-10">  
      <form [formGroup]="addForm" novalidate class="form">

    <input  name="id" type="hidden" formControlName="_id" >  

<div class="row">

     <div class="form-group col-md-6">  
        <label for="service_name">Service Name</label>  
        <input formControlName="serviceName" placeholder="Service Name" class="form-control" id="service_name" [ngClass]="{ 'is-invalid': submitted && f.serviceName.errors }">  
        <div *ngIf="submitted && f.serviceName.errors" class="invalid-feedback">
          <div *ngIf="f.serviceName.errors.required">Service Name is required</div>
        </div>
     </div> 

     <div class="form-group col-md-6">  
        <label for="cat">Choose Your Category</label>  
          <select class="form-control" *ngIf="categories && categories.data" formControlName="categoryServiceId" name="cat" id="cat" >
            <option [value]=""></option>
            <option *ngFor="let val of categories.data" [value]="val._id">{{val.categoryName}}</option>
          </select> 
        <div *ngIf="submitted && f.categoryServiceId.errors" class="invalid-feedback">
          <div *ngIf="f.categoryServiceId.errors.required">Category is required</div>
        </div>
     </div> 

</div>

<div class="row">
     <div class="form-group col-md-10">  
        <label for="description">Description</label>
        <textarea formControlName="description" placeholder="Enter Your Description" class="form-control" id="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" ></textarea>    
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div *ngIf="f.description.errors.required">Description is required</div>
        </div>
     </div> 
</div>
  

	

     

<div class="row">
    <div class="form-group col-md-12 text-center">
        <button class="btn btn-success mr-4"  *ngIf="btnvisibility" (click)="onSubmit()">Save</button>   
        <button class="btn btn-success mr-4"  *ngIf="!btnvisibility" (click)="onUpdate()">Update</button> 
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button> 
    </div>
</div>
      
        <!-- <p>Form value: {{ addForm.value | json }}</p>   -->

      </form>  
    </div>  
   
            </div> 
        </div>

    </div>
</div>
    
