<div class="container">
    <div class="section-head  text-black" *ngIf="title" style="margin-top: 45px; margin-bottom: 30px; color: green">
        <h1 >{{ title }}</h1>
    </div>
    <div class="row" *ngIf="services_categ">
        <div class="col-md-3 col-sm-6" style="padding: 10px;" *ngFor="let val of services_categ; let rank = index">
            <div class="card" style="border: none; border-radius: 8px;">
                <div class="image-upload" *ngIf="val.logo">
                    <img class="card-img-top aa" [src]="val.logo" alt="Card image cap">
                </div>                
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">{{ val.categoryName }}</h5>
                    <p class="card-text">{{val.description}}.</p>
                    <div style="text-align: center;">
                        <a class="btn btn-primary" (click)="clickOnThis.emit(val)" >Read More</a>
                    </div>                    
                </div>
            </div>
        </div>    
    </div>
</div>