<div [@routerTransition]>
    <router-outlet></router-outlet>
 <div *ngIf="route.children.length === 0">
    <app-page-header [heading]="'Sub Categories'" [icon]="'fa-settings'"></app-page-header>
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    <alert></alert>
                    Sub Categories : {{subcateg?.length}}
                    <button style="text-align: right" (click)="add()" class="btn btn-success"> Add</button>                 
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>SubCategoryName</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Created On </th>
                            <th>Updated On </th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let val of subcateg;let rank = index">
                            <td scope="row">{{rank+1}}</td>
                            <td style="color: red;font-weight: bold">{{val.souscategoryName}}</td>
                            <td style="color: red;font-weight: bold"><span *ngIf="services_categ"> {{ getCategoryName(val.categoryServiceId,services_categ.data) }}</span></td>
                            <td style="color: red;font-weight: bold">{{val.description}}</td>
                            <td style="color: blue;font-weight: bold">{{val.create_date | date}}</td>
                            <td style="color: blue;font-weight: bold">{{val.update_date | date}}</td>
                            <!-- <img [src]="val.logo_category | safe: 'resourceUrl'" class="rounded mb-3 img-fluid" style="max-width: 200px;height: 200px;width: 200px;cursor: pointer;"> -->
                            <td> <button (click)="edit(val._id)" style="margin-right: 20px;" class="btn btn-info"> Edit</button>  <button type="button" class="btn btn-danger" (click)="delete(val._id)"  >Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>

    </div>
    </div>
</div>
